<div class="manual-calendar" data-ng-style="{'background-color': ikSlide.options.bgcolor, 'width': theStyle.width, 'height': theStyle.height, 'font-size': theStyle.fontsize, 'background-image': 'url(' + ikSlide.currentImage + ')', 'position': 'relative'}">
  <div class="manual-calendar--text-inner" data-ng-style="{'background-color': ikSlide.options.textbgcolor, 'color': ikSlide.options.textcolor}">
    <h1 class="manual-calendar--header">{{ikSlide.options.headline}}</h1>
    <table class="manual-calendar--events" data-ng-style="{'color': ikSlide.options.textcolor}">
      <tr class="manual-calendar--event" data-ng-repeat="event in ikSlide.options.eventitems | limitTo : ikSlide.options.displayitems | activeEvents" data-ng-style="{'border-color': ikSlide.options.textcolor}">
        <td class="manual-calendar--title">
          {{event.title}}
        </td>
        <td class="manual-calendar--place">
          {{event.place}}
        </td>
        <td class="manual-calendar--time">
          <span data-ng-if="event.dailyEvent">
            <span class="manual-calendar--from">
              {{event.from * 1000 | date:'dd. MMM'}}
            </span>  |
            <span class="manual-calendar--to" data-ng-if="event.from && event.to">{{event.from * 1000 | date:'HH:mm'}}-{{event.to * 1000 | date:'HH:mm'}} </span>
            <span class="manual-calendar--to" data-ng-if="event.from && !event.to">{{event.from * 1000 | date:'HH:mm'}}</span>
          </span>
          <span data-ng-if="!event.dailyEvent">
            <span class="manual-calendar--from">{{event.from * 1000 | date:'dd. MMM'}} - {{event.to * 1000 | date:'dd. MMM'}}</span>  |  <span class="manual-calendar--to">{{event.from * 1000 | date:'HH:mm'}}</span>
          </span>
        </td>
      </tr>
    </table>
  </div>

  <img class="manual-calendar--logo" data-ng-show="ikSlide.currentLogo" data-ng-style="{'top':ikSlide.options.logopos.top, 'bottom':ikSlide.options.logopos.bottom, 'left':ikSlide.options.logopos.left, 'right':ikSlide.options.logopos.right, 'width': ikSlide.options.logosize}" data-ng-src="{{ikSlide.currentLogo}}"/>
</div>
