/**
 * Stylesheet import
 *
 * @author magnify
 */
/* Compass */
/* Zen Grids - http://zengrids.com */
/**
 * Variables
 *
 * @author magnify
 */
/* Layout
   ================================================================================================================== */
/* Colors
   ================================================================================================================== */
/* Typograhy
   ================================================================================================================== */
/* Link colors
   ================================================================================================================== */
/* Spacing
   ================================================================================================================== */
/**
 * Theme variables
 *
 * This is an example file
 *
 * @author magnify
 */
/* Colors
   ================================================================================================================== */
/* Typograhy
   ================================================================================================================== */
/* Link colors
   ================================================================================================================== */
/**
 * Normalize
 *
 * Normalize.css v2.1.2 | MIT License | git.io/normalize
 */
/* HTML5 display definitions
   ================================================================================================================== */
/* Correct `block` display not defined in IE 8/9. */
/* line 25, ../sass/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* Correct `inline-block` display not defined in IE 8/9. */
/* line 34, ../sass/base/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* Prevent modern browsers from displaying `audio` without controls. */
/* Remove excess height in iOS 5 devices. */
/* line 42, ../sass/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* Address styling not present in IE 8/9. */
/* line 49, ../sass/base/_normalize.scss */
[hidden] {
  display: none;
}

/* Base
   ================================================================================================================== */
/* 1. Set default fontello family to sans-serif. */
/* 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
/* line 60, ../sass/base/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Remove default margin. */
/* line 69, ../sass/base/_normalize.scss */
body {
  margin: 0;
}

/* Links
   ================================================================================================================== */
/* Address `outline` inconsistency between Chrome and other browsers. */
/* line 79, ../sass/base/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and also mouse hovered in all browsers. */
/* line 86, ../sass/base/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Typography
   ================================================================================================================== */
/* Address variable `h1` fontello-size and margin within `section` and `article` */
/* contexts in Firefox 4+, Safari 5, and Chrome. */
/* line 96, ../sass/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Address styling not present in IE 8/9, Safari 5, and Chrome. */
/* line 103, ../sass/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
/* line 110, ../sass/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* Address styling not present in Safari 5 and Chrome. */
/* line 116, ../sass/base/_normalize.scss */
dfn {
  font-style: italic;
}

/* Address differences between Firefox and other browsers. */
/* line 122, ../sass/base/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* Address styling not present in IE 8/9. */
/* line 130, ../sass/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* Correct fontello family set oddly in Safari 5 and Chrome. */
/* line 140, ../sass/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers. */
/* line 147, ../sass/base/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/* Set consistent quote types. */
/* line 153, ../sass/base/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* Address inconsistent and variable fontello size in all browsers. */
/* line 159, ../sass/base/_normalize.scss */
small {
  font-size: 80%;
}

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
/* line 166, ../sass/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 173, ../sass/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 177, ../sass/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ================================================================================================================== */
/* Remove border when inside `a` element in IE 8/9. */
/* line 187, ../sass/base/_normalize.scss */
img {
  border: 0;
}

/* Correct overflow displayed oddly in IE 9. */
/* line 193, ../sass/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Figures
   ================================================================================================================== */
/* Address margin not present in IE 8/9 and Safari 5. */
/* line 203, ../sass/base/_normalize.scss */
figure {
  margin: 0;
}

/* Forms
   ================================================================================================================== */
/* Define consistent border, margin, and padding. */
/* line 213, ../sass/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* 1. Correct `color` not being inherited in IE 8/9. */
/* 2. Remove padding so people aren't caught out if they zero out fieldsets. */
/* line 222, ../sass/base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* 1. Correct fontello family not being inherited in all browsers. */
/* 2. Correct fontello size not being inherited in all browsers. */
/* 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */
/* line 234, ../sass/base/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/* Address Firefox 4+ setting `line-height` on `input` using `!important` in */
/* the UA stylesheet. */
/* line 244, ../sass/base/_normalize.scss */
button,
input {
  line-height: normal;
}

/* Address inconsistent `text-transform` inheritance for `button` and `select`. */
/* All other form control elements do not inherit `text-transform` values. */
/* Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+. */
/* Correct `select` style inheritance in Firefox 4+ and Opera. */
/* line 254, ../sass/base/_normalize.scss */
button,
select {
  text-transform: none;
}

/* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. */
/* 2. Correct inability to style clickable `input` types in iOS. */
/* 3. Improve usability and consistency of cursor style between image-type `input` and others. */
/* line 265, ../sass/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/* Re-set default cursor for disabled elements. */
/* line 273, ../sass/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* 1. Address box sizing set to `content-box` in IE 8/9. */
/* 2. Remove excess padding in IE 8/9. */
/* line 281, ../sass/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome. */
/* 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof). */
/* line 289, ../sass/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/* Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
/* line 299, ../sass/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Remove inner padding and border in Firefox 4+. */
/* line 306, ../sass/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 1. Remove default vertical scrollbar in IE 8/9. */
/* 2. Improve readability and alignment in all browsers. */
/* line 314, ../sass/base/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* Tables
   ================================================================================================================== */
/* Remove most spacing between table cells. */
/* line 325, ../sass/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Base
 *
 * Contains styling and reset of basic elements
 *
 * @author magnify
 */
/* line 10, ../sass/base/_base.scss */
body {
  background-color: white;
  color: #4d4d4d;
  font: 1em/1.5 Arial, sans-serif;
}

/* line 22, ../sass/base/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  /* This fixes huge spaces when a heading wraps onto two lines */
  line-height: 1.2;
  /* Voodoo to enable ligatures and kerning */
  text-rendering: optimizeLegibility;
}

/* line 37, ../sass/base/_base.scss */
strong {
  font-weight: bold;
}

/* line 42, ../sass/base/_base.scss */
em {
  font-style: italic;
}
/* line 45, ../sass/base/_base.scss */
em strong {
  font-weight: bold;
}

/* Links
   ================================================================================================================== */
/* line 56, ../sass/base/_base.scss */
a:link {
  color: lightblue;
  text-decoration: underline;
}
/* line 61, ../sass/base/_base.scss */
a:visited {
  color: #99cfe0;
}
/* line 65, ../sass/base/_base.scss */
a:hover {
  color: #86c5da;
  text-decoration: none;
}
/* line 70, ../sass/base/_base.scss */
a:focus {
  color: #86c5da;
}

/* Paragraph
   ================================================================================================================== */
/* line 79, ../sass/base/_base.scss */
p {
  margin-top: 0;
}

/* Image
   ================================================================================================================== */
/* line 87, ../sass/base/_base.scss */
img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

/**
 * Forms
 *
 * This is an example file
 *
 * @author magnify
 */
/* Basic styling
   ================================================================================================================== */
/* line 15, ../sass/base/_forms.scss */
input,
textarea {
  font: 1em/1.5 Arial, sans-serif;
}

/* line 29, ../sass/base/_forms.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 1px solid #cccccc;
  display: block;
  min-height: 1.25em;
  width: 100%;
  padding: .75em;
  color: #666666;
  background-color: white;
  -webkit-border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  -ms-border-radius: 0.6em;
  -o-border-radius: 0.6em;
  border-radius: 0.6em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 39, ../sass/base/_forms.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  border: 1px solid gray;
  color: #4d4d4d;
}
/* line 45, ../sass/base/_forms.scss */
input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
textarea[disabled] {
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  border: 1px solid #b3b3b3;
  background-color: #bfbfbf;
}

/* Labels
   ================================================================================================================== */
/* line 61, ../sass/base/_forms.scss */
label {
  display: block;
  margin-bottom: .25em;
  /* Move labels so they align better with fields when using rounded corners */
  margin-left: .3em;
  color: #666666;
}

/**
 * Breakpoints
 *
 * Should contain breakpoint variables and breakpoints related mixins
 *
 * @author magnify
 */
/* Breakpoints
   *
   * These are only examples, change/add/remove so they match your needs
   *
   ================================================================================================================== */
/* Mixins
   *
   * Use this mixin to change styling for your rulesets depending on a breakpoint (width)
   *
   * Usage example: @include breakpoint($breakpoint-x)
   *
   ================================================================================================================== */
/**
 * Buttons
 *
 * This is an example file
 *
 * @author magnify
 */
/* line 10, ../sass/examples/_buttons.scss */
.button {
  display: inline-block;
  font-size: 125%;
  padding: .5em 1.5em;
  position: relative;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  -ms-border-radius: 0.6em;
  -o-border-radius: 0.6em;
  border-radius: 0.6em;
  text-shadow: 0.025em 0.025em 0.1em #737373;
}
/* line 22, ../sass/examples/_buttons.scss */
.button:focus, .button:hover, .button:active {
  text-decoration: none;
}

/* line 30, ../sass/examples/_buttons.scss */
.button {
  background-color: #666666;
  border: 0;
  color: white;
}
/* line 37, ../sass/examples/_buttons.scss */
.button:hover {
  background-color: #4d4d4d;
}

/**
 * Layouts
 *
 * This is an example file
 *
 * @author magnify
 */
/* line 10, ../sass/examples/_layout.scss */
.example-header--inner, .example-layout {
  margin-right: auto;
  margin-left: auto;
  max-width: 75em;
}

/* Example logo */
/* line 19, ../sass/examples/_layout.scss */
.example-logo {
  font-size: 200%;
}

/* Example header */
/* line 25, ../sass/examples/_layout.scss */
.example-header {
  margin-bottom: 1.5em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #cccccc;
}

/* Example layout */
/* Example section */
/* line 47, ../sass/examples/_layout.scss */
.example-section {
  margin-bottom: 1.5em;
  padding: 2em;
  background-color: #e6e6e6;
}

/* Example form */
/* line 58, ../sass/examples/_layout.scss */
.example-form .example-form--input {
  margin-bottom: 1.5em;
}

/**
 * Debugging
 *
 * Contains debugging stuff, should only be used in development
 *
 * @author magnify
 */
/* Add padding bottom to body because of the fixed debug container */
/* line 11, ../sass/misc/_debug.scss */
body {
  padding-bottom: 14em;
}

/* line 16, ../sass/misc/_debug.scss */
.debug {
  padding-top: 2em;
  padding-bottom: 2em;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  background-color: yellowgreen;
}

/* line 27, ../sass/misc/_debug.scss */
.debug--header {
  padding-right: 1em;
  padding-left: 1em;
}

/* Breakpoints
   ================================================================================================================== */
/* line 37, ../sass/misc/_debug.scss */
.breakpoint-1, .breakpoint-2, .breakpoint-3 {
  display: none;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: black;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 18.75em) {
  /* line 48, ../sass/misc/_debug.scss */
  .breakpoint-1 {
    display: block;
    width: 18.75em;
  }
}

@media only screen and (min-width: 22.5em) {
  /* line 57, ../sass/misc/_debug.scss */
  .breakpoint-2 {
    display: block;
    width: 22.5em;
  }
}

@media only screen and (min-width: 28em) {
  /* line 66, ../sass/misc/_debug.scss */
  .breakpoint-3 {
    display: block;
    width: 28em;
  }
}
