@charset "UTF-8";
/**
 * Stylesheet import
 *
 * @author magnify
 */
/* Compass */
/**
 *
 * Variables
 *
 */
/* Breakpoints
   ================================================================================================================== */
/* Layout
   ================================================================================================================== */
/* Colors
   ================================================================================================================== */
/* Typograhy
   ================================================================================================================== */
/* Link colors
   ================================================================================================================== */
/* Spacing
   ================================================================================================================== */
/*------------------------------------*\
    $CSSWIZARDRY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */
/*------------------------------------*\
    $INTRODUCTION
\*------------------------------------*/
/**
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * palm     --  palm-based devices, like phones and small tablets
 * lap      --  lap-based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either `push--` or `pull--`, for
 * example:
 *
   `class="grid__item  one-half  push--one-half"`
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`
 *
   `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`
 *
   `class="grid__item  palm--one-third  desk--five-twelfths"`
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’:
 */
/**
 * Is this build mobile first? Setting to ‘true’ means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
/**
 * Would you like push and pull classes enabled?
 */
/**
 * Using `inline-block` means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’!
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in `$breakpoints`.
 */
/**
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */
/* line 213, ../sass/base/_grid.scss */
.header--inner, .slide-wrapper, .slide-editor, .slide-preview {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: -2em;
  /* [3] */
}

/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
/* line 239, ../sass/base/_grid.scss */
.header--logo, .slide, .slide-preview--one-whole, .slide-preview--three-quarters, .slide-preview--one-half, .slide-preview--one-quarter, .slide-preview--one-fifth, .slide-preview--one-sixth, .slide-preview--one-eighth, .slide-editor--wrapper,
.slide-preview--wrapper {
  display: inline-block;
  /* [1] */
  padding-left: 2em;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  -webkit-box-sizing: border-box;
  /* [5] */
  -moz-box-sizing: border-box;
  /* [5] */
  box-sizing: border-box;
  /* [5] */
}

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends `.grid`.
 */
/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `.grid`.
 */
/* line 275, ../sass/base/_grid.scss */
.header--inner, .slide-wrapper, .slide-editor, .slide-preview, .slide-editor--wrapper,
.slide-preview--wrapper {
  margin-left: 0;
}
/* line 278, ../sass/base/_grid.scss */
.header--inner > .header--logo, .slide-wrapper > .header--logo, .slide-editor > .header--logo, .slide-preview > .header--logo, .slide-editor--wrapper > .header--logo,
.slide-preview--wrapper > .header--logo, .header--inner > .slide, .slide-wrapper > .slide, .slide-editor > .slide, .slide-preview > .slide, .slide-editor--wrapper > .slide,
.slide-preview--wrapper > .slide, .header--inner > .slide-preview--one-whole, .slide-wrapper > .slide-preview--one-whole, .slide-editor > .slide-preview--one-whole, .slide-preview > .slide-preview--one-whole, .slide-editor--wrapper > .slide-preview--one-whole,
.slide-preview--wrapper > .slide-preview--one-whole, .header--inner > .slide-preview--three-quarters, .slide-wrapper > .slide-preview--three-quarters, .slide-editor > .slide-preview--three-quarters, .slide-preview > .slide-preview--three-quarters, .slide-editor--wrapper > .slide-preview--three-quarters,
.slide-preview--wrapper > .slide-preview--three-quarters, .header--inner > .slide-preview--one-half, .slide-wrapper > .slide-preview--one-half, .slide-editor > .slide-preview--one-half, .slide-preview > .slide-preview--one-half, .slide-editor--wrapper > .slide-preview--one-half,
.slide-preview--wrapper > .slide-preview--one-half, .header--inner > .slide-preview--one-quarter, .slide-wrapper > .slide-preview--one-quarter, .slide-editor > .slide-preview--one-quarter, .slide-preview > .slide-preview--one-quarter, .slide-editor--wrapper > .slide-preview--one-quarter,
.slide-preview--wrapper > .slide-preview--one-quarter, .header--inner > .slide-preview--one-fifth, .slide-wrapper > .slide-preview--one-fifth, .slide-editor > .slide-preview--one-fifth, .slide-preview > .slide-preview--one-fifth, .slide-editor--wrapper > .slide-preview--one-fifth,
.slide-preview--wrapper > .slide-preview--one-fifth, .header--inner > .slide-preview--one-sixth, .slide-wrapper > .slide-preview--one-sixth, .slide-editor > .slide-preview--one-sixth, .slide-preview > .slide-preview--one-sixth, .slide-editor--wrapper > .slide-preview--one-sixth,
.slide-preview--wrapper > .slide-preview--one-sixth, .header--inner > .slide-preview--one-eighth, .slide-wrapper > .slide-preview--one-eighth, .slide-editor > .slide-preview--one-eighth, .slide-preview > .slide-preview--one-eighth, .slide-editor--wrapper > .slide-preview--one-eighth,
.slide-preview--wrapper > .slide-preview--one-eighth, .header--inner > .slide-editor--wrapper, .slide-wrapper > .slide-editor--wrapper, .slide-editor > .slide-editor--wrapper, .slide-preview > .slide-editor--wrapper, .slide-editor--wrapper > .slide-editor--wrapper,
.slide-preview--wrapper > .slide-editor--wrapper,
.header--inner > .slide-preview--wrapper,
.slide-wrapper > .slide-preview--wrapper,
.slide-editor > .slide-preview--wrapper,
.slide-preview > .slide-preview--wrapper,
.slide-editor--wrapper > .slide-preview--wrapper,
.slide-preview--wrapper > .slide-preview--wrapper {
  padding-left: 0;
}

/**
 * Align the entire grid to the right. Extends `.grid`.
 */
/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends `.grid`.
 */
/* line 300, ../sass/base/_grid.scss */
.slide-editor--wrapper,
.slide-preview--wrapper {
  text-align: center;
}
/* line 303, ../sass/base/_grid.scss */
.slide-editor--wrapper > .header--logo,
.slide-preview--wrapper > .header--logo, .slide-editor--wrapper > .slide,
.slide-preview--wrapper > .slide, .slide-editor--wrapper > .slide-preview--one-whole,
.slide-preview--wrapper > .slide-preview--one-whole, .slide-editor--wrapper > .slide-preview--three-quarters,
.slide-preview--wrapper > .slide-preview--three-quarters, .slide-editor--wrapper > .slide-preview--one-half,
.slide-preview--wrapper > .slide-preview--one-half, .slide-editor--wrapper > .slide-preview--one-quarter,
.slide-preview--wrapper > .slide-preview--one-quarter, .slide-editor--wrapper > .slide-preview--one-fifth,
.slide-preview--wrapper > .slide-preview--one-fifth, .slide-editor--wrapper > .slide-preview--one-sixth,
.slide-preview--wrapper > .slide-preview--one-sixth, .slide-editor--wrapper > .slide-preview--one-eighth,
.slide-preview--wrapper > .slide-preview--one-eighth, .slide-editor--wrapper > .slide-editor--wrapper,
.slide-preview--wrapper > .slide-editor--wrapper,
.slide-editor--wrapper > .slide-preview--wrapper,
.slide-preview--wrapper > .slide-preview--wrapper {
  text-align: left;
}

/**
 * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
 * `.grid`.
 */
/**
 * Create grids with narrower gutters. Extends `.grid`.
 */
/**
 * Create grids with wider gutters. Extends `.grid`.
 */
/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
 * Whole
 */
/* line 367, ../sass/base/_grid.scss */
.slide, .slide-preview--one-whole, .slide-preview--three-quarters, .slide-preview--one-half, .slide-preview--one-quarter, .slide-preview--one-fifth, .slide-preview--one-sixth, .slide-preview--one-eighth {
  width: 100%;
}

/**
 * Halves
 */
/**
 * Thirds
 */
/**
 * Quarters
 */
/**
 * Fifths
 */
/**
 * Sixths
 */
/**
 * Eighths
 */
/**
 * Tenths
 */
/**
 * Twelfths
 */
/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (max-width: 480px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /* line 373, ../sass/base/_grid.scss */
  .header--logo {
    width: 50%;
  }

  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /* line 386, ../sass/base/_grid.scss */
  .header--logo {
    width: 25%;
  }

  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
@media only screen and (max-width: 1023px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
@media only screen and (min-width: 1024px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /* line 403, ../sass/base/_grid.scss */
  .header--logo {
    width: 16.666%;
  }

  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
@media only screen and (min-width: 1700px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
/**
 *
 * Mixins
 *
 */
/**
 *
 * Normalize
 *
 * Normalize.css v2.1.2 | MIT License | git.io/normalize
 *
 */
/* HTML5 display definitions
   ================================================================================================================== */
/* Correct `block` display not defined in IE 8/9. */
/* line 16, ../sass/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* Correct `inline-block` display not defined in IE 8/9. */
/* line 34, ../sass/base/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* Prevent modern browsers from displaying `audio` without controls. */
/* Remove excess height in iOS 5 devices. */
/* line 44, ../sass/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* Address styling not present in IE 8/9. */
/* line 51, ../sass/base/_normalize.scss */
[hidden] {
  display: none;
}

/* Base
   ================================================================================================================== */
/* 1. Set default fontello family to sans-serif. */
/* 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
/* line 62, ../sass/base/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Remove default margin. */
/* line 71, ../sass/base/_normalize.scss */
body {
  margin: 0;
}

/* Links
   ================================================================================================================== */
/* Address `outline` inconsistency between Chrome and other browsers. */
/* line 81, ../sass/base/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and also mouse hovered in all browsers. */
/* line 87, ../sass/base/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Typography
   ================================================================================================================== */
/* Address variable `h1` fontello-size and margin within `section` and `article` */
/* contexts in Firefox 4+, Safari 5, and Chrome. */
/* line 98, ../sass/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Address styling not present in IE 8/9, Safari 5, and Chrome. */
/* line 105, ../sass/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
/* line 111, ../sass/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* Address styling not present in Safari 5 and Chrome. */
/* line 118, ../sass/base/_normalize.scss */
dfn {
  font-style: italic;
}

/* Address differences between Firefox and other browsers. */
/* line 124, ../sass/base/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* Address styling not present in IE 8/9. */
/* line 132, ../sass/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* Correct fontello family set oddly in Safari 5 and Chrome. */
/* line 139, ../sass/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers. */
/* line 149, ../sass/base/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/* Set consistent quote types. */
/* line 155, ../sass/base/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* Address inconsistent and variable fontello size in all browsers. */
/* line 161, ../sass/base/_normalize.scss */
small {
  font-size: 80%;
}

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
/* line 167, ../sass/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 175, ../sass/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 179, ../sass/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ================================================================================================================== */
/* Remove border when inside `a` element in IE 8/9. */
/* line 189, ../sass/base/_normalize.scss */
img {
  border: 0;
}

/* Correct overflow displayed oddly in IE 9. */
/* line 195, ../sass/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Figures
   ================================================================================================================== */
/* Address margin not present in IE 8/9 and Safari 5. */
/* line 205, ../sass/base/_normalize.scss */
figure {
  margin: 0;
}

/* Forms
   ================================================================================================================== */
/* Define consistent border, margin, and padding. */
/* line 215, ../sass/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* 1. Correct `color` not being inherited in IE 8/9. */
/* 2. Remove padding so people aren't caught out if they zero out fieldsets. */
/* line 224, ../sass/base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* 1. Correct fontello family not being inherited in all browsers. */
/* 2. Correct fontello size not being inherited in all browsers. */
/* 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */
/* line 233, ../sass/base/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/* Address Firefox 4+ setting `line-height` on `input` using `!important` in */
/* the UA stylesheet. */
/* line 245, ../sass/base/_normalize.scss */
button,
input {
  line-height: normal;
}

/* Address inconsistent `text-transform` inheritance for `button` and `select`. */
/* All other form control elements do not inherit `text-transform` values. */
/* Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+. */
/* Correct `select` style inheritance in Firefox 4+ and Opera. */
/* line 255, ../sass/base/_normalize.scss */
button,
select {
  text-transform: none;
}

/* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. */
/* 2. Correct inability to style clickable `input` types in iOS. */
/* 3. Improve usability and consistency of cursor style between image-type `input` and others. */
/* line 264, ../sass/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/* Re-set default cursor for disabled elements. */
/* line 274, ../sass/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* 1. Address box sizing set to `content-box` in IE 8/9. */
/* 2. Remove excess padding in IE 8/9. */
/* line 282, ../sass/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome. */
/* 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof). */
/* line 291, ../sass/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/* Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
/* line 300, ../sass/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Remove inner padding and border in Firefox 4+. */
/* line 307, ../sass/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 1. Remove default vertical scrollbar in IE 8/9. */
/* 2. Improve readability and alignment in all browsers. */
/* line 316, ../sass/base/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* Tables
   ================================================================================================================== */
/* Remove most spacing between table cells. */
/* line 327, ../sass/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 *
 * Base
 *
 * Contains styling and reset of basic elements
 *
 */
/* line 10, ../sass/base/_base.scss */
html {
  height: 100%;
}

/* line 14, ../sass/base/_base.scss */
body {
  height: 100%;
  background-color: white;
  color: #222;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 23, ../sass/base/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  /* This fixes huge spaces when a heading wraps onto two lines */
  line-height: 1.2;
  /* Voodoo to enable ligatures and kerning */
  text-rendering: optimizeLegibility;
}

/* line 43, ../sass/base/_base.scss */
strong {
  font-weight: bold;
}

/* line 48, ../sass/base/_base.scss */
em {
  font-style: italic;
}
/* line 51, ../sass/base/_base.scss */
em strong {
  font-weight: bold;
}

/* Links
   ================================================================================================================== */
/* line 62, ../sass/base/_base.scss */
a:link {
  color: #2c79d3;
  text-decoration: underline;
}
/* line 67, ../sass/base/_base.scss */
a:visited {
  color: #286dbe;
}
/* line 71, ../sass/base/_base.scss */
a:hover {
  color: #2361a9;
  text-decoration: none;
}
/* line 76, ../sass/base/_base.scss */
a:focus {
  color: #2361a9;
}

/* Paragraph
   ================================================================================================================== */
/* line 85, ../sass/base/_base.scss */
p {
  margin-top: 0;
}

/* Image
   ================================================================================================================== */
/* line 93, ../sass/base/_base.scss */
img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

/**
 *
 * Forms
 *
 * This is an example file
 *
 */
/* Basic styling
   ================================================================================================================== */
/* line 14, ../sass/base/_forms.scss */
input,
textarea {
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 19, ../sass/base/_forms.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 1px solid #ddd;
  display: block;
  min-height: 1.25em;
  width: 100%;
  padding: .75em;
  color: #222;
  background-color: white;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 39, ../sass/base/_forms.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  border: 1px solid #333;
  color: #111;
}
/* line 45, ../sass/base/_forms.scss */
input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
textarea[disabled] {
  -moz-box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  border: 1px solid #ccc;
  background-color: #d9d9d9;
}

/* Labels
   ================================================================================================================== */
/* line 61, ../sass/base/_forms.scss */
label {
  display: block;
  margin-bottom: .25em;
  /* Move labels so they align better with fields when using rounded corners */
  margin-left: .3em;
  color: #222;
}

/**
 *
 * Buttons
 *
 * This is an example file
 *
 */
/* line 10, ../sass/layout/_buttons.scss */
.button {
  display: inline-block;
  font-size: 125%;
  padding: .5em 1.5em;
  position: relative;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  text-shadow: 0.025em 0.025em 0.1em #2f2f2f;
}
/* line 20, ../sass/layout/_buttons.scss */
.button:focus, .button:hover, .button:active {
  text-decoration: none;
}

/* line 30, ../sass/layout/_buttons.scss */
.button {
  background-color: #357FD1;
  border: 0;
  color: white;
}
/* line 37, ../sass/layout/_buttons.scss */
.button:link, .button:visited, .button:hover {
  background-color: #2361a9;
  color: white;
  text-decoration: none;
}

/**
 *
 * Layouts
 *
 */
/* line 8, ../sass/layout/_layout.scss */
.header--inner, .layout-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 75em;
}

/* Header */
/* line 17, ../sass/layout/_layout.scss */
.header {
  margin-bottom: 1.5em;
  padding: 1em;
  background-color: #111;
}
@media only screen and (min-width: 1024px) {
  /* line 17, ../sass/layout/_layout.scss */
  .header {
    padding: 1em 0;
  }
}

/* Layout */
/* Slide */
/* line 53, ../sass/layout/_layout.scss */
.slide, .slide-preview--one-whole, .slide-preview--three-quarters, .slide-preview--one-half, .slide-preview--one-quarter, .slide-preview--one-fifth, .slide-preview--one-sixth, .slide-preview--one-eighth {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  background-color: #ddd;
}

/* line 64, ../sass/layout/_layout.scss */
.slide--text, .slide-preview--one-whole .slide-preview--text, .slide-preview--three-quarters .slide-preview--text, .slide-preview--one-half .slide-preview--text, .slide-preview--one-quarter .slide-preview--text, .slide-preview--one-fifth .slide-preview--text, .slide-preview--one-sixth .slide-preview--text, .slide-preview--one-eighth .slide-preview--text {
  margin: 2em;
  padding: 2em;
  background-color: black;
  color: white;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 75, ../sass/layout/_layout.scss */
.slide-editor--text {
  display: block;
  margin: 1em;
  padding: .75em;
  background-color: white;
  color: black;
  text-align: center;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 89, ../sass/layout/_layout.scss */
.slide-wrapper {
  height: 100%;
}

/* line 105, ../sass/layout/_layout.scss */
.slide {
  min-height: 100%;
  -webkit-text-size-adjust: none;
  font-size: 32px;
}

/* line 117, ../sass/layout/_layout.scss */
.slide-editor, .slide-preview {
  margin-bottom: 2em;
}

/* line 126, ../sass/layout/_layout.scss */
.slide-editor--header,
.slide-preview--header {
  font-weight: bold;
  text-align: center;
}
/* line 131, ../sass/layout/_layout.scss */
.slide-editor--wrapper,
.slide-preview--wrapper {
  overflow: auto;
  max-height: 250px;
}
@media only screen and (min-width: 1024px) {
  /* line 131, ../sass/layout/_layout.scss */
  .slide-editor--wrapper,
  .slide-preview--wrapper {
    max-height: 1000px;
  }
}
/* line 145, ../sass/layout/_layout.scss */
.slide-editor--icon,
.slide-preview--icon {
  max-width: 25px;
  margin-right: 8px;
}
/* line 150, ../sass/layout/_layout.scss */
.slide-editor--icon-background,
.slide-preview--icon-background {
  max-width: 25px;
  margin-right: 8px;
}
/* line 155, ../sass/layout/_layout.scss */
.slide-editor .slide-preview--text,
.slide-preview .slide-preview--text {
  position: relative;
}

/* line 165, ../sass/layout/_layout.scss */
.slide-editor a:link, .slide-editor a:visited {
  text-decoration: none;
}
/* line 170, ../sass/layout/_layout.scss */
.slide-editor a:hover, .slide-editor a:focus {
  text-decoration: none;
}

/* line 185, ../sass/layout/_layout.scss */
.slide-preview a:link, .slide-preview a:visited {
  color: white;
  text-decoration: none;
}
/* line 191, ../sass/layout/_layout.scss */
.slide-preview a:hover, .slide-preview a:focus {
  color: #e6e6e6;
  text-decoration: none;
}
/* line 198, ../sass/layout/_layout.scss */
.slide-preview--icon {
  position: absolute;
  right: 10px;
  bottom: -10px;
}
/* line 204, ../sass/layout/_layout.scss */
.slide-preview--icon-background {
  position: absolute;
  left: 10px;
  bottom: -80px;
}
/* line 210, ../sass/layout/_layout.scss */
.slide-preview--one-whole {
  height: 1080px;
  width: 1920px;
}
/* line 216, ../sass/layout/_layout.scss */
.slide-preview--one-whole .slide-preview--text {
  -webkit-text-size-adjust: none;
  font-size: 32px;
}
/* line 223, ../sass/layout/_layout.scss */
.slide-preview--three-quarters {
  height: 810px;
  width: 1440px;
}
/* line 229, ../sass/layout/_layout.scss */
.slide-preview--three-quarters .slide-preview--text {
  -webkit-text-size-adjust: none;
  font-size: 24px;
}
/* line 237, ../sass/layout/_layout.scss */
.slide-preview--one-half {
  height: 540px;
  width: 960px;
}
/* line 243, ../sass/layout/_layout.scss */
.slide-preview--one-half .slide-preview--text {
  -webkit-text-size-adjust: none;
  font-size: 16px;
}
/* line 250, ../sass/layout/_layout.scss */
.slide-preview--one-quarter {
  height: 270px;
  width: 480px;
}
/* line 256, ../sass/layout/_layout.scss */
.slide-preview--one-quarter .slide-preview--text {
  -webkit-text-size-adjust: none;
  font-size: 8px;
}
/* line 263, ../sass/layout/_layout.scss */
.slide-preview--one-fifth {
  height: 216px;
  width: 384px;
}
/* line 269, ../sass/layout/_layout.scss */
.slide-preview--one-fifth .slide-preview--text {
  -webkit-text-size-adjust: none;
  font-size: 6.4px;
}
/* line 276, ../sass/layout/_layout.scss */
.slide-preview--one-sixth {
  height: 180px;
  width: 320px;
}
/* line 282, ../sass/layout/_layout.scss */
.slide-preview--one-sixth .slide-preview--text {
  -webkit-text-size-adjust: none;
  font-size: 5.312px;
}
/* line 289, ../sass/layout/_layout.scss */
.slide-preview--one-eighth {
  height: 135px;
  width: 240px;
}
/* line 295, ../sass/layout/_layout.scss */
.slide-preview--one-eighth .slide-preview--text {
  -webkit-text-size-adjust: none;
  font-size: 4px;
}

/* line 1, ../sass/ik/_ik.scss */
.slider-container {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

/* line 8, ../sass/ik/_ik.scss */
.preview-size-dropdown {
  width: 100%;
}

/* line 12, ../sass/ik/_ik.scss */
.slide-edit-overlay {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  padding-top: 2em;
  width: 300px;
  background-color: #000;
  color: #fff;
  -moz-box-shadow: -8px 8px 20px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -8px 8px 20px rgba(0, 0, 0, 0.25);
  box-shadow: -8px 8px 20px rgba(0, 0, 0, 0.25);
}
/* line 26, ../sass/ik/_ik.scss */
.slide-edit-overlay.is-visible {
  display: block;
}
/* line 30, ../sass/ik/_ik.scss */
.slide-edit-overlay label {
  color: white;
}

/* line 37, ../sass/ik/_ik.scss */
.ik-form {
  padding-left: 1em;
  padding-right: 1em;
}
/* line 41, ../sass/ik/_ik.scss */
.ik-form input,
.ik-form textarea {
  margin-bottom: 1em;
}

/* line 47, ../sass/ik/_ik.scss */
.button-wrapper {
  text-align: center;
}
/* line 50, ../sass/ik/_ik.scss */
.button-wrapper button {
  margin-right: auto;
  margin-left: auto;
}

/* line 56, ../sass/ik/_ik.scss */
.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .3;
  display: none;
}
/* line 66, ../sass/ik/_ik.scss */
.page-overlay.is-visible {
  display: block;
}
