/**
 *
 * Popup
 *
 */


.popup {
  background-color: rgba(0, 0, 0, .5);

  &.is-positioned {
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .2s, z-index .2s; // Use z-index to show hide since "display:none" doesn't work with transitions.
    z-index: -1;
  }

  &.is-visible {
    opacity: 1;
    z-index: 99;
  }
  
  &--dialog {
    background: $white;
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    margin: 40px auto;
    max-width: 50%;
    transition: top .25s;
    transition-timing-function: ease-in-out;

    &.is-positioned {
      left: 0;
      position: absolute;
      right: 0;
      top: -100%;
    }

    &.is-visible {
      top: 0;
    }
  }

  &--content {
    padding: 2em;
  }
}