<section id="create-slide-three" class="create-slide--section">
  <div class="create-slide--content--slide-three">
    <h1 class="create-slide--header">Opret slide (3/4)</h1>
    <p class="create-slide--header-description">Vælg template - du kan altid ændre dt valg senere.</p>
    <div class="create-slide--templates">
      <div class="create-slide--template">
        <div class="create-slide--template-link">
              <span class="create-slide--overlay">
                <span class="create-slide--link-check"></span>
              </span>
          <img src="/images/outlines/template-example-1.png"/>
        </div>
      </div>
      <div class="create-slide--template">
        <div class="create-slide--template-link is-selected">
              <span class="create-slide--overlay">
                <span class="create-slide--link-check"></span>
              </span>
          <img src="/images/outlines/template-example-2.png"/>
        </div>
      </div>
      <div class="create-slide--template">
        <div class="create-slide--template-link">
              <span class="create-slide--overlay">
                <span class="create-slide--link-check"></span>
              </span>
          <img src="/images/outlines/template-example-3.png"/>
        </div>
      </div>
      <div class="create-slide--template">
        <div class="create-slide--template-link">
              <span class="create-slide--overlay">
                <span class="create-slide--link-check"></span>
              </span>
          <img src="/images/outlines/template-example-4.png"/>
        </div>
      </div>
      <div class="create-slide--template">
        <div class="create-slide--template-link">
              <span class="create-slide--overlay">
                <span class="create-slide--link-check"></span>
              </span>
          <img src="/images/outlines/template-example-5.png"/>
        </div>
      </div>
    </div>
    <input type="submit" class="create-slide--button is-inactive" value="Gem og fortsæt">
  </div>
</section>