<section id="create-slide-four" class="create-slide--section">
  <div class="create-slide--content--slide-four">
    <h1 class="create-slide--header">Opret slide ({{step}}/{{steps}})</h1>
    <p class="create-slide--header-description">Tilføj indhold - husk at se dit indhold på alle dine skærme.</p>
    <div class="create-slide--config" data-ng-style="{'background-color': slide.options.bgcolor, 'width': style.width, 'height': style.height, 'font-size': style.fontsize}">
      <div class="create-slide--config-text-wrapper">
        <div class="create-slide--config-text">
          <div class="create-slide--edit-box-settings"></div>
          <h1 class="create-slide--config-header"><div class="has-placeholder" placeholder="Enter a title" contenteditable="true" data-ng-model="slide.options.headline" spellcheck="false"></div></h1>
          <div class="create-slide--config-description has-placeholder" placeholder="This is the content of the slide, edit this text. The bounding box will expand accoding to how much text you add. Note that the maximum height of this textbox is 50% of the total height of the slide."  contenteditable="true" data-ng-model="slide.options.text" spellcheck="false"></div>
        </div>
      </div>
      <div class="create-slide--edit-image-settings"></div>
      <img src="{{slide.options.image}}" class="create-slide--image"/>
    </div>
    <input type="submit" class="create-slide--button" value="Gem og opret" data-ng-click="submitStep()">
  </div>
</section>