<section id="create-slide-two" class="create-slide--section">
  <div class="create-slide--content--slide-two">
    <h1 class="create-slide--header">Opret slide ({{step}}/{{steps}})</h1>
    <p class="create-slide--header-description">Vælg hvilken type skærm du har - er den bred eller høj?</p>
    <div class="create-slide--screens">
      <div class="create-slide--screen-landscape">
        <div class="create-slide--screen-link is-selected">
          <span class="create-slide--overlay">
            <span class="create-slide--link-check"></span>
          </span>
          <img src="/images/outlines/landscape-outline.png"/>
        </div>
      </div>
      <div class="create-slide--screen-portrait">
        <div class="create-slide--screen-link">
          <span class="create-slide--overlay">
            <span class="create-slide--link-check"></span>
          </span>
          <img src="/images/outlines/portrait-outline.png" />
        </div>
      </div>
    </div>
    <input type="submit" class="create-slide--button" value="Gem og fortsæt" ng-click="submitStep()">
  </div>
</section>
