<div class="cpw--selected-channels">
  <input type="search" class="cpw--selected-channels-search" placeholder="Søg..." size="30" maxlength="128" data-ng-change="updateSearch()" data-ng-model="search_text" data-ng-model-options="{debounce: 500}">
  <div class="cpw--selected-channels-list">
    <div class="cpw--selected-channels-item" data-ng-repeat="csr in screen.channel_screen_regions | filter: {shared_channel: '!', channel: getSearch()}" data-ng-if="csr.region === region">
      <div class="cpw--selected-channels-item-image">
        <ik-channel class="overview--channel-container" ik-channel="csr.channel" ik-width="{{channel.orientation == 'portrait' ? 112.5 : 200 }}" ik-single-slide="false" ik-clickable="false"></ik-channel>
      </div>
      <div class="cpw--selected-channels-item-content">
        <h3 class="cpw--selected-channels-item-header">{{ csr.channel.title }}</h3>
        <div class="cpw--selected-channels-item-meta">{{ csr.channel.description }}</div>
        <a data-ng-click="removeChannel(csr.channel)" class="cpw--selected-channels-item-action">Fjern</a>
      </div>
    </div>
    <div class="cpw--selected-channels-item" data-ng-repeat="csr in screen.channel_screen_regions | filter: {channel: '!', shared_channel: getSearch()}" data-ng-if="csr.region === region">
      <div class="cpw--selected-channels-item-image">
        <ik-shared-channel class="overview--channel-container" ik-sharing-index="" ik-channel="csr.shared_channel" ik-width="{{channel.orientation == 'portrait' ? 112.5 : 200 }}" ik-single-slide="false" ik-clickable="false"></ik-shared-channel>
      </div>
      <div class="cpw--selected-channels-item-content">
        <h3 class="cpw--selected-channels-item-header">{{ csr.shared_channel.title }}</h3>
        <div class="cpw--selected-channels-item-meta">{{ csr.shared_channel.description }}</div>
        <a data-ng-click="removeChannel(csr.shared_channel)" class="cpw--selected-channels-item-action">Fjern</a>
      </div>
    </div>
  </div>
</div>