/**
 *
 * Layouts
 *
 */


%layout-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 75em;
}


/* Header */

.header {
  margin-bottom: $margin-bottom;
  padding: 1em;

  background-color: #111;

  @include breakpoint($breakpoint-desk) {
    padding: 1em 0;
  }

  &--inner {
    @extend %grid;
    @extend %grid--full;
    @extend %layout-container;
  }

  &--logo {
    @extend %grid__item;
    @extend %palm--one-half;
    @extend %lap--one-quarter;
    @extend %desk--one-sixth;
  }
}



/* Layout */

.layout-wrapper {
  @extend %layout-container;
}



/* Slide */

%slide-base {
  @extend %grid__item;
  @extend %one-whole;

  @include box-sizing(border-box);

  height: 100%;

  background-color: #ddd;
}

%slide--text {
  margin: 2em;
  padding: 2em;

  background-color: transparentize($black, .85);

  @include border-radius($border-radius);
  @include box-sizing(border-box);
}


.slide-wrapper {
  @extend %grid;
  @extend %grid--full;

  height: 100%;
}

$template-1-font-size: 2em;

@mixin template-font-size($font-size, $scale) {
  font-size: $font-size * $scale;
}


.slide {
  @extend %slide-base;

  min-height: 100%;

  @include template-font-size($template-1-font-size, 1);
}

.slide--text {
  @extend %slide--text;
}


.slide-preview {
  @extend %grid;
  @extend %grid--full;

  margin-bottom: 2em;

  &--header {
    font-weight: bold;
    text-align: center;
  }

  &--wrapper {
    @extend %grid--full;
    @extend %grid--center;
    @extend %grid__item;

    overflow: auto;

    max-height: 250px;

    @include breakpoint($breakpoint-desk) {
      max-height: 1000px;
    }
  }

  &--one-whole {
    @extend %slide-base;

    height: 1080px;
    width: 1920px;

    .slide-preview--text {
      @extend %slide--text;

      @include template-font-size($template-1-font-size, 1);
    }
  }

  &--one-half {
    @extend %slide-base;

    height: 540px;
    width: 960px;

    .slide-preview--text {
      @extend %slide--text;

      @include template-font-size($template-1-font-size, .5);
    }
  }

  &--one-quarter {
    @extend %slide-base;

    height: 270px;
    width: 480px;

    .slide-preview--text {
      @extend %slide--text;

      @include template-font-size($template-1-font-size, .25);
    }
  }

  &--one-fifth {
    @extend %slide-base;

    height: 216px;
    width: 384px;

    .slide-preview--text {
      @extend %slide--text;

      @include template-font-size($template-1-font-size, .125);
    }
  }

  &--one-eighth {
    @extend %slide-base;

    height: 135px;
    width: 240px;

    .slide-preview--text {
      @extend %slide--text;

      @include template-font-size($template-1-font-size, .125);
    }
  }

  &--palm {
    @extend %slide-base;

    height: 180px;
    width: 320px;

    .slide-preview--text {
      @extend %slide--text;

      @include template-font-size($template-1-font-size, .125);
    }
  }
}
