/**
 *
 * Layouts
 *
 */


/* Switch page animations */
.view-container {
  position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
}

.ng-enter {
  @include animation(fade-in 1s);
}

.ng-leave {
  @include animation(fade-out 1s);
}