.text-bottom {
  background-size: cover;
}


.text-bottom--text-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;

  @include border-radius(1em);
}


.text-bottom--text-inner {
  background: rgba(0,0,0,0.7);
  box-sizing: border-box;
  color: #fff;
  margin: 1.2rem auto;
  padding: 4%;
  text-align: left;
  position:relative;
  width: 95%;

  @include border-radius(1rem);
}


.text-bottom--header {
  &.has-placeholder {
    @extend %show-placeholder-text;
  }

  font-size: 100%;
}


.text-bottom--description {
  &.has-placeholder {
    @extend %show-placeholder-text;
  }

  font-size: 70%;
}


.text-bottom--edit-box-settings {
  @extend %slide--edit-box-settings;
}


.text-bottom--edit-image-settings {
  @extend %slide--edit-image-settings;

  bottom: auto;
  top: 15%;
}