<div class="text-bottom" data-ng-style="{'background-color': ikSlide.options.bgcolor, 'width': theStyle.width, 'height': theStyle.height, 'font-size': theStyle.fontsize, 'background-image': 'url(' + ikSlide.currentImage + ')'}">
  <div class="text-bottom--text-wrapper">
    <div class="text-bottom--text-inner" data-ng-style="{'background-color': ikSlide.options.textbgcolor, 'color': ikSlide.options.textcolor}">
      <div class="text-bottom--edit-box-settings" ng-click="editor.toggleTextEditor()"></div>
      <h1 class="text-bottom--header has-placeholder" placeholder="Tilføj en overskrift" contenteditable="true" data-ng-model="ikSlide.options.headline" spellcheck="false"></h1>
      <pre class="text-bottom--description has-placeholder" placeholder="Her kan du skrive teksten til din slide. Boksen udvider sig når du tilføjer tekst."  contenteditable="true" data-ng-model="ikSlide.options.text" spellcheck="false"></pre>
    </div>
  </div>
  <div class="text-bottom--edit-image-settings" ng-click="editor.toggleBackgroundEditor()"></div>
</div>
