/**
 * Layouts
 *
 * This is an example file
 *
 * @author magnify
 */


%example-center-layout-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 75em;
}


/* Example logo */

.example-logo {
  font-size: 200%;
}

/* Example header */

.example-header {
  margin-bottom: $margin-bottom;
  padding-top: 2em;
  padding-bottom: 2em;

  background-color: $gray-lighter;
}

.example-header--inner {
  @extend %example-center-layout-container;
}


/* Example layout */

.example-layout {
  @extend %example-center-layout-container;
}


/* Example section */

.example-section {
  margin-bottom: $margin-bottom;
  padding: 2em;

  background-color: $gray-lightest;
}


/* Example form */

.example-form {
  .example-form--input {
    margin-bottom: $margin-bottom;
  }
}
