<!-- Wrapper start -->
<div style="width: 1080px; height: 1920px;">
  <!-- Zone start -->
  <div style="width: 1080px; height: 320px; position: relative;">
    <div data-ng-class="{'is-active': region === 1}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 1})">
      <region region-id="1" show-progress="true" scale="0.50"></region>
    </div>
  </div>
  <!-- Zone end -->
  <!-- Rows start -->
  <div style="padding-top: 80px;">
    <div style="width: 1080px; height: 160px; position: relative;">
      <div class="presentation--region--region-content" data-ng-class="{'is-active': region === 2}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 2})">
        <region region-id="2" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div style="width: 1080px; height: 160px; position: relative;">
      <div data-ng-class="{'is-active': region === 3}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 3})">
        <region region-id="3" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div style="width: 1080px; height: 160px; position: relative;">
      <div data-ng-class="{'is-active': region === 4}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 4})">
        <region region-id="4" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div style="width: 1080px; height: 160px; position: relative;">
      <div data-ng-class="{'is-active': region === 5}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 5})">
        <region region-id="5" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div style="width: 1080px; height: 160px; position: relative;">
      <div data-ng-class="{'is-active': region === 6}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 6})">
        <region region-id="6" show-progress="true" scale="0.50"></region>
      </div>
    </div>
  </div>
  <!-- Rows end -->
  <!-- Fill start -->
  <div style="padding-top: 80px;">
    <div style="width: 1080px; height: 800px; position: relative;">
      <div data-ng-class="{'is-active': region === 7}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 7})">
        <region region-id="7" show-progress="true" scale="0.50"></region>
      </div>
    </div>
  </div>
  <!-- Fill end -->
</div>
