.two-rows-portrait {
  background-color: #fff;
}
.two-rows-portrait__inner {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px;
}
.two-rows-portrait__region {
  .slide-block {
    height: 50%;
  }
  &:last-child {
    .slide-block {
      top: 50%;
    }
  }
}
