<div class="two-rows-portrait">
  <div class="two-rows-portrait--inner">
    <div class="two-rows-portrait--region-vertical" style="width: auto; height:50vh;">
      <div class="two-rows-portrait--region-content">
        <div class="slide">
          <region region-id="1" show-progress="true" scale="0.5" dimmer="dut"></region>
        </div>
      </div>
    </div>
  </div>
  <div class="two-rows-portrait--region-vertical" style="width: auto; height:50vh;">
    <div class="two-rows-portrait--region-content">
      <div class="slide">
        <region region-id="2" show-progress="true" scale="0.5" dimmer="dut"></region>
      </div>
    </div>
  </div>
</div>
