.actions-menu {
  @include user-select('none');

  position: absolute;
  top: 0;
  right: 4em;
  left: auto;

  border: 1px solid transparent;
  padding: .1em;

  text-align: right;

  @include border-radius($border-radius);

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }

  &--toggle {
    left: auto;

    width: 20px;
    height: 20px;
  }

  &.is-active {
    position: absolute;

    background-color: white;
    border: 1px solid $gray-light;
    min-height: 80px;
    min-width: 140px;
  }

  &--content {
    padding: .5em;

    text-align: left;
  }

  &--click {
    z-index: 5;
  }
}