/**
 *
 * Control panel.
 *
 * Wrapper for controlling the presentation.
 * For specific widget styles see _control-panel-widgets.scss
 *
 */



/* Silent classes, mixins and variables related to this document
   ========================================================================== */

// Control panel styling shared by all panels.
%control-panel-base {
  border-left: $border-width solid $gray-lighter;
  box-sizing: border-box;
  height: 100%;
  overflow: visible;

  background: $white;
  width: 100%;
  color: $gray-darker;
}

%control-panel--tab {
  margin-bottom: 7em;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  padding: 2em;
  box-sizing: border-box;
  bottom: 0;
  top: 0;

  &.has-menu {
    margin-top: 6em;
  }
}



/* Styles
   ========================================================================== */

.control-panel {
  height: auto;

  @include breakpoint($breakpoint-desk) {
    height: 100%;
  }
}

/* The default control panel. */
.control-panel--main {
  @extend %control-panel-base;
}


/* Toggle for mobile devices. (Disabled) */
.control-panel--main-toggle {
  display: none;  // @todo support mobile configuration.
  border: 1px solid $gray-lighter;
  box-sizing: border-box;
  position: absolute;
  margin-left: -4.5em;
  height: 3em;
  width: 3em;

  background: white;
  line-height: 3em;
  text-align: center;

  @include strip-link-styles();
  @include border-left-radius($border-radius);

  &-image {
    vertical-align: middle;
  }
}

// Tabs in a control panel.
.control-panel--tool-tab,
.control-panel--tab {
  @extend %control-panel--tab;
}


/* The overlay control panels. */
.control-panel--tool {
  @extend %itk--menu;  // Use the ITK menu component.

  position: absolute; // Override component settings.
  max-width: 100%;  // Override component settings.

  @include box-shadow(0 0 0 transparentize($black, .75)); // Override component settings.

  @extend %control-panel-base;

  top: 0;
}


/* Display navigation in the control panel */
.control-panel--nav-wrapper {
  height: 3em;
  margin: 2em 0;
  padding: 0 2em;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  display: block;
  left: 0;
  top: 0;
}

.control-panel--nav {
  @extend %itk--tabs; // Use the ITK tabs component.
}

.control-panel--nav-item {
  @extend %itk--tabs-item; // Use the ITK tabs component.

  &.is-active {
    font-weight: bold;
  }
}


/* Bottom actions for control panel. */
.control-panel--actions {
  background: $white;
  height: 7em;
  position: absolute;
  width: 100%;
  bottom: 0;

  &-inner {
    border-top: $border-width solid $gray-lighter;
    border-bottom: $border-width solid $gray-lighter;
    margin-bottom: 3em;
    padding: 1em 0;
    text-align: center;
  }

  &-close {
    @extend %button--default;

    font-size: 110%;
    max-width: 15em;
    margin: 0 auto;
  }
}