/**
 *
 * CPW - Control panel widgets
 *
 * For displaying widgets inside the control panel.
 *
 */



/* Silent classes, mixins and variables related to this document
   ========================================================================== */

/* A simple wrapper for grouping widgets. */
%cpw--wrapper {
  border: $border-width solid $gray-light;
  margin-bottom: 2em;
  padding: 2em;

  @include border-radius($border-radius);
}

// Default display and margin for labels in the control panel.
%cpw--label {
  color: $gray-darker;
  margin-bottom: 1em;
}


%cpw--text { // Overwrite _forms.scss.
  margin-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
  }
}


%cpw--search {
  box-sizing: border-box;
  background: url("../../images/filter-icon.png") no-repeat 1em 50%;
  padding-left: 3em;
}


%cpw--list-item {
  box-sizing: border-box;
  border: $border-width solid $gray-light;
  font-size: 0;
  margin-bottom: 2rem;
  padding: 1rem;

  @include border-radius(.4rem);

  &:last-child {
    margin: 0;
  }
}

/* Styles
   ========================================================================== */


/* A simple wrapper for grouping widgets. */
.cpw--wrapper {
  @extend %cpw--wrapper;
}


/* Text widget */
.cpw--text {
  @extend %cpw--text;

  &-label {
    @extend %cpw--label;
  }
}

/* Text widget */
.cpw--textarea {
  @extend %cpw--text;

  &-label {
    @extend %cpw--label;
  }

  &-input {
    max-width: 100%;
  }
}

/* Screen sections widget */
.cpw--screen-sections {
  @extend %cpw--wrapper;

  text-align: center;

  &-item {
    display: inline-block;
    margin: 1em .5em;
    max-width: 30%;
  }

  &-label {
    @extend %cpw--label;
  }

  // Always include border and change color depending on states to avoid the blocks from moving around
  &-link {
    @include strip-link-styles();

    border: 1px solid $white; // Default border is white. Narrow border.
    display: block;

    &.is-active .cpw--screen-sections-icon {
      border-color: $orange;  // If active link the broad inner border should be shown.
    }

    &:hover {
      border-color: $orange;  // On hover the narrow outer border should be shown.

      &.is-active {
        border-color: $white; // Unless it's already active in which case we just show the broad - active border
      }
    }
  }

  &-icon {
    border: 3px solid $white; // Default border is white. Broad border.
    box-sizing: border-box;
  }
}



/* Screen tamplates widget */
.cpw--screen-templates {
  @extend %cpw--wrapper;

  text-align: center;

  &-item {
    display: inline-block;
    margin: 1em .5em;
  }

  &-label {
    @extend %cpw--label;
  }

  // Always include border and change color depending on states to avoid the blocks from moving around
  &-link {
    @include strip-link-styles();

    border: 1px solid $white; // Default border is white. Narrow border.
    display: block;

    &.is-active .cpw--screen-templates-icon {
      border-color: $orange;  // If active link the broad inner border should be shown.
    }

    &:hover {
      border-color: $orange;  // On hover the narrow outer border should be shown.

      &.is-active {
        border-color: $white; // Unless it's already active in which case we just show the broad - active border
      }
    }
  }

  &-icon {
    border: 3px solid $white; // Default border is white. Broad border.
    box-sizing: border-box;
  }
}



/* Add channels widget */
.cpw--add-channels {
  margin-bottom: 2em;

  &-search[type="search"] { // Override default search form.
    @extend %cpw--text;
    @extend %cpw--search;

    @include breakpoint($breakpoint-bigscreen) {
      width: 50%; // Position search next to shared channels filter.
    }

    &:last-child {
      margin-bottom: 2em;
    }
  }

  &-item {
    @extend %cpw--list-item;

    &-image {
      box-sizing: border-box;
      display: inline-block;
      font-size: .9rem;
      padding-right: 1rem;
      vertical-align: top;
      width: 50%;

      // todo Move this styling to overview stylesheet if we use this styling on all pages.
      ik-channel {
        display: block; // Nesting since we reuse the ik channel html across old and new design.
        text-align: center;
        width: 100%;
      }
    }

    &-content {
      display: inline-block;
      font-size: .9rem;
      width: 50%;
    }

    &-meta {
      margin-bottom: 2rem;
    }

    &-action {
      @extend %button--action;

      padding: .3rem;
    }
  }

  &-type {
    position: relative;
    width: 100%;
    margin-bottom: 1em;

    @include breakpoint($breakpoint-bigscreen) {
      position: absolute;  // Position search next to shared channels filter.
      right: 1.5em;
      width: auto;
    }
  }

  &-type-items {
    @extend %itk--tabs; // Use the ITK tabs component.
  }

  &-type-item {
    @extend %itk--tabs-item; // Use the ITK tabs component.
    width: 50%;

    @include breakpoint($breakpoint-bigscreen) {
      width: auto;  // Position search next to shared channels filter.
    }

    &.is-active {
      font-weight: bold;
    }
  }

  &-select-index {
    margin-bottom: 2em;
    position: relative;
  }

  &-select-index-button {
    @extend %button--default;

    z-index: 2;
  }

  &-select-index-items {
    background: $white;
    box-sizing: border-box;
    border-left: 1px solid $gray-dark;
    border-right: 1px solid $gray-dark;
    border-bottom: 1px solid $gray-dark;
    padding: .3em 0;
    position: absolute;
    width: 100%;
    top: 1.9em;
    z-index: 1;

    @include border-bottom-radius(.3em);
  }

  &-select-index-item {
    background: $white;
    cursor: pointer;
    padding: 0 1em;

    &:hover {
      background: $gray-lighter;
    }
  }
}



/* Selected channels widget */
.cpw--selected-channels {
  margin-bottom: 2em;

  &-search[type="search"] {
    @extend %cpw--text;
    @extend %cpw--search;

    &:last-child {
      margin-bottom: 2em;
    }
  }

  &-item {
    @extend %cpw--list-item;

    &-image {
      box-sizing: border-box;
      display: inline-block;
      font-size: .9rem;
      padding-right: 1rem;
      vertical-align: top;
      width: 50%;

      // todo Move this styling to overview stylesheet if we use this styling on all pages.
      ik-channel {
        display: block; // Nesting since we reuse the ik channel html across old and new design.
        text-align: center;
        width: 100%;
      }
    }

    &-content {
      display: inline-block;
      font-size: .9rem;
      width: 50%;
    }

    &-meta {
      margin-bottom: 2rem;
    }

    &-action {
      @extend %button--action-warning;

      padding: .3rem;
    }
  }
}