/**
 *
 * Create channel
 *
 */


/* Silent classes related to this document
   ========================================================================== */


/* Styles
   ========================================================================== */

.has-placeholder[placeholder]:empty:before {
  content: attr(placeholder);
  color: #ccc;
}


.create-channel {

  /* Global settings
   ========================================================================== */
  &--section {
    background-size: cover;
    color: #535353;
    display: block;
    height: auto;

    @include background-size();
  }


  &--header {
    border-bottom: 1px solid $gray-lighter;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-align: center;
  }


  &--header-description {
    color: #646464;
    font-weight: lighter;
    margin-bottom: 4em;
    text-align: center;
  }


  // Default check circled icon.
  &--link-check {
    @extend %image-check-icon--placeholder;
  }


  &--button {
    @extend .button;

    display: block;
    margin: 0 auto;
  }


  /* Create channel - set name (Page 1)
   ========================================================================== */
  &--content--channel-one {
    display: block;
    margin: 0 auto;
    text-align: center;

    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-whole;
    @extend %desk--one-half;
  }


  &--text[type="text"] {
    background-color: #fbfbfb;
    height: 4.5em;
    margin-bottom: 2em;
    padding: 1.5em;

    &.is-valid {
      background: url('../images/icons/check-circle-icon.png') #fbfbfb;
      background-size:2em 2em;
      background-repeat:no-repeat;
      background-position: right 1.25em top 1.25em;
      border: 0;
    }
  }


  /* Create channel - select screen (Page 2)
   ========================================================================== */
  &--content--channel-two {
    @extend %grid;

    margin: 0 auto;
    text-align: center;
    width: 100%;
  }


  &--screens {
    max-width: 65em;
    margin: 0 auto 3em;
  }


  &--screen-landscape {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-half;
    @extend %desk--one-half;

    margin-bottom: 2em;
  }


  &--screen-portrait {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-half;
    @extend %desk--one-half;
  }


  &--screen-link {
    position: relative;
    display: block;

    @include add-overlay(create-channel);
  }


  /* Create channel - slide selection (Page 3)
   ========================================================================== */
  &--content--channel-three {
    @extend %grid;

    margin: 0 auto;
    text-align: center;
    width: 100%;
  }


  &--slide {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-third;
    @extend %desk--one-quarter;
    @extend %bigscreen--one-sixth;

    margin-bottom: 2em;
    position: relative;
  }


  &--slides {
    margin-bottom: 3em;
  }


  &--slide-link {
    display: block;
    position: relative;

    @include add-overlay(create-channel);
  }


  /* Create channel - slide order (Page 4)
   ========================================================================== */
  &--content--channel-four {
    @extend %grid;

    margin: 0 auto;
    text-align: center;
    width: 100%;

    // We hide some arrows between the slides that extends the div.
    overflow: hidden;
  }


  &--slide-order-element {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-third;
    @extend %desk--one-quarter;
    @extend %bigscreen--one-sixth;

    margin-bottom: 2em;
    position: relative;
  }


  &--slides {
    margin-bottom: 3em;
  }


  &--slide-order-link {
    display: inline-block;
    position: relative;
    width: 90%;

    @include strip-link-styles(#646464);
  }


  &--slide-order-label {
    display: inline-block;
    font-size: .9em;

    @include strip-link-styles(#646464);
  }


  &--slide-order-number {
    height: 2.1em;
    left:0;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
    right:0;
    top: -1.1em;
    width: 2.1em;

    background: #fff;
    border-radius: 100%;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 2.1em;

    @include border-radius(100%);
  }


  &--slide-order-arrow {
    display: none;
    font-size: 1.6em;
    position: absolute;
    right: -.9em;
    top: 40%;
    z-index: 1;

    @include strip-link-styles(#d4d4d4);
    @include translateY(-50%);
    @include breakpoint($breakpoint-lap) {
      display: block;
    }
  }
}
