/**
 *
 * Create slides
 *
 */


/* Silent classes related to this document
   ========================================================================== */


/* Styles
   ========================================================================== */

.has-placeholder[placeholder]:empty:before {
  content: attr(placeholder);
  color: #ccc;
}


.create-slide {

  /* Global settings
   ========================================================================== */
  &--section {
    @extend %create-element--section-default;
  }


  &--header {
    @extend %create-element--header-default;
  }


  &--header-description {
    @extend %create-element--header-description-default;
  }


  // Default check circled icon.
  &--link-check {
    @extend %image-check-icon--placeholder;
  }


  &--button {
    @extend .button;

    display: block;
    margin: 0 auto 20px;
  }


  /* Create slide - set name (Page 1)
   ========================================================================== */
  &--content--slide-one {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-whole;
    @extend %desk--one-half;

    @extend %create-element--page-name-default ;
  }


  &--text[type="text"] {
    @extend %create-element--page-name-input-default;
  }


  /* Create slide - select screen (Page 2)
   ========================================================================== */
  &--content--slide-two {
    @extend %grid;

    @extend %create-element--layout-default;
  }


  &--screens {
    max-width: 65em;
    margin: 0 auto 3em;
  }


  &--screen-landscape {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-half;
    @extend %desk--one-half;

    margin-bottom: 2em;
    padding-left: 0;

    @include breakpoint($breakpoint-lap) {
      padding-left: $gutter;
    }
  }


  &--screen-portrait {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-half;
    @extend %desk--one-half;

    padding-left: 0;

    @include breakpoint($breakpoint-lap) {
      padding-left: $gutter;
    }
  }


  &--screen-link {
    position: relative;
    display: block;

    @include add-overlay(create-slide);
  }


  /* Create slide - select template (Page 3)
   ========================================================================== */
  &--content--slide-three {
    @extend %grid;

    @extend %create-element--layout-default;
  }


  &--template {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-half;
    @extend %desk--one-third;
    @extend %bigscreen--one-quarter;

    margin-bottom: 2em;
    position: relative;
  }


  &--templates {
    margin-bottom: 3em;
  }


  &--template-link {
    display: block;
    position: relative;

    @include add-overlay(create-slide);
  }



  /* Create slide - setup content (Page 4)
   ========================================================================== */
  &--content--slide-four {
    @extend %grid;

    @extend %create-element--layout-default;
  }


  &--config {
    margin: 0 auto 1em;
    position: relative;
    background-size: cover;
  }


  &--config-header {
    font-size: 90%;
  }


  &--config-description {
    font-size: 70%;
  }


  &--content-inner {
    width: 960px;
    margin: 0 auto 2em;
    position: relative;
  }

  &--config-text-wrapper {
    position: absolute;
    width: 100%;

    @include border-radius(1em);
  }


  &--config-text {
    background: rgba(0,0,0,0.7);
    color: #fff;
    margin: 1em auto;
    padding: 2em;
    text-align: left;
    position:relative;
    width: 80%;

    @include border-radius(1em);
  }


  &--edit-description {
    display: inline-block;
    margin-left: .5em;

    @include generate-sprite-image($dashboard-sprites, 'edit-icon');
  }


  &--edit-title {
    display: inline-block;
    margin-left: .5em;

    @include generate-sprite-image($dashboard-sprites, 'edit-icon');
  }


  &--edit-box-settings {
    position: absolute;
    right: -0.5em;
    top: -0.5em;

    @include generate-sprite-image($dashboard-sprites, 'gear-icon', 25);

    @include breakpoint($breakpoint-lap) {
      right: -1em;
      top: -1em;

      @include generate-sprite-image($dashboard-sprites, 'gear-icon', 50);
    }
  }


  &--edit-image-settings {
    bottom: 15%;
    position: absolute;
    right: 15%;

    @include generate-sprite-image($dashboard-sprites, 'landscape-icon', 50);

    @include breakpoint($breakpoint-lap) {

      @include generate-sprite-image($dashboard-sprites, 'landscape-icon');
    }
  }


  &--image {
    max-height: 100%;
    width: 100%;
  }
}
