/**
 *
 * Create screens
 *
 */


/* Styles
   ========================================================================== */
.screen--layout {
  @extend %grid;

  // We create a full height container for the screen layout.
  margin: 0;
  height: 100%;
  position: relative;
  width: 100%;
  top: 0;

  &-inner {
    background: $gray-lightest;
    height: 100%;
    position: relative;
  }

  &-content {
    @extend %grid__item;
    @extend %palm--one-whole;
    @extend %lap--one-whole;
    @extend %portable--one-whole;
    @extend %two-thirds;
    @extend %grid-markup-fix;

    box-sizing: border-box;
    height: 100%;
    padding: 2em;

    @include breakpoint($breakpoint-desk) {
      position: relative;
    }
  }

  &-control-panel {
    @extend %grid__item;
    @extend %lap--one-whole;
    @extend %one-third;
    @extend %palm--one-whole;
    @extend %grid-markup-fix;

    bottom: 0;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    padding: 0;
    z-index: 0;

    @include breakpoint($breakpoint-desk) {
      display: inline-block;
      max-width: 100%;
    }
  }
}
