/**
 *
 * Create screens
 *
 */



/* Silent classes related to this document
   ========================================================================== */


/* Styles
   ========================================================================== */
.screen--layout {
  @extend %grid;

  margin-left: -.5em;

  // We create a full height container for the screen layout.
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;

  @include breakpoint($breakpoint-lap) {
    margin-left: -2em;
  }

  &-inner {
    height: 100%;
    margin-top: 7.5em;
    position: relative;
  }

  &-content {
    @extend %grid__item;
    @extend %lap--one-whole;
    @extend %two-thirds;
    @extend %palm--one-whole;
    @extend %grid-markup-fix;

    box-sizing: border-box;
    height: 100%;
    padding: 2em;

    background: $gray-lighter;
  }

  &-menu {
    @extend %grid__item;
    @extend %lap--one-whole;
    @extend %one-third;
    @extend %palm--one-whole;
    @extend %grid-markup-fix;

    height: 100%;
  }
}
