/**
 *
 * Create media
 *
 */



/* Silent classes related to this document
   ========================================================================== */


/* Styles
   ========================================================================== */

.create-media {

  /* Global settings
   ========================================================================== */
  &--section {
    @extend %create-element--section-default;
  }


  &--header {
    @extend %create-element--header-default;
  }


  &--header-description {
    @extend %create-element--header-description-default;
  }

  &--button {
    @extend .button;

    display: inline-block;
    margin: 0 auto 1em;
  }

  /* Create media - upload file (Page 1)
 ========================================================================== */
  &--content--media-one {
    @extend %create-element--page-name-default;
  }

  &--hidden-input-file {
    width: 0;
    height: 0;
    overflow:hidden;
  }

  &--upload-drop-zone {
    width: 100%;
    background-color: $gray-lightest;
  }

  &--upload-icon {
    @include generate-sprite-image($dashboard-sprites, 'upload-file-icon');

    display: inline-block;
    vertical-align: middle;
    margin: 2em auto;
  }

  &--upload-text {
    width: 100%;
    display: inline-block;
    margin: 2em auto;
  }


  &--text[type="text"] {
    @extend %create-element--page-name-input-default;
    background-color: $white;
  }

  &--thumb-container {
    max-width: 300px;
    display: inline-block;
    background-color: $gray-lightest;

    padding: 1em;
    margin:  1em;
  }

  &--drop-zone {
    width: 50%;
    margin: 0 auto 1em;
  }

  &--progress {
    width: 400px;
    margin: auto;
    margin-bottom: 1em;
  }

  &--progress-bar {
    border: 2px solid $gray;
    background-color: $gray-lighter;
    height: 20px;
  }

  &--error-text {
    margin: auto;
    margin-bottom: 1em;
  }
}