/**
 *
 * Create media
 *
 */



/* Silent classes related to this document
   ========================================================================== */


/* Styles
   ========================================================================== */

.create-media {

  /* Global settings
   ========================================================================== */
  &--section {
    @extend %create-element--section-default;
  }


  &--header {
    @extend %create-element--header-default;
  }


  &--header-description {
    @extend %create-element--header-description-default;
  }


  &--button {
    @extend .button;

    display: inline-block;
    margin: 0 auto 1em;
  }


  /* Create media - select files
  ======================================================================== */
  // Hide default upload widget.
  &--hidden-input-file {
    width: 0;
    height: 0;
    overflow:hidden;
  }


  &--drop-zone {
    width: 50%;
    margin: 0 auto 1em;
    border: 4px solid $gray-light;
  }


  &--drop-zone-inner {
    width: 100%;
    background-color: $gray-lightest;
  }


  &--upload-icon {
    @include get-icon('upload-file-icon', 100px, 100px);

    display: inline-block;
    vertical-align: middle;
    margin: 2em auto;
  }


  &--upload-text {
    width: 100%;
    display: inline-block;
    margin: 2em auto;
  }


  /* Create media - upload files / Edit element
  ========================================================================= */
  &--content {
    @extend %create-element--page-name-default;
  }


  &--image {
    background-image: url('../../images/squares.jpg');
    background-repeat: repeat;
    min-width: 200px;
  }

  &--content-element{
    margin: 1em auto;
    max-width: 80em;
  }


  &--thumb-container {
    display: inline-block;
    background-color: $gray-lightest;
    overflow: hidden;

    padding: 1em;
    margin:  1em;
  }


  &--thumb{
    padding-right: .5em;

    canvas {
      height: 100px;
    }
  }

  &--is-logo {
    float: left;
    color: $gray-dark;
    display: inline-block;
  }


  &--options {

  }


  &--text-wrapper {
    margin-bottom: 2em;
  }


  &--text-icon {
    display: inline-block;
    margin-right: 1em;

    width: 20px;
    height: 20px;
  }

  &--text {
    color: #68ac18;
    vertical-align: top;
  }


  &--text-label {
    color: $gray-dark;
    text-align: left;
  }


  &--text-input[type="text"] {
    @extend %create-element--page-name-input-default;

    background: $white;
    height: auto;
    padding: 1em;
    width: auto;
    margin-bottom: 0;
  }


  &--remove {
    color: $link-color;
    cursor: pointer;
    text-align: right;
  }


  &--progress {
    background-color: $gray-lighter;
    width: 400px;
    margin: auto;
    margin-bottom: 1em;
  }


  &--progress-bar {
    background-color: $gray;
    height: 2em;
    min-width: 10%;
    vertical-align: middle;
    line-height: 2em;
  }


  &--error-text {
    margin: auto;
    margin-bottom: 1em;
  }


  &--cancel {
    cursor: pointer;
    color: $link-color;
    text-decoration: underline;
  }

  // Display media. - We use a container for video, to ensure proper scaling on ipads (They dont fetch video metadata before playing the video)
  &--video-container {
    height: auto;
    margin: 0 auto;
    position: relative;
  }


  &--video {
    display: block;
    top: 0;
  }

  &--video {
    z-index: 1;
  }

  &--no-video {
    background: $gray-lightest;
    border: 2px solid $gray-light;
    box-sizing: border-box;
    color: $gray;
    font-size: 1rem;
    height: 10em;
    line-height: 10em;
    vertical-align: middle;
    width: 15em;
    margin: 0 auto 1em;
  }
}