/**
 *
 * Create slides
 *
 */


/* Silent classes related to this document
   ========================================================================== */


/* Styles
   ========================================================================== */

.create-slide {

  /* Global settings
   ========================================================================== */
  &--section {
    @extend %create-element--section-default;
  }


  &--header {
    @extend %create-element--header-default;
  }


  &--header-description {
    @extend %create-element--header-description-default;
  }


  // Default check circled icon.
  &--link-check {
    @extend %image-check-icon--placeholder;
  }


  &--button {
    @extend .button;

    display: block;
    margin: 0 auto 1em;
  }


  &--finish-button {
    @extend %create-element--finish-button-wrapper;
  }


  &--spinner {
    @extend %create-element--submit-spinner;
  }


  /* Create slide - set name (Page 1)
   ========================================================================== */
  &--form {
    @extend %create-element--form;
  }


  &--content--slide-one {
    @extend %create-element--page-name-default;

    &.ng-leave {
      @include animation(fade-out 2s infinite);
    }
  }


  &--text[type="text"] {
    @extend %create-element--page-name-input-default;
  }


  /* Create slide - select screen (Page 2)
   ========================================================================== */
  &--content--slide-two {
    @extend %grid;

    @extend %create-element--layout-default;
  }


  &--screens {

    max-width: 65em;
    margin: 0 auto 3em;
  }


  &--screen-landscape {
    display: inline-block;
    margin: 0 2em 2em;
  }


  &--screen-portrait {
    display: inline-block;
    margin: 0 2em 2em;
  }


  &--screen-link {
    position: relative;
    display: block;

    @include add-overlay(create-slide);
  }


  /* Create slide - select template (Page 3)
   ========================================================================== */
  &--content--slide-three {
    @extend %grid;

    @extend %create-element--layout-default;
  }


  &--template {
    display: inline-block;
    margin: 0 2em 2em;
  }


  &--templates {
    margin-bottom: 3em;
  }


  &--template-link {
    display: block;
    position: relative;

    @include add-overlay(create-slide);
  }


  /* Create slide - setup content (Page 4)
   ========================================================================== */
  &--content--slide-four {
    @extend %grid;

    @extend %create-element--layout-default;
  }

  &--content-wrapper {
    margin-bottom: 2em;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }


  &--config {
    margin: 0 auto 1em;
    position: relative;
    background-size: cover;
  }


  &--config-header {
    font-size: 90%;
  }


  &--config-description {
    font-size: 70%;
  }


  &--content-inner {
    margin: 0 auto;
    position: relative;
  }

  &--config-text-wrapper {
    position: absolute;
    width: 100%;

    @include border-radius(1em);
  }


  &--config-text {
    background: rgba(0,0,0,0.7);
    color: $white;
    margin: 1em auto;
    padding: 2em;
    text-align: left;
    position:relative;
    width: 80%;

    @include border-radius(1em);
  }


  &--image {
    max-height: 100%;
    width: 100%;
  }


  /* Create slide - setup content (Page 5)
   ========================================================================== */
  &--content--slide-five {
    @extend %grid;

    @extend %create-element--layout-default;
  }

  &--publishing,
  &--duration {
    border-bottom: 1px solid $gray;
    margin: 0 auto 2em;
    max-width: 30em;
    padding-bottom: 2em;
    width: 75%;

    @include breakpoint($breakpoint-lap) {
      width: 50%;
    }

    &:last-child {
      border: 0;
    }
  }

  &--from-label,
  &--to-label,
  &--schedule-label,
  &--duration-label {
    font-size: 1.2em;
    text-align: left;
  }

  &--duration-text {
    margin-bottom: 1em;
  }

  &--duration-input[type="text"] {
    display: inline-block;
    width: 47%;
    margin-right: 2%;
  }

  &--duration-suffix {
    display: inline-block;
    font-size: 1.5em;
    width: 50%;
  }

  &--published {
    margin-bottom: 1em;
    text-align: left;
  }

  &--published-label {
    font-size: 1.2em;
    text-align: left;
  }

  &--duration-description,
  &--schedule-description,
  &--published-description {
    color: $gray;
  }

  &--schedule-from,
  &--schedule-to {
    box-sizing: border-box;
    padding-right: 1em;
    display: inline-block;
    margin-left: -4px;
    width: 50%;
  }

  &--published-checkbox[type="checkbox"] {
    margin-right: 1em;
  }


  /* Create slide - setup content (Page 6)
  ========================================================================== */
  &--content--slide-six {
    @extend %grid;

    @extend %create-element--layout-default;
  }
}
