/**
 *
 * Create media
 *
 */



/* Silent classes related to this document
   ========================================================================== */


/* Styles
   ========================================================================== */

.create-media {

  /* Global settings
   ========================================================================== */
  &--section {
    @extend %create-element--section-default;
  }


  &--header {
    @extend %create-element--header-default;
  }


  &--header-description {
    @extend %create-element--header-description-default;
  }

  &--button {
    @extend .button;

    display: inline-block;
    margin: 0 auto 1em;
  }



  /* Create media - select files
  ======================================================================== */
  // Hide default upload widget.
  &--hidden-input-file {
    width: 0;
    height: 0;
    overflow:hidden;
  }


  &--drop-zone {
    width: 50%;
    margin: 0 auto 1em;
    border: 4px solid $gray-light;
  }


  &--drop-zone-inner {
    width: 100%;
    background-color: $gray-lightest;
  }


  &--upload-icon {
    @include generate-sprite-image($dashboard-sprites, 'upload-file-icon');

    display: inline-block;
    vertical-align: middle;
    margin: 2em auto;
  }


  &--upload-text {
    width: 100%;
    display: inline-block;
    margin: 2em auto;
  }


  /* Create media - upload files
  ========================================================================= */
  &--content {
    @extend %create-element--page-name-default;
  }


  &--thumb-container {
    display: inline-block;
    background-color: $gray-lightest;
    overflow: hidden;

    padding: 1em;
    margin:  1em;
  }


  &--thumb{
    float: left;
    padding-right: .5em;

    canvas {
      height: 100px;
    }
  }


  &--text {
    float: left;
  }


  &--text-label {
    color: $gray-dark;
    text-align: left;
  }


  &--text-input[type="text"] {
    @extend %create-element--page-name-input-default;

    background: $white;
    height: 1em;
    padding: 1em;
    width: auto;
    margin-bottom: 0;
  }


  &--remove {
    color: $link-color;
    cursor: pointer;
    text-align: right;
  }


  &--progress {
    background-color: $gray-lighter;
    width: 400px;
    margin: auto;
    margin-bottom: 1em;
  }


  &--progress-bar {
    background-color: $gray;
    height: 2em;
    min-width: 10%;
    vertical-align: middle;
    line-height: 2em;
  }


  &--error-text {
    margin: auto;
    margin-bottom: 1em;
  }


  &--cancel {
    cursor: pointer;
    color: $link-color;
    text-decoration: underline;
  }
}