/**
 *
 * Create screens
 *
 */



/* Silent classes related to this document
   ========================================================================== */


/* Styles
   ========================================================================== */

.create-screen {

  /* Global settings
   ========================================================================== */
  &--section {
    @extend %create-element--section-default;
  }


  &--header {
    @extend %create-element--header-default;
  }


  &--header-description {
    @extend %create-element--header-description-default;
  }


  // Default check circled icon.
  &--link-check {
    @extend %image-check-icon--placeholder;
  }


  &--button {
    @extend .button;

    display: block;
    margin: 0 auto 1em;
  }


  &--finish-button {
    @extend %create-element--finish-button-wrapper;
  }


  &--spinner {
    @extend %create-element--submit-spinner;
  }


  /* Create screen - set name (Page 1)
   ========================================================================== */
  &--form {
    @extend %create-element--form;
  }


  &--content--screen-one {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-whole;
    @extend %desk--one-half;

    @extend %create-element--page-name-default ;
  }


  &--text[type="text"] {
    @extend %create-element--page-name-input-default;
  }


  /* Create screen - select screen (Page 2)
   ========================================================================== */
  &--content--screen-two {
    @extend %grid;

    @extend %create-element--layout-default;
  }


  &--screens {
    max-width: 65em;
    margin: 0 auto 3em;
  }


  &--screen-landscape {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-half;
    @extend %desk--one-half;

    margin-bottom: 2em;
    padding-left: 0;

    @include breakpoint($breakpoint-lap) {
      padding-left: $gutter;
    }
  }


  &--screen-portrait {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-half;
    @extend %desk--one-half;

    padding-left: 0;

    @include breakpoint($breakpoint-lap) {
      padding-left: $gutter;
    }
  }



  /* Create screen - select screen (Page 3)
   ========================================================================== */
  &--content-screen-three {
    @extend %grid;

    @extend %create-element--layout-default;
  }

  &--channel-link {
    cursor: pointer;
    display: block;
    position: relative;

    @include add-overlay(create-screen);
  }


  &--add-slide-button {
    @extend %buttons--default; // Needs refactoring (We shouldn't extend on classes from other documents but rather silent classes)

    margin-bottom: 2em;
    width: 10em;
  }
}
