/**
 *
 * Create screens
 *
 */



/* Silent classes related to this document
   ========================================================================== */


/* Styles
   ========================================================================== */

.has-placeholder[placeholder]:empty:before {
  content: attr(placeholder);
  color: #ccc;
}


.create-screen {

  /* Global settings
   ========================================================================== */
  &--section {
    background-size: cover;
    color: #535353;
    display: block;
    height: auto;

    @include background-size();
  }


  &--header {
    border-bottom: 1px solid $gray-lighter;
    display: inline-block;
    font-weight: bold;
    margin: 0 36px 18px 36px;
    padding-bottom: 1em;
    text-align: center;
  }


  &--header-description {
    color: #646464;
    font-weight: lighter;
    margin: 0 36px 72px 36px;
    text-align: center;
  }


  // Default check circled icon.
  &--link-check {
    @extend %image-check-icon--placeholder;
  }


  &--button {
    @extend .button;

    display: block;
    margin: 0 auto;
  }


  /* Create screen - set name (Page 1)
   ========================================================================== */
  &--content--screen-one {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-whole;
    @extend %desk--one-half;

    display: block;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;

    @include breakpoint($breakpoint-lap) {
      padding-left: $gutter;
    }
  }


  &--text[type="text"] {
    background-color: #fbfbfb;
    height: 4.5em;
    margin-bottom: 2em;
    padding: 1.5em;

    &.is-valid {
      background: url('../images/icons/check-circle-icon.png') #fbfbfb;
      background-size:2em 2em;
      background-repeat:no-repeat;
      background-position: right 1.25em top 1.25em;
      border: 0;
    }
  }


  /* Create screen - select screen (Page 2)
   ========================================================================== */
  &--content--screen-two {
    @extend %grid;

    margin: 0 auto;
    text-align: center;
    width: 100%;
  }


  &--screens {
    max-width: 65em;
    margin: 0 auto 3em;
  }


  &--screen-landscape {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-half;
    @extend %desk--one-half;

    margin-bottom: 2em;
    padding-left: 0;

    @include breakpoint($breakpoint-lap) {
      padding-left: $gutter;
    }
  }


  &--screen-portrait {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-half;
    @extend %desk--one-half;

    padding-left: 0;

    @include breakpoint($breakpoint-lap) {
      padding-left: $gutter;
    }
  }


  &--screen-link {
    position: relative;
    display: block;

    @include add-overlay(create-screen);
  }

}
