/**
 *
 * Create channel
 *
 */


/* Silent classes, mixins and variables related to this document
   ========================================================================== */

// Circled arrows and numbers for slide ordering.
%create-channel--order-circle {
  background: $white;
  font-size: 1.3em;
  font-weight: bold;
  height: 2.1em;
  line-height: 2.1em;
  width: 2.1em;
  z-index: 1;

  @include border-radius(100%);
}

// Change arrow direction and position on large screens. (Create channel page 4).
$breakpoint-arrow-switch : 693px;

/* Styles
   ========================================================================== */

.create-channel {

  /* Global settings
   ========================================================================== */
  &--section {
    @extend %create-element--section-default;
  }


  &--header {
    @extend %create-element--header-default;
  }


  &--header-description {
    @extend %create-element--header-description-default;
  }


  // Default check circled icon.
  &--link-check {
    @extend %image-check-icon--placeholder;
  }


  &--button {
    @extend .button;

    display: block;
    margin: 0 auto 1em;
  }


  &--finish-button {
    @extend %create-element--finish-button-wrapper;
  }


  &--spinner {
    @extend %create-element--submit-spinner;
  }


  /* Create channel - set name (Page 1)
   ========================================================================== */
  &--form {
    @extend %create-element--form;
  }


  &--content--channel-one {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-whole;
    @extend %desk--one-half;

    @extend %create-element--page-name-default;
  }


  &--text[type="text"] {
    @extend %create-element--page-name-input-default;
  }


  /* Create channel - select screen (Page 2)
   ========================================================================== */
  &--content--channel-two {
    @extend %grid;

    @extend %create-element--layout-default;
  }


  &--screens {
    max-width: 65em;
    margin: 0 auto 3em;
  }


  &--screen-landscape {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-half;
    @extend %desk--one-half;

    margin-bottom: 2em;
    padding-left: 0;

    @include breakpoint($breakpoint-lap) {
      padding-left: $gutter;
    }
  }


  &--screen-portrait {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-half;
    @extend %desk--one-half;

    padding-left: 0;

    @include breakpoint($breakpoint-lap) {
      padding-left: $gutter;
    }
  }


  &--screen-link {
    position: relative;
    display: block;

    @include add-overlay(create-channel);
  }


  /* Create channel - slide selection (Page 3)
   ========================================================================== */
  &--content--channel-three {
    @extend %create-element--layout-default;
  }


  &--slide {
    background: $beige;
    position: relative;

    @include preview-list-display();
  }


  &--slides {
    margin-bottom: 3em;
  }


  &--slide-link {
    display: block;
    float: left; // Neeeded for displaying video slides.
    position: relative;

    @include add-overlay(create-channel);

    &.is-selected {
      cursor: pointer;
    }
  }


  /* Create channel - slide order (Page 4)
   ========================================================================== */
  &--content--channel-four {
    @extend %grid;

    @extend %create-element--layout-default;

    // We hide some arrows between the slides that extends the div.
    overflow: hidden;
  }

  &--add-slide-button {
    @extend %buttons--default; // Needs refactoring (We shouldn't extend on classes from other documents but rather silent classes)

    margin-bottom: 2em;
    width: 10em;
  }

  &--slide-order-element {
    position: relative;

    @include preview-list-display();

    z-index: 0;
  }


  &--slides {
    margin-bottom: 3em;
  }


  &--slide-order-link {
    display: inline-block;
    position: relative;
    border: 2px solid transparent;

    @include strip-link-styles();

    &.over {
      border: 2px dashed #62B001;
    }
  }

  &--publishing {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    max-width: 40em;
  }

  &--schedule-label {
    font-size: 1.5em;
  }

  &--schedule,
  &--published {
    margin-bottom: 4em;
    margin-left: .3em;
  }

  &--publishing input{
      width: 45%;
      display: inline-block;
      max-width: 12em;
      text-align: right;
  }


  &--checklist-days {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  &--slide-unpublished-overlay {
    background: #fff repeating-linear-gradient(-55deg, #ddd, #ddd 30px, #ccc 30px, #ccc 60px);
    height: 168.75px; // Static since we are working within a static div anyway.
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    @include opacity(.3);
  }

  &--slide-unpublished-icon {
    position: absolute;
    top: 5px; // Static since we are working within a static div anyway.
    left: 5px;

    width: 20px;
    height: 20px;

    z-index: 1;
  }

  &--slide-published-icon {
    position: absolute;
    left: 5px;
    top: 5px;

    width: 20px;
    height: 20px;

    z-index: 1;
  }


  &--slide-order-label {
    display: inline-block;
    font-size: .9em;

    @include strip-link-styles();
  }


  &--slide-order-number {
    @extend %create-channel--order-circle;

    left:0;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
    right:0;
    top: -1.2em;
  }

  &--slide-order-arrow-left,
  &--slide-order-arrow-right {
    @extend %create-channel--order-circle;

    border: 1px solid $gray;
    cursor: pointer;
    font-size: 1em;
    position: absolute;
    right: .5em;
    z-index: 1;


    @include transform(rotate(90deg));

    @include breakpoint($breakpoint-arrow-switch) {
      top: 35%;

      @include translateY(-50%);
      @include transform(rotate(0deg));
    }
  }


  &--slide-order-arrow-left {
    left: .5em;
    top: .5em;

    @include breakpoint($breakpoint-arrow-switch) {
      top: 35%;
    }
  }


  &--slide-order-arrow-right {
    bottom: 2em;
    right: .5em;

    @include breakpoint($breakpoint-arrow-switch) {
      top: 35%;
    }
  }

  &--arrow-left-image {
    margin-right: 2px;
    width: 1.5em;
    vertical-align: middle;
    margin-top: -2px;
  }


  &--arrow-right-image {
    margin-left: 2px;
    width: 1.5em;
    vertical-align: middle;
    margin-top: -2px;
  }

  &--remove-link {
    cursor: pointer;
    text-decoration: underline;
  }

  &--sort-filters {
    width: 50%;
    margin: 1em auto 2em;
  }

  &--sort-filters-button {
    &:hover {
      background: $gray-lighter;
    }
  }
}
