/**
 *
 * Create screens
 *
 */


/* Styles
   ========================================================================== */
.screen--layout {
  @extend %grid;

  // The content container is fixed to full height below the header. Elements below handle the scrolling individually.
  margin: 0;
  height: 100%;
  position: fixed;
  width: 100%;
  padding-top: 9.2em;
  top: 0;
  box-sizing: border-box;

  &-inner {
    background: $gray-lightest;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;

    @include breakpoint($breakpoint-desk) {
      position: relative;
      height: 100%;
      overflow-y: hidden;
    }
  }

  &-content {
    @extend %grid__item;
    @extend %palm--one-whole;
    @extend %lap--one-whole;
    @extend %portable--one-whole;
    @extend %two-thirds;
    @extend %grid-markup-fix;

    box-sizing: border-box;
    padding: 2em;

    @include breakpoint($breakpoint-desk) {
      position: relative;
      height: 100%;
    }
  }

  &-control-panel {
    @extend %grid__item;
    @extend %lap--one-whole;
    @extend %one-third;
    @extend %palm--one-whole;
    @extend %grid-markup-fix;

    bottom: 0;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    padding: 0;
    z-index: 0;

    @include breakpoint($breakpoint-desk) {
      display: inline-block;
      max-width: 100%;
    }
  }
}
