/**
 *
 * Edit menu
 *
 */


/* Silent classes and variables related to this document
   ========================================================================== */



/* Styles
   ========================================================================== */
.edit-menu {
  width: 100%;
  z-index: 1;


  &--inner {
    height: 100%;
    font-size: .6em;
    position: fixed;
    right: -100%;
    text-align: left;
    top: 0;
    z-index: 99;

    padding-top: 3.75em;
    padding-right: 3em;
    padding-left: 3em;
    width: 35em;

    background: $white;

    @include box-sizing(border-box);
    @include box-shadow(-5px 0px 10px transparentize($black, .75));


    /* States */

    &.is-visible {
      @include animation(toggle-nav-open .15s ease 1 forwards);
    }

    &.is-hidden {
      @include animation(toggle-nav-close .15s ease 1 forwards);
    }
  }


  &--toggle-icon {
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    right: 1.5em;
  }


  /* Invisible close element that allows the user to close the menu by clicking outside it */
  &--overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 98;

    width: 0;

    cursor: pointer;

    &.is-visible {
      width: 100%;

      @include animation(toggle-nav-overlay .15s linear 1 forwards);
    }
  }


  &--header {
    border-bottom: 1px solid $gray-lighter;
    margin-right: 3em;
    margin-bottom: .35em;
    padding-bottom: .25em;

    color: $gray-light;
    font-size: 3em;
    line-height: 1em;
  }

  &--label {
    font-size: 2em;
    margin-left: 0;
    text-align: left;
  }

  &--form-element[type="text"] {
    background-color: $gray-lightest;
    font-size: 1.7em;
    height: 4.5em;
    margin-bottom: 2em;
    padding: 1.5em;
  }

  &--divider {
    font-size: 2em;
    text-align: center;
  }

  &--dropdown {
    background-color: $gray-lightest;
    height: 2.5em;
    width: 100%;
    font-size: 2em;
    margin-bottom: 1em;
  }



  &--background {
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    background-color:rgba(255,255,255,.5);

    padding-top: 3.75em;
    padding-right: 3em;
    padding-left: 3em;

    background-color: $white;

    // States.

    // Snap out.
    &.is-hidden {
      display: none;
      opacity: 0;
    }

    // Fade in.
    &.is-visible {
      display: block;
      @include animation(fade-in-ninety-five .25s);

      @include animation-timing-function(ease-in);
      -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
      animation-fill-mode: forwards;
    }
  }


  &--background-image-back {
    position: absolute;
  }


  &--background-content {
    margin-top: 4em;
  }


  &--background-page {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }


  &--background-header {
    border-bottom: 1px solid #e6e6e6;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 1em;
    padding-bottom: 1em;
    font-size: 2em;
  }


  &--background-button {
    @extend .button;

    font-size: 1.2em;
    display: inline-block;
    margin: 1em 1em 2em;
    padding: 1em 2em;
  }

  &--background-divider {
    font-size: 2em;
    margin: auto;
  }

  &--background-label {
    font-size: 2em;
    margin: auto;
  }

  &--background-form-element {
    max-width: 300px;
    height: 50px;
    margin: auto;
    text-align: center;
  }
}