/**
 *
 * Edit menu
 *
 */


/* Silent classes and variables related to this document
   ========================================================================== */

%edit-menu--content-container {
  height: 100%;
  overflow: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  background-color:rgba(0,0,0,.7);

  box-sizing: border-box;

  padding: 2em;

  @include breakpoint($breakpoint-lap) {
    padding: 4em;
  }



  /* States. */

  // Snap out.
  &.is-hidden {
    display: none;
    opacity: 0;
  }

  // Fade in.
  &.is-visible {
    display: block;
    @include animation(fade-in-ninety-five .25s);

    @include animation-timing-function(ease-in);
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
  }
}


/* Styles
   ========================================================================== */
.edit-menu {
  width: 100%;
  z-index: 1;

  &--inner {
    height: 100%;
    font-size: .6em;
    position: fixed;
    right: -100%;
    text-align: left;
    top: 0;
    z-index: 99;

    padding-right: 3em;
    padding-left: 3em;
    padding-top: 4em;
    width: 35em;

    background: $white;

    @include box-sizing(border-box);
    @include box-shadow(-5px 0px 10px transparentize($black, .75));


    /* States */

    &.is-visible {
      @include animation(toggle-nav-open .15s ease 1 forwards);
    }

    &.is-hidden {
      @include animation(toggle-nav-close .15s ease 1 forwards);
    }
  }

  // Back / close icons.

  &--toggle-icon {
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    right: .5em;
    top: .5em;
    z-index: 1;
  }


  &--background-image-back {
    position: absolute;
    top: 1em;
    left: 1em;
  }

  &--content-calendar,
  &--content,
  &--background {
    @extend %edit-menu--content-container;
  }

  /* Invisible close element that allows the user to close the menu by clicking outside it */
  &--overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 98;

    width: 0;

    cursor: pointer;

    &.is-visible {
      width: 100%;

      @include animation(toggle-nav-overlay .15s linear 1 forwards);
    }
  }


  &--header {
    border-bottom: 1px solid $gray-lighter;
    margin-right: 3em;
    margin-bottom: .35em;
    padding-bottom: .25em;

    color: $gray-light;
    font-size: 3em;
    line-height: 1em;
  }


  &--label {
    font-size: 2em;
    margin-left: 0;
    text-align: left;
  }


  &--form-element[type="text"] {
    background-color: $gray-lightest;
    font-size: 1.7em;
    height: 4.5em;
    margin-bottom: 2em;
    padding: 1.5em;

    &.is-valid {
      @extend %validation-default;
    }
  }


  &--divider {
    font-size: 2em;
    text-align: center;
  }


  &--dropdown {
    background-color: $gray-lightest;
    height: 2.5em;
    width: 100%;
    font-size: 2em;
    margin-bottom: 1em;
  }


/* Background and edit content full page
   ========================================================================== */

  &--background-inner,
  &--content-inner {
    background: $white;
    height: 100%;
    width: 100%;
    position: relative;
  }

  &--background-input {
    margin-bottom: 2em;
  }

  &--content-page,
  &--background-page {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
  }

  &--content-page-inner,
  &--background-page-inner {
    box-sizing: border-box;
    height: 100%;
    padding: 5em 1em 0;
    text-align: center;
    overflow: auto;
  }

  &--content-header,
  &--background-header {
    border-bottom: 1px solid #e6e6e6;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 1em;
    padding-bottom: 1em;
    font-size: 2em;
  }

  &--content-button,
  &--background-button {
    @extend .button;

    font-size: 1.2em;
    display: inline-block;
    margin: 1em 1em 2em;
    padding: 1em 2em;
  }

  &--content-divider,
  &--background-divider {
    font-size: 2em;
    margin: auto;
  }

  &--content-label,
  &--background-label {
    font-size: 2em;
    margin: auto;
  }

  &--content-form-element,
  &--background-form-element {
    max-width: 500px;
    height: 50px;
    margin: auto;
    text-align: center;
  }

  &--background-label {
    color: $gray-darker;
    font-size: 1.2em;
    text-align: lefT;
  }

  &--background-settings {
    width: 15em;
    margin: 0 auto;
  }

  &--background-size,
  &--background-location {
    margin-bottom: 2em;

    select {
      width: 15em;
    }
  }

  &--content-description {
    margin-bottom: 2em;
  }


/* Add/edit events for calendar template
   ========================================================================== */

  &--calendar-date-template {
    border-bottom: 2px solid $gray;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  &--calendar-form-element-wrapper,
  &--calendar-form-element-wrapper-link {
    box-sizing: border-box;
    display: inline-block;
    margin-left: -4px;
    padding: 1em;
    width: 20%;
    vertical-align: middle;
  }

  &--calendar-label {
    text-align: left;
  }

  &--calendar-add-date {
    cursor: pointer;
    margin-top: 1.5em;

    @include generate-sprite-image($dashboard-sprites, 'plus-icon', 55);
  }

  &--calendar-date-events {
    display: block;
    height: 60%;
    position: relative;
  }


  &--calendar-date-event {
    &.is-outdated {
      background: $beige;
    }
  }

  &--calendar-remove-date {
    cursor: pointer;
    float: left;

    @include generate-sprite-image($dashboard-sprites, 'minus-icon', 55);
  }

  &--calendar-remove-date-notice {
    display: none;
    line-height: 36px;
    font-weight: bold;

    &.is-outdated {
      display: block;
    }
  }

  /* Iframe
   ========================================================================== */

  &--iframe-header {
    font-size: 2em;
    margin: 0 auto 2em;
    width: 40%;
  }

  &--iframe-content {
    font-size: 1em;
    margin: 0 auto 2em;
    text-align: left;
    width: 60%;
  }

  &--button {
    @extend %button--action;

    height: 2em;
    margin: 0 auto;
    margin-top: 2em;
    width: 12em;
  }
}
