/**
 *
 * Frontpage
 *
 */


/* Styles
   ========================================================================== */
.frontpage--section {
  @extend %grid;

  margin-left: -$gutter;
  text-align: center;
}

.frontpage--layout-alfa {
  @extend %grid__item;
  @extend %grid-markup-fix;
  @extend %palm--one-whole;
  @extend %lap--one-whole;
  @extend %desk--one-whole;
}

.frontpage--layout-beta {
  @extend %grid__item;
  @extend %grid-markup-fix;
  @extend %palm--one-whole;
  @extend %lap--one-whole;
  @extend %desk--one-half;
}

.frontpage--layout-gamma {
  @extend %grid__item;
  @extend %grid-markup-fix;
  @extend %palm--one-whole;
  @extend %lap--one-whole;
  @extend %desk--one-half;
}

.frontpage--layout-delta {
  @extend %grid__item;
  @extend %grid-markup-fix;
  @extend %palm--one-whole;
  @extend %lap--one-whole;
  @extend %desk--one-whole;

}


.layout--inner {
  background: $gray-lightest;
  margin-bottom: 1em;
  padding: 1em;
}