/**
 *
 * Header
 *
 */

/* Mixins, variables and selectors related to this document.
 ========================================================================== */

// Selector for main menu items.
%header--main-menu-item--selector {
  display: inline-block;
  vertical-align: middle;
}


// Mixin for the changing logo in various cases.
@mixin header--logo-transition($display-type) {
  @if $display-type == "arrow" {
    // Display logo as arrow.
    display: block;
    text-indent: -10000px;

    @include generate-sprite-image($dashboard-sprites, 'arrow-back-icon', 80);

    img {
      display: none;
    }
  }
  @else {
    // Display logo as site name.
    background: none;
    text-indent: 0;
    width: 100%;

    img {
      display: block;
    }
  }
}


/* Styles.
 ========================================================================== */

.header {
  background-color: $beige;
  color: #333;
  margin-bottom: 2em;
  overflow: hidden;
  width: 100%;
  z-index: 1;

  &--main {
    position: relative;
    padding: 1em 0;
    overflow: hidden;

    @include breakpoint(50em) {
      padding: 0;
      height: 5em;
    }

    @include breakpoint(70em) {
      padding: 0 1em;
    }
  }


  /* Logo section.
 ========================================================================== */

  &--logo {
    padding: 0 1em;
    position: absolute;
    top: 50%;

    @include translateY(-50%);
    @include breakpoint(70em) {
      background: none;
      display: inline-block;
      text-indent: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: $adjust-inline-block;
      position: relative;
      padding: 0;
      top: 0%;
      width: 24%;

      // To overwrite the is-visible from 50 to 70 em.
      &.is-visible {
        display: inline-block;
      }
    }
  }

  // Logo on small screens.
  &--logo-link {
    @include header--logo-transition(arrow);

    // Logo on broad screens
    @include breakpoint(70em) {
      @include header--logo-transition(logo);
    }

    // Logo when main menu is in sub header.
    &.is-visible {
      @include header--logo-transition(logo);
      width: 80%; // We modify the result of the mixin.

      // Logo on medium screens (main menu in main header, but no room for logo).
      @include breakpoint(50em) {
        @include header--logo-transition(arrow);

        // Hide arrow on frontpage.
        &.is-front {
          display: none;
        }
      }

      // Logo on broad screens (Needed to overwrite state class.)
      @include breakpoint(70em) {
        @include header--logo-transition(logo);

        &.is-front {
          display: block;
        }
      }
    }
  }


  /* Main menu section.
 ========================================================================== */

  &--main-menu {
    width: 75%;
    height: 2.5em;
    margin-left: 3em;

    @include breakpoint(70em) {
      display: inline-block;
      height: auto;
      margin-left: 0;
      margin-right: $adjust-inline-block;
      position: relative;
      text-align: center;
      top: 0;
      width: 52%;
    }
  }


  &--main-menu-items {
    @include breakpoint(50em) {
      text-align: center;
    }

    @include strip-list-styles;
  }


  &--main-menu-item {
    display: none;
    font-size: 1em;
    margin-right: $adjust-inline-block;
    text-align: center;
    width: 4em;

    &.is-active {
      display: inline-block;
      font-size: .8em;
    }

    @include breakpoint(50em) {
      display: inline-block;
      padding: 1em;
      width: 6em;

      &.is-active {
        background: $beige-dark;
        font-size: 1em;
      }

      &:hover {
        background: $beige-dark;
      }
    }
  }


  &--main-menu-item-link {
    &:hover {
      cursor: default;
    }

    @include strip-link-styles;

    @include breakpoint(50em) {
      display: inline-block;
      position: relative;
      width: 100%;

      &:hover {
        cursor: pointer;
      }
    }
  }


  /* Each link.
 ========================================================================== */

  &--main-menu-item-image-channels{
    @include generate-sprite-image($dashboard-sprites, 'channels-icon', 25);

    @extend %header--main-menu-item--selector;
  }


  &--main-menu-item-image-slides{
    @include generate-sprite-image($dashboard-sprites, 'slides-icon', 25);

    @extend %header--main-menu-item--selector;
  }


  &--main-menu-item-image-screens{
    @include generate-sprite-image($dashboard-sprites, 'display-icon', 25);

    @extend %header--main-menu-item--selector;
  }


  &--main-menu-item-image-templates{
    @include generate-sprite-image($dashboard-sprites, 'templates-icon', 25);

    @extend %header--main-menu-item--selector;
  }


  &--main-menu-item-text {
    width: 100%;


    @include breakpoint(45em) {
      display: inline-block;
    }

    @include breakpoint(70em) {
      display: inline-block;
    }
  }

  /* Secondary menus section (User and nav link).
 ========================================================================== */

  &--secondary-menus {
    position: absolute;
    right: 1em;
    text-align: right;
    top: 50%;
    width: 24%;

    @include translateY(-50%);
    @include breakpoint(70em) {
      margin-right: $adjust-inline-block;
      padding: 1em 0;
      text-align: right;
      top: 50%;
      width: 20%;
    }
  }


  /* User menu section.
 ========================================================================== */

  &--user-menu {
    display: inline-block;
    margin-right: $adjust-inline-block;
    margin-right: 1em;
  }


  &--user-menu-dropdown-link {
    @include strip-link-styles;

    @include breakpoint(70em) {
      &:after {
        content:'\00a0\25be';
        vertical-align: top;
      }
    }
  }


  &--user-menu-name {
    display: none;
    vertical-align: top;

    @include breakpoint(70em) {
      display: inline-block;
    }
  }


  &--user-menu-image {
    height: 2em;
    margin-right: .5em;
  }


  /* Navigation menu section.
 ========================================================================== */

  &--nav-menu {
    display: inline-block;
    margin-right: $adjust-inline-block;
    vertical-align: top;
  }


  &--nav-menu-link {
    cursor: pointer;

    @include strip-link-styles;
  }


  &--nav-menu-label-image {
    @include generate-sprite-image($dashboard-sprites, 'menu-icon', 25);

    display: inline-block;
    margin: 0 .5em 0 0;
    vertical-align: middle;
  }


  &--nav-menu-label-text {
    display: none;

    @include breakpoint(70em) {
      display: inline-block;
    }
  }


  /* Header submenu section
 ========================================================================== */

  &--sub {
    background: $beige-dark;
  }


  &--sub-menu {
    text-align: center;
    width: 100%;

    @include breakpoint(50em) {
      &.is-hidden {
        display: none;
      }
    }
  }


  &--sub-menu-items {
    @include strip-list-styles();
  }


  &--sub-menu-item {
    display: inline-block;
    padding: 0 1em;
  }


  &--sub-menu-item-link {
    @include strip-link-styles();

    display: block;
    height: 3em;
    line-height: 3em;

    &.is-active {
      border-bottom: 2px solid black;
    }
  }


  &--sub-menu-item-image-overview {
    @include generate-sprite-image($dashboard-sprites, 'overview-small-icon');

    display: inline-block;
    margin: 0 .5em 0 0;
    vertical-align: middle;
  }


  &--sub-menu-item-image-create-channel {
    @include generate-sprite-image($dashboard-sprites, 'add-small-icon');

    display: inline-block;
    margin: 0 .5em 0 0;
    vertical-align: middle;
  }


  // On mobile pages without sub pages we show the main menu in the submenu section.
  &--main-menu--mobile {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    &.is-hidden {
      display: none;
    }

    @include breakpoint(50em) {
      display: none;
    }
  }


  &--main-menu-items--mobile {
    text-align: center;

    @include strip-list-styles;
  }


  /* Header main menu mobile. (Display of main menu on pages WITHOUT subpages on narrow screens).
 ========================================================================== */
  &--main-menu-item--mobile {
    font-size: .8em;
    margin-right: $adjust-inline-block;
    width: 25%;
    display: inline-block;
    padding: 1em 0;

    &:hover {
      background: $beige-dark;
    }
  }


  &--main-menu-item-link--mobile {
    @include strip-link-styles();

    display: block;
    height: 3em;

    &.is-active {
      border-bottom: 2px solid black;
    }
  }


  &--main-menu-item-image-channels--mobile{
    @include generate-sprite-image($dashboard-sprites, 'channels-icon', 25);

    @extend %header--main-menu-item--selector;
  }


  &--main-menu-item-image-slides--mobile{
    @include generate-sprite-image($dashboard-sprites, 'slides-icon', 25);

    @extend %header--main-menu-item--selector;
  }


  &--main-menu-item-image-screens--mobile{
    @include generate-sprite-image($dashboard-sprites, 'display-icon', 25);

    @extend %header--main-menu-item--selector;
  }


  &--main-menu-item-image-templates--mobile{
    @include generate-sprite-image($dashboard-sprites, 'templates-icon', 25);

    @extend %header--main-menu-item--selector;

  }

  &--main-menu-item-text--mobile {
    display: block;
  }
}
