/**
 *
 * List
 * Display a select list with check icons.
 *
 */

/* Styles
 ========================================================================== */
.list {
  margin: 0 auto;
  position: relative;
  width: 40em;

  &--element {
    border-bottom: 1px solid;
    cursor: pointer;
    height: 3.5em;
    padding: 1em;

    &:hover {
      background: $gray-lighter;
    }
  }

  &--element-check {
    display: inline-block;
    position: absolute;
    left: 0;
  }

  &--element-selected {
    height: 20px;
    width: 20px;
  }

  &--element-title {
    display: inline-block;
    position: absolute;
    left: 3em;
  }
}

