.login {

  &--section {
    margin: 5em $gutter 0;
    max-width: $breakpoint-desk;

    @include breakpoint($breakpoint-lap) {
      margin: 5em auto 0;
    }
  }

  &--reset-form,
  &--form,
  &--problem {
    background-color: $gray-lighter;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    padding: 1.5em;

    @include breakpoint($breakpoint-lap) {
      max-width: 50%;
    }
  }


  &--alert {
    color: red;
    margin-bottom: 1em;
    text-align: center;
  }



  &--text {
    margin-bottom: 1em;
    margin: 0 2em;
    text-align: center;
  }


  &--pass,
  &--name {
    margin-bottom: 1em;
  }

  &--remember-me {
    width: 100%;

    font-size: .85em;

    &-checkbox,
    &-label {
      display: inline-block;
    }
  }

  &--submit {
    @extend .button;

    margin-bottom: 1em;
    width: 100%;
  }

  &--content-list-header {
    margin-bottom: .5em;

    font-weight: bold;
  }

  &--content-list {
    margin-top: 0;
    margin-bottom: 0;

    line-height: 2em;
  }

  &--reset-label {

  }

  &--reset-input {

  }
}
