.log {
  @extend .itk-message;

  &--wrapper {
    padding: 1em;

    text-align: center;

    &-inner {
      margin-right: auto;
      margin-left: auto;
      max-width: $layout-max-width;
    }
  }

  &--inner {
    @extend .itk-message--inner;
  }

  &--text {
    margin-bottom: 1em;
  }

  &--show-error {
    text-decoration: underline;
    cursor: pointer;

    &.is-expanded {
      margin-bottom: 1em;
    }
  }

  &--cause,
  &--stacktrace {
    color: $gray-darkest;
  }
}