.log {
  @extend .itk-message;

  &--wrapper {
    padding: 1em;

    text-align: center;

    &-inner {
      margin-right: auto;
      margin-left: auto;
      max-width: $layout-max-width;
    }
  }

  &--inner {
    @extend .itk-message--inner;
  }
}