/**
 *
 * Overview
 *
 */


/* Silent classes related to this document
   ========================================================================== */




/* Styles
   ========================================================================== */

.overview {

  /* Global settings
   ========================================================================== */

  &--section {
    margin: 0 auto;
    max-width: 100em;
    padding-top: 2em;
    text-align: center;
  }

  &--description {
    color: $gray-darker;
    font-weight: lighter;
    margin: 0 $gutter 2em $gutter;
    text-align: center;
  }

  &--spinner {
    margin: 0 auto;
  }

  &--screens,
  &--media,
  &--channels,
  &--slides {
    text-align: center;
  }

  &--channel {
    display: inline-block;
    margin: 0 0 $gutter;

    @include breakpoint($breakpoint-lap) {
      margin: 0 ($gutter * .5) $gutter ($gutter * .5);
    }

    @include strip-link-styles();
  }

  &--screen,
  &--media-single,
  &--slide,
  &--channel {
    display: inline-block;
    margin: 0 0 $gutter;
    position: relative;
    vertical-align: middle;

    @include breakpoint($breakpoint-lap) {
      margin: 0 ($gutter * .5) $gutter ($gutter * .5);
    }
  }

  &--slide-unpublished-overlay {
    background: $white;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    @include opacity(.7);
  }

  &--slide-unpublished-icon {
    position: absolute;
    top: 5px; // Static since we are working within a static div anyway.
    left: 5px;
    z-index: 1;

    @include generate-sprite-image($dashboard-sprites, 'exclamation-icon', 30);
  }

  &--slide-published-icon {
    position: absolute;
    top: 5px; // Static since we are working within a static div anyway.
    left: 5px;
    z-index: 1;

    @include generate-sprite-image($dashboard-sprites, 'check-circle-full-icon', 30);
  }

  &--slide-link,
  &--channel-link {
    @include strip-link-styles();
  }

  &--slides-container,
  &--channel-container {
    display: inline-block;
  }

  &--channel-empty {
    width: 300px; // Static sizes to correspond with the inline styles set on non empty channels.
    height: 168.75px;
    position: relative;
    background-color: rgb(204, 204, 204);
    cursor: pointer;
  }

  &--channel-empty-text {
    font-size: 1em;
    position: relative;
    top:50%;

    @include translateY(-50%);
  }

  &--channel-label,
  &--slide-label {
    display: inline-block;
    font-size: .9em;
  }

  &--channel-date,
  &--slide-date {
    color: $gray;
    font-size: .9em;
  }


  &--filter {
    border-bottom: 0;
    display: inline-block;
    max-width: $breakpoint-desk;
    margin: 0 auto;
    position: relative;
    width: 100%;
  }

  &--filter-field {
    height: 3.1em;
  }

  &--filter-owner,
  &--filter-orientation {
    margin-bottom: 1em;
    position: relative;
    width: 100%;
    margin-left: $grid-markup-fix;
    box-sizing: border-box;
    padding-right: 0;
    text-align: center;

    @include breakpoint($breakpoint-desk) {
      width: 35%;
      display: inline-block;
      vertical-align: top;
    }
  }

  &--filter-owner {
    @include breakpoint($breakpoint-desk) {
      width: 25%;
    }
  }

  &--filter-owner-button {
    background: $gray-lightest;
    border: 1px solid $gray-lighter;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0.75em 0;
    width: 100%;

    @include border-radius(.5em);
    @include strip-link-styles($gray-darker);
  }

  &--form {
    margin: 0 0 1em 0;
    width: 100%;

    @include breakpoint($breakpoint-desk) {
      margin: 0 0 1em $grid-markup-fix;
      width: 40%;
      display: inline-block;
      box-sizing: border-box;
      padding-right: 1em;

      &.full-width {
        width: 75%;
      }
    }
  }


  &--sorting {
    display: inline-block;
    margin: 0 0 1em 0;
    width: 100%;

    @include breakpoint($breakpoint-desk) {
      max-width: $breakpoint-desk;
      margin: 0 auto 1em;
    }
  }


  &--filter-label,
  &--sort-label {
    font-weight: bold;
    overflow: hidden;
    text-align: left;
    width: 100%;
  }

  &--sort-links {
    text-align: center;
  }

  &--filter-twosplit-left,
  &--filter-twosplit-right,
  &--filter-threesplit-left,
  &--filter-threesplit-middle,
  &--filter-threesplit-right,
  &--filter-foursplit-left,
  &--filter-foursplit-middle,
  &--filter-foursplit-right,
  &--horisontal,
  &--vertical,
  &--newest,
  &--oldest,
  &--alphabetical {
    background: $gray-lightest;
    border: 1px solid $gray-lighter;
    box-sizing: border-box;
    border-right: 0;
    color: $gray-darker;
    cursor: pointer;
    display: inline-block;
    margin-left: $grid-markup-fix;
    padding: 0.75em 0;
    text-align: center;
    width: 33.3%;

    @include strip-link-styles($gray-darker);

    &:first-child {
      @include border-radius(.5em 0 0 .5em);
    }

    &:last-child {
      border-right: 1px solid $gray-lighter;

      @include border-radius(0 .5em .5em 0);
    }

    &.is-active {
      background: $gray-lighter;
      font-weight: bold;
    }
  }

  &--filter-twosplit-left,
  &--filter-twosplit-right {
    width: 50%;
  }

  &--filter-foursplit-left,
  &--filter-foursplit-middle,
  &--filter-foursplit-right {
    width: 25%;
  }


  &--horisontal,
  &--vertical {
    width: 50%;
  }

  /* Screens overview
 ========================================================================== */
  &--screen-link {
    display: inline-block;
    font-size: .9em;

    @include strip-link-styles();
  }


  &--screen-wrapper {
    margin: 0;
    background: $gray-lightest;
    background-position: center;
    border: 3px solid $gray;
    box-sizing: border-box;
    color: $gray-darker;
    text-align: center;

    @include breakpoint($breakpoint-lap){
      margin: 0 1em 1em 0;
    }
  }

  &--screen-text {
    padding: .5em;
    text-overflow: ellipsis;
    word-wrap: break-word;
    height: 90%;
    overflow: hidden;
  }

  &--screen-header {
    font-weight: bold;
  }

  &--screen--description {
  }

  &--screen-all,
  &--screen-horisontal,
  &--screen-vertical {
    width: 33.3%;
  }


/* Media overview
========================================================================== */
  &--media-single {
    position: relative;
    cursor: pointer;
    font-size: 0; // To counter inline-block.
    overflow: hidden;
  }


  &--media-video-icon {
    right: .5rem;
    position: absolute;
    top: .5rem;
    background: $white;

    @include generate-sprite-image($dashboard-sprites, 'video-icon', 22);
  }


  &--media-overlay {
    background-color: transparentize($white, .35);
    color: $black;
    font-size: .8rem; // We use rem since the container fontsize is 0 (See "&--media-single" selector)
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30%;
    height: 30%;

    &.is-hovering {
      @include animation(toggle-media-overlay .15s ease 1 forwards);

      animation-timing-function: linear;
      -webkit-animation-timing-function: linear;
    }
  }


  &--media-image {
    max-height: 10rem; // We use rem since the container fontsize is 0 (See "&--media-single" selector)
    max-width: 300px;
    background-image: url('../../images/squares.jpg');
    background-repeat: repeat;
    min-width: 200px;
  }


  &--media-overlay-inner {
    padding: .5em;
    text-align: left;
  }


  &--media-text {
    float: left;
    max-width: 80%;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  &--no-video {
    background: $gray-lightest;
    border: 2px solid $gray-light;
    box-sizing: border-box;
    color: $gray;
    font-size: 1rem;
    height: 10rem;
    line-height: 10rem;
    vertical-align: middle;
    width: 10rem; // We use rem since the container fontsize is 0 (See "&--media-single" selector)
  }

  &--media-link {
    @include add-overlay(overview);
  }

  /* slide overview
 ========================================================================== */
  &--slide-link {
    @include add-overlay(overview);
  }

  // Default check circled icon.
  &--link-check {
    @extend %image-check-icon--placeholder;
  }

  /* channel overview
 ========================================================================== */
  &--channel-link {
    @include add-overlay(overview);
  }

  &--channel-remove {
    @extend %create-element--remove-element;
  }

  &--channel-overlay {
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0);
    position: absolute;
  }
}