/**
 *
 * Pager
 *
 */


/* Silent classes and variables related to this document
   ========================================================================== */
$pager--border-width: 3px;
$pager--border-color: $gray-lighter;
$pager--background: $white;
$pager--text-color: $gray-lighter;
$pager--valid: $beige;


/* Pager for the creation pages (The one just below header.)
   ========================================================================== */

.pager {
  margin-bottom: 3em;
  padding: 2em 0;
  text-align: center;

  &--inner {
    display: inline-block;
  }


  &--step-wrapper {
    display: inline-block;
    position: relative;
    color: $pager--text-color;
    cursor: pointer;

    &.is-active {
      color: #62B001;

      .pager--step {
        border-color: #62B001;
      }
    }
  }


  &--step {
    background: #fff;
    border: 1px solid #e6e6e6;
    display: inline-block;
    line-height: .5em;
    margin: 0 .5em;
    padding: .5em;
    position: relative;
    font-size: 1.3em;

    @include border-radius(100%);

    @include breakpoint(50em) {
      border: 3px solid #e6e6e6;
      margin: 0 .8em;
      font-size: 1.8em;
    }
  }


  &--line {
    border-bottom: 2px solid $pager--border-color;
    margin: 0 -2em;
    margin-bottom: -18px;

    @include breakpoint(50em) {
      margin-bottom: -26px;
    }
  }


  &--text {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    display: none;

    @include breakpoint($breakpoint-portable) {
      display: block;
    }
  }

  /* Pager for the search result pages.
     ========================================================================== */

  &--search{
    text-align: center;
  }

  &--search-item {
    display: inline-block;
    background: $gray-lightest;
    border: 1px solid $gray-lighter;
    box-sizing: border-box;
    border-right: 0;
    cursor: pointer;
    margin-left: $grid-markup-fix;
    text-align: center;

    &:first-child {
      @include border-radius(.5em 0 0 .5em);
    }

    &:last-child {
      border-right: 1px solid $gray-lighter;

      @include border-radius(0 .5em .5em 0);
    }

    &.is-active {
      background: $beige;
    }
  }

  &--search-item-inner {
    padding: .4em .9em;
    display: block;
  }
}

