/**
 *
 * Pager
 *
 */


/* Silent classes and variables related to this document
   ========================================================================== */
$pager--border-width: 1px;
$pager--border-color: $gray;
$pager--background: $gray-lightest;
$pager--text-color: $gray;
$pager--valid: $beige;


/* Styles
   ========================================================================== */

.pager {
  margin-bottom: 3em;
  padding-left: 36px; //  To align with grid positioned element below.
  text-align: center;

  &--inner {
    display: inline-block;
  }


  &--step {
    background: $pager--background;
    border: $pager--border-width solid $pager--border-color;
    color: $pager--text-color;
    cursor: pointer;
    display: inline-block;
    line-height: 10px;
    margin: 0 10px;
    padding: 1em;

    @include border-radius(100%);

    &:first-child {
      margin-left: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }

    &.is-active {
      border-width: 2px;
    }

    &.is-valid {
      background: $pager--valid;
      color: $gray-dark;
    }
  }

  &--line {
    border-bottom: $pager--border-width solid $pager--border-color;
    margin-bottom: -24px;
  }
}