/**
 *
 * Preview
 *
 */


/* Silent classes related to this document
   ========================================================================== */

%preview--play-pause-positioning {
  cursor: pointer;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;

  @include translateY(-50%);
}

/* Styles
   ========================================================================== */

.preview--slide,
.preview--channel,
.preview--channel-display {
  display: block;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.preview--channel-display,
.preview--slide-display,
.preview--channel-display {
  cursor: pointer;

  &.is-empty {
    cursor: default;
  }
}

.preview--channel-display {
  display: inline-block;
}

.preview--channel-play {
  @extend %preview--play-pause-positioning;

  @include generate-sprite-image($dashboard-sprites, 'play-icon', 65);
}



.preview--channel-pause {
  @extend %preview--play-pause-positioning;

  @include generate-sprite-image($dashboard-sprites, 'pause-icon', 65);
}