/* Animations
 *
 * ========================================================================== */

// Default spinner - rotate a div.
@include keyframes(spinner) {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


// Move a div from outside screen to right side of screen.
@include keyframes(toggle-nav-open) {
  0% {
    right: -100%;
  }

  100% {
    right: 0;
  }
}


// Move div from right side of screen to outside of screen
@include keyframes(toggle-nav-close) {
  0% {
    right: 0;
  }

  100% {
    right: -100%;
  }
}


// Create a black overlay.
@include keyframes(toggle-nav-overlay) {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: transparentize($black, .35);
  }
}
