/**
 *
 * Panel menu.
 *
 */

$panel-menu-spacing-top: 10px;
$panel-menu-max-width: 280px;
$panel-menu-z-index: 99;

.panel-menu {
  margin-top: $panel-menu-spacing-top;
  max-width: $panel-menu-max-width;

  &.is-positioned {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: $panel-menu-z-index;
  }

  &.is-hidden {
    display: none;
  }
}
