<div class="panel-menu js-panel-menu is-positioned is-hidden">
  {% embed "modules-box" with { data: data } %}
    {% block header %}{% endblock %}
    {% block content %}
      {% for item in data.items %}
        {% include "modules-content-list-item-compact" with { data: item } %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
</div>
