/**
 *
 * Buttons
 *
 */

/* Placeholder classes
   ================================================================================================================== */

%button {
  @include strip-link-styles($white); // A tags
  border: 0;
  border-radius: $border-radius;
  color: $white;  // Input tags
  cursor: pointer;
  display: inline-block;
  font-size: 125%;
  line-height: 1.5em;
  margin-right: .5em;
  margin-top: .5em;
  padding: .5em 2em;
  position: relative;
  text-align: center;
  vertical-align: middle;

  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }
}


/* Basic styling
   ================================================================================================================== */

.button {
  @extend %button;

  // Default colors
  background: $button-default-background;

  &:hover {
    background: darken($button-default-background, 15%);
  }

  // Grayscale
  &.is-grayscale {
    background: $gray-dark;

    &:hover {
      background: darken($gray-dark, 15%);
    }
  }

  // Inactive color
  &.is-inactive {
    background: $button-default-inactive;
    color: $gray;

    &:hover {
      background: $button-default-inactive;
      cursor: not-allowed;
    }
  }

  // Warning color
  &.is-warning {
    background: $button-default-warning;

    &:hover {
      background: darken($button-default-warning, 15%);
    }
  }


  // Size alteration.
  &.is-small {
    font-size: 70%;
  }
}