<a href="#" class="button">Link</a>
<button type="submit" class="button">Button</button>
<input type="submit" value="Input submit" class="button">
<input type="button" value="Input button" class="button">
<a href="#" class="button is-inactive">Button inactive</a>
<a href="#" class="button is-grayscale">Button grayscale</a>
<a href="#" class="button is-warning">Button warning</a>
<a href="#" class="button is-small">Button small</a>