<div>
  <i data-icon="apps" class="is-tiny"></i>
  <h5>icon apps</h5>
</div>

<div>
  <i data-icon="event-note" class="is-tiny"></i>
  <h5>icon event-note</h5>
</div>

<div>
  <i data-icon="search" class="is-tiny"></i>
  <h5>icon search</h5>
</div>

<div>
  <i data-icon="tune" class="is-tiny"></i>
  <h5>icon tune</h5>
</div>

<div>
  <i data-icon="apps" class="is-small"></i>
  <h5>icon apps</h5>
</div>

<div>
  <i data-icon="event-note" class="is-small"></i>
  <h5>icon event-note</h5>
</div>

<div>
  <i data-icon="search" class="is-small"></i>
  <h5>icon search</h5>
</div>

<div>
  <i data-icon="tune" class="is-small"></i>
  <h5>icon tune</h5>
</div>

<div>
  <i data-icon="apps" class="is-medium"></i>
  <h5>icon apps</h5>
</div>

<div>
  <i data-icon="event-note" class="is-medium"></i>
  <h5>icon event-note</h5>
</div>

<div>
  <i data-icon="search" class="is-medium"></i>
  <h5>icon search</h5>
</div>

<div>
  <i data-icon="tune" class="is-medium"></i>
  <h5>icon tune</h5>
</div>

<div>
  <i data-icon="apps" class="is-large"></i>
  <h5>icon apps</h5>
</div>

<div>
  <i data-icon="event-note" class="is-large"></i>
  <h5>icon event-note</h5>
</div>

<div>
  <i data-icon="search" class="is-large"></i>
  <h5>icon search</h5>
</div>

<div>
  <i data-icon="tune" class="is-large"></i>
  <h5>icon tune</h5>
</div>

<div>
  <i data-icon="apps" class="is-small is-inverted"></i>
  <h5>icon apps inverted</h5>
</div>

<div>
  <i data-icon="event-note" class="is-small is-inverted"></i>
  <h5>icon event-note inverted</h5>
</div>

<div>
  <i data-icon="apps" class="is-large is-inverted"></i>
  <h5>icon apps inverted</h5>
</div>

<div>
  <i data-icon="event-note" class="is-large is-inverted"></i>
  <h5>icon event-note inverted</h5>
</div>

<div>
  <i data-icon="check-circle" class="is-large"></i>
  <h5>Check circle</h5>
</div>