/**
 *
 * Icons
 *
 */

[data-icon] {
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;

  &.is-tiny {
    height: 18px;
    width: 18px;
  }

  &.is-small {
    height: 24px;
    width: 24px;
  }

  &.is-medium {
    height: 36px;
    width: 36px;
  }

  &.is-large {
    height: 48px;
    width: 48px;
  }
}

.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  overflow: hidden;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;

  &.md-18 {
    font-size: 18px;
    width: 31px;
  }

  &.md-24 {
    font-size: 24px;
    width: 40px;
  }

  &.md-36 {
    font-size: 36px;
    width: 62px;
  }
  &.md-48 {
    font-size: 48px;
    width: 82px;
  }
}
