/**
 *
 * Search
 *
 */


.search {
  @include flex(1 1 auto);

  @include breakpoint($layout-max-width+1) {
    margin-left: auto;
    margin-right: auto;
    max-width: $layout-max-width;
  }

  &--elements {
    @include flexbox;
  }

  &--input {
    @include flex-basis(100%);

    position: relative;

    // Icon
    &:before {
      background: url("/assets/icons/search.svg") no-repeat;
      background-position: center center;
      content: "";
      height: 36px;
      left: .75em;
      margin: 2px;
      opacity: .25;
      position: absolute;
      top: .4em;
      width: 36px;
    }

    input[type="search"] {
      min-height: 2.5em;
      padding-bottom: .85em;
      padding-left: 3.5em;
      padding-right: 1.25em;
      padding-top: .85em;
    }
  }


  &--toggle-filter {
    @include flex-basis(48px);
    @include flex-grow(0);

    cursor: pointer;
    margin-left: 1em;
    margin-top: .25em;
    z-index: 1;
  }


  &--field-wrapper {
    background-color: $gray-lightest;
  }

  // Height transition using max-height http://stackoverflow.com/questions/3311299/css-transition-not-working-for-percentage-height
  &--filters-wrapper {
    height: auto;
    max-height: 0;
    overflow: hidden;

    transition: max-height .2s;
    transition-timing-function: ease-in-out;

    &.is-open {
      max-height: 120px;

      // Alter max height to to stacking divs on small screens and inline divs on large screens. (This way close animation wont appear delayed.)
      @include breakpoint(740px) {
        max-height: 70px;
      }
    }
  }
}
