/**
 *
 * Spinner
 *
 */

.spinner-element {
  height: 100px;
  width: 100%;

  &:after {
    // We use background image to ensure centering.
    background-color: transparentize($white, .15);
    background-image: url("/assets/icons/spinner.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
  }
}