# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=63a9d8c565cf74dd293ff21742169d1e
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name
###< doctrine/doctrine-bundle ###

LOCALE=da
ABSOLUTE_PATH_TO_SERVER=https://admin.indholdskanalen.vm
ZENCODER_API=1234567890
SHARING_HOST=https://search.indholdskanalen.vm
SHARING_PATH=/api
SHARING_APIKEY=88cfd4b277f3f8b6c7c15d7a84784067
SHARING_ENABLED=true
SEARCH_HOST=https://search.indholdskanalen.vm
SEARCH_PATH=/api
SEARCH_APIKEY=795359dd2c81fa41af67faa2f9adbd32
SEARCH_INDEX=e7df7cd2ca07f4f1ab415d457a6e1c13
MIDDLEWARE_HOST=https://middleware.indholdskanalen.vm
MIDDLEWARE_PATH=/api
MIDDLEWARE_APIKEY=059d9d9c50e0c45b529407b183b6a02f
SITE_TITLE=os2display
VERSION=dev
ITK_LOG_VERSION=1
ITK_LOG_ERROR_CALLBACK=/api/error
ITK_LOG_TO_CONSOLE=true
ITK_LOG_LEVEL=all
SEARCH_FILTER_DEFAULT=all
KOBA_APIKEY=b70a6d8511e05aa737ee68126d801558
KOBA_PATH=http://192.168.50.21
MAILER_FROM_EMAIL=''
MAILER_FROM_NAME=''
