/web/bundles/
/web/config.rb
/web/config.codekit
/web/js/configuration.js
/web/images/logo.png
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/.idea/
.DS_Store
.sass-cache/
config.codekit
/node_modules/
composer.phar
web/uploads/
/bin
