/web/bundles/
/web/config.codekit
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/.idea/
.DS_Store
composer.lock
.sass-cache/
config.codekit
/node_modules/
/web/bower_components/
composer.phar
web/uploads/
/bin
