<?xml version="1.0"?>
<ruleset name="PHP_CodeSniffer">
 <description>The coding standard.</description>

 <file>src/</file>

 <arg value="np"/>
 <arg value="s"/>

 <!-- Check only php files -->
 <arg name="extensions" value="php"/>

 <rule ref="Drupal">
	 <!-- Don't complain about comments – or lack of them … -->
	 <exclude name="Drupal.Commenting"/>
	 <!-- <exclude name="Drupal.Commenting.DocComment"/> -->
	 <!-- <exclude name="Drupal.Commenting.DocCommentStar"/> -->
	 <!-- <exclude name="Drupal.Commenting.FileComment"/> -->
	 <!-- <exclude name="Drupal.Commenting.FunctionComment"/> -->
	 <!-- <exclude name="Drupal.Commenting.HookComment"/> -->
	 <!-- <exclude name="Drupal.Commenting.InlineComment"/> -->
	 <!-- <exclude name="Drupal.Commenting.PostStatementComment"/> -->

	 <exclude name="Drupal.Array.Array.LongLineDeclaration"/>
 </rule>
</ruleset>
