<!DOCTYPE html>
<html ng-app>
<head>
  <title>Indholdskanalen</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="js/slide.js"></script>
</head>
<body>
  <!-- Header -->
  <header class="header" role="banner">
    <div class="header--inner">
      <a href="/" class="header--logo"><img src="images/logo.png"></a>
    </div>
  </header>

  <!-- Main content -->
  <div class="layout-wrapper" ng-controller="SlideCtrl" ng-init="init()">
    <input class="slide-title-input" type="text" placeholder="Slidenavn" ng-model="slide.title">

    <!-- Size dropdown -->
    <div class="slider-container">
      <select class="preview-size-dropdown" ng-model="preview.size">
        <option value="one-eighth">Skaleret 1/8 (12,5%)</option>
        <option value="one-sixth">Skaleret 1/6 (16,6%)</option>
        <option value="one-fifth">Skaleret 1/5 (20%)</option>
        <option value="one-quarter">Skaleret 1/4 (25%)</option>
        <option value="one-half">Skaleret 1/2 (50%)</option>
        <option value="one-whole">Skaleret 1/1 (100%)</option>
      </select>
    </div>

    <!-- Preview -->
    <div class="slide-preview">
      <div class="slide-preview--wrapper">
        <div class="slide-preview--{{preview.size}}" style="background-color: {{slide.backgroundColor}}; background-image: url('{{slide.backgroundImage}}'); background-size: cover;">
          <div class="slide-preview--text" style="color: {{slide.textColor}}; background-color: {{slide.textBackgroundColor}};">
            {{slide.text}}
            <a href="#edit-content" ng-click="editor.toggleShowTextEditor()"><img src="images/icons/gear.png" class="slide-preview--icon"></a>
            <a href="#edit-content" ng-click="editor.toggleShowBackgroundEditor()"><img src="images/icons/gear.png" class="slide-preview--icon-background"></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Editor overlays -->
    <div class="slide-edit-overlay slide-edit-text-overlay" ng-show="editor.showTextEditor">
      <form class="ik-form">
        <label>Slidenavn</label>
        <input class="ik-form-element" type="text" placeholder="UdenTitel1" ng-model="slide.title">
        <label>Tekstfarve</label>
        <input class="ik-form-element" type="text" placeholder="e.g. #fff" ng-model="slide.textColor">
        <label>Baggrundsfarve</label>
        <input class="ik-form-element" type="text" placeholder="e.g. #000" ng-model="slide.textBackgroundColor">
        <label>Indhold</label>
        <textarea class="ik-form-elemen" rows="10" ng-model="slide.text"></textarea>
        <div class="button-wrapper"><a class="button" ng-click="editor.toggleShowTextEditor()">Luk</a></div>
      </form>
    </div>
    <div class="slide-edit-overlay slide-edit-background-overlay" ng-show="editor.showBackgroundEditor">
      <form class="ik-form">
        <label>Vælg billede</label>
        <div class="slider-container">
          <select class="preview-size-dropdown" ng-model="slide.backgroundImage">
            <option value="{{img.src}}" ng-repeat="img in backgroundImages">{{img.title}}</option>
          </select>
        </div>
        <p>-- eller --</p>
        <label>Baggrundsfarve</label>
        <input class="ik-form-element form-slide-background-background-color" type="text" placeholder="e.g. #000" ng-model="slide.backgroundColor">
        <div class="button-wrapper"><a class="button" ng-click="editor.toggleShowBackgroundEditor()">Luk</a></div>
      </form>
    </div>

    <!-- Save slide button -->
    <div class="button-wrapper"><a class="button" ng-click="editor.saveSlide()">Gem slide</a></div>
  </div>
</body>
</html>
