<section id="create-channel-four" class="create-channel--section">
  <div class="create-channel--content--channel-four">
    <h1 class="create-channel--header">Opret kanal - slides rækkefølge (<[step]>/<[steps]>)</h1>
      <p class="create-channel--header-description">Træk eller brug pilene for at vælge i hvilken rækkefølge dine slides skal vises.</p>
      <div class="create-channel--slides">
        <div class="create-channel--slide-order-element" data-ng-repeat="slide in getChosenSlides()">
          <div href="#" class="create-channel--slide-order-link">
            <span class="create-channel--slide-order-arrow-left" data-ng-click="pushLeft($index)"><span class="create-channel--arrow-left-inner"> &#10094; </span></span>
            <span class="create-channel--slide-order-number"><[$index + 1]></span>
            <img data-ng-src="<[slide.src]>" width="400"  height="250"/>
            <span class="create-channel--slide-order-label"><[slide.title]></span>
            <span class="create-channel--slide-order-arrow-right" data-ng-click="pushRight($index)"><span class="create-channel--arrow-right-inner">&#10095; </span></span>
          </div>
        </div>
      </div>
    <input type="submit" class="create-channel--button" value="Gem og opret" data-ng-click="submitStep()">
  </div>
</section>