<!--
<section class="frontpage--section">
  <div class="frontpage--layout-alfa">
    <div class="layout--inner">
      <h2>Alfa</h2>
      <p>Eventuelt seneste beskeder fra systemet</p>
      - Fejl på skærme.</br>
      - Nye delte kanaler.</br>
      - Nye delte slides.
    </div>
  </div>
  <div class="frontpage--layout-beta">
    <div class="layout--inner">
      <h2>Beta</h2>
      <p>Eventuelt Seneste slides</p>
    </div>
  </div>
  <div class="frontpage--layout-gamma">
    <div class="layout--inner">
      <h2>Gamma</h2>
      <p>Eventuelt seneste kanaler</p>
    </div>
  </div>
  <div class="frontpage--layout-delta">
    <div class="layout--inner">
      <h2>Delta</h2>
      <p>Indhold</p>
    </div>
  </div>
</section>
-->

-- Editor display.
<div class="text-right ng-scope" style="width: 960px; height: 540px; font-size: 25px; background-image: url(http://indholdskanalen.vm/); background-color: rgb(204, 204, 204);position: relative;">
  <div class="text-right--text-wrapper">
    <div class="text-right--text-inner" style="color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.701961);">
      <h1 class="text-right--header ng-binding">Test af padding er og der</h1>
      <pre class="text-right--description ng-binding">test igendsa
dasdadd dsdasd  dsa  dsa  das  das  dsads asd  asdad
lorem ipsum 3 4 8 10 sdsa
Hvad skal der ske nu  hvis jeg skifter linje igen igen

herder</pre>
    </div>
  </div>
</div>
  <br>

-- Editor with inline styles (No classes)
<div class="" style="width: 960px; height: 540px; font-size: 25px; background-image: url(http://indholdskanalen.vm/); background-color: rgb(204, 204, 204);position: relative;">
  <div class="" style="width: 480px; height: 540px;right:0;position:absolute;">
    <div class="" style="color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.701961);margin:20px;padding: 30px;height:432px;">
      <h1 class="" style="font-size:25px">Test af padding er og der</h1>
      <pre class="" style="font-size: 18px;">test igendsa
dasdadd dsdasd  dsa  dsa  das  das  dsads asd  asdad
lorem ipsum 3 4 8 10 sdsa
Hvad skal der ske nu  hvis jeg skifter linje igen igen

herder</pre>
    </div>
  </div>
</div>
<br>
  -- /4
<div class="" style="width: 240px; height: 135px; font-size: 6.25px; background-image: url(http://indholdskanalen.vm/); background-color: rgb(204, 204, 204);position: relative;">
  <div class="" style="width: 120px; height: 135px;right:0;position:absolute;">
    <div class="" style="color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.701961);margin:5px;padding: 7.5px;height:108px;">
      <h1 class="" style="font-size:6.25px">Test af padding er og der</h1>
      <pre class="" style="font-size: 4.25px;">test igendsa
dasdadd dsdasd  dsa  dsa  das  das  dsads asd  asdad
lorem ipsum 3 4 8 10 sdsa
Hvad skal der ske nu  hvis jeg skifter linje igen igen

herder</pre>
    </div>
  </div>
</div>
<br>

-- /3
<div class="" style="width: 320px; height: 180px; font-size: 8.33333333333px; background-image: url(http://indholdskanalen.vm/); background-color: rgb(204, 204, 204);position: relative;">
  <div class="" style="width: 160px; height: 180px;right:0;position:absolute;">
    <div class="" style="color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.701961);margin:6.666666666px;padding: 10px;height:144px;">
      <h1 class="" style="font-size:8.33333333333px">Test af padding er og der</h1>
      <pre class="" style="font-size: 6px;">test igendsa
dasdadd dsdasd  dsa  dsa  das  das  dsads asd  asdad
lorem ipsum 3 4 8 10 sdsa
Hvad skal der ske nu  hvis jeg skifter linje igen igen

herder</pre>
    </div>
  </div>
</div>
<br>

--/3.2 (Width: 300px)
<div class="" style="width: 300px; height: 168.75px; font-size: 7.8125px; background-image: url(http://indholdskanalen.vm/); background-color: rgb(204, 204, 204);position: relative;">
  <div class="" style="width: 150px; height: 168.75px;right:0;position:absolute;">
    <div class="" style="color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.701961);margin:6.25px;padding: 9.375px;height:135px;">
      <h1 class="" style="font-size:7.8125px">Test af padding er og der</h1>
      <pre class="" style="font-size: 5.625px;">test igendsa
dasdadd dsdasd  dsa  dsa  das  das  dsads asd  asdad
lorem ipsum 3 4 8 10 sdsa
Hvad skal der ske nu  hvis jeg skifter linje igen igen

herder</pre>
    </div>
  </div>
</div>
<br>

-- Preview with classes
<div class="text-right ng-scope" data-ng-style="{'background-color': ikSlide.options.bgcolor, 'width': theStyle.width, 'height': theStyle.height, 'font-size': theStyle.fontsize, 'background-image': 'url(' + ikSlide.options.image + ')'}" style="width: 300px; height: 168.75px; font-size: 7.8125px; background-image: url(http://indholdskanalen.vm/); background-color: rgb(204, 204, 204);position:relative;">
  <div class="text-right--text-wrapper">
    <div class="text-right--text-inner" data-ng-style="{'background-color': ikSlide.options.textbgcolor, 'color': ikSlide.options.textcolor}" style="color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.701961);">
      <h1 class="text-right--header ng-binding">Test af padding er og der</h1>
      <pre class="text-right--description ng-binding">test igendsa
dasdadd dsdasd  dsa  dsa  das  das  dsads asd  asdad
lorem ipsum 3 4 8 10 sdsa
Hvad skal der ske nu  hvis jeg skifter linje igen igen

herder</pre>
    </div>
  </div>
</div>