<section class="frontpage--section">
  <div class="frontpage--layout-alfa">
    <div class="layout--inner">
      <h2>Alfa</h2>
      <p>Eventuelt seneste beskeder fra systemet</p>
      - Fejl på skærme.</br>
      - Nye delte kanaler.</br>
      - Nye delte slides.
    </div>
  </div>
  <div class="frontpage--layout-beta">
    <div class="layout--inner">
      <h2>Beta</h2>
      <p>Eventuelt Seneste slides</p>
    </div>
  </div>
  <div class="frontpage--layout-gamma">
    <div class="layout--inner">
      <h2>Gamma</h2>
      <p>Eventuelt seneste kanaler</p>
    </div>
  </div>
  <div class="frontpage--layout-delta">
    <div class="layout--inner">
      <h2>Delta</h2>
      <p>Indhold</p>
    </div>
  </div>
</section>

