<header class="header" role="banner" ng-controller="MenuController">
  <a class="nav--overlay" data-ng-class="{'is-visible': navMenuOpen !== null && navMenuOpen}" data-ng-click="toggleNavMenu()"></a>
  <nav class="nav" data-ng-class="{'is-visible': navMenuOpen !== null && navMenuOpen, 'is-hidden': navMenuOpen !== null && !navMenuOpen}">
   <div class="nav--toggle-icon" data-ng-click="toggleNavMenu()">X</div>
    <h2 class="nav--header">Navigation</h2>
    <div class="nav--item-wrapper">
      <a href="/#/channels" class="nav--item">Kanaler</a>
      <a href="/#/slides" class="nav--item">Slides</a>
      <a href="/#/screens" class="nav--item">Screens</a>
      <a href="/#/templates" class="nav--item">Templates</a>
      <a href="/#/media" class="nav--item">Media</a>
      <a href="/profile" class="nav--item">Profile (Symfony)</a>
    </div>
    <div class="nav--item-wrapper">
      <a href="/logout" class="nav--item">Log ud</a>
    </div>
  </nav>
  <div class="header--inner">
    <div class="header--main">
      <div class="header--logo">
        <img src="/images/logo.png"/>
      </div>
      <nav class="header--main-menu" >
        <a class="header--main-menu-item-image-back" href="/#/"></a>
        <ul class="header--main-menu-items">
          <li class="header--main-menu-item" ng-class="{'is-active': url === '/channels'}">
            <a class="header--main-menu-item-link" ng-class="{'is-active': url === '/channels'}" href="/#/channels">
              <span class="header--main-menu-item-image-channels"></span>
              <span class="header--main-menu-item-text">Kanaler</span>
            </a>
          </li>
          <li class="header--main-menu-item" ng-class="{'is-active': url === '/slides'}">
            <a class="header--main-menu-item-link" ng-class="{'is-active': url === '/slides'}" href="/#/slides">
              <span class="header--main-menu-item-image-slides"></span>
              <span class="header--main-menu-item-text">Slides</span>
            </a>
          </li>
          <li class="header--main-menu-item" ng-class="{'is-active': url === '/screens'}" >
            <a class="header--main-menu-item-link" ng-class="{'is-active': url === '/screens'}" href="/#/screens">
              <span class="header--main-menu-item-image-screens"></span>
              <span class="header--main-menu-item-text">Skærme</span>
            </a>
          </li>
          <li class="header--main-menu-item" ng-class="{'is-active': url === '/templates'}" >
            <a class="header--main-menu-item-link" ng-class="{'is-active': url === '/templates'}" href="/#/templates">
              <span class="header--main-menu-item-image-templates"></span>
              <span class="header--main-menu-item-text">Skabeloner</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="header--secondary-menus">
        <div class="header--secondary-menus-inner">
          <div class="header--user-menu">
            <div class="header--user-menu-label">
              <a class="header--user-menu-dropdown-link" href="#">
                <img class="header--user-menu-image" src="/images/user-default.png"/>
                <span class="header--user-menu-name">Profil</span>
              </a>
            </div>
            <nav class="header--user-menu-links">
            </nav>
          </div>
          <div class="header--nav-menu">
            <div class="header--nav-menu-label">
              <span class="header--nav-menu-link" data-ng-click="toggleNavMenu()">
                <span class="header--nav-menu-label-image"></span>
                <span class="header--nav-menu-label-text">Menu</span>
              </span>
            </div>
            <nav class="header--nav-menu-links">
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header--sub">
    <div class="header--sub-inner">
      <nav class="header--sub-menu">
        <ul class="header--sub-menu-items">
          <li class="header--sub-menu-item" ng-repeat="item in subMenuItems">
            <a class="header--sub-menu-item-link" href="/#/{{item.path}}" ng-class="{'is-active': pathStartsWith(url, '{{item.path}}')}">
              <span class="header--sub-menu-item-image-{{item.classSuffix}}"></span>
              <span class="header--sub-menu-item-text">{{item.title}}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
