<header class="header" role="banner" ng-controller="MenuController">
  <div class="header--inner">
    <div class="header--main">
      <div class="header--logo">
        <img src="/images/logo.png"/>
      </div>
      <nav class="header--main-menu" >
        <ul class="header--main-menu-items">
          <li class="header--main-menu-item" ng-repeat="item in menu">
            <a class="header--main-menu-item-link" ng-class="{'is-active': item.active}" ng-href="/#/{{ item.link }}">
              <span class="header--main-menu-item-image-{{ item.name }}"></span>
              <span class="header--main-menu-item-text">{{ item.title }}</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="header--secondary-menus">
        <div class="header--secondary-menus-inner">
          <div class="header--user-menu">
            <div class="header--user-menu-label">
              <a class="header--user-menu-dropdown-link" href="#">
                <img class="header--user-menu-image" src="/images/user-default.png"/>
                <span class="header--user-menu-name">Profil</span>
              </a>
            </div>
            <nav class="header--user-menu-links">
            </nav>
          </div>
          <div class="header--nav-menu">
            <div class="header--nav-menu-label">
              <a class="header--nav-menu-dropdown-link" href="#">
                <span class="header--nav-menu-label-image"></span>
                <span class="header--nav-menu-label-text">Menu</span>
              </a>
            </div>
            <nav class="header--nav-menu-links">
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header--sub">
    <div class="header--sub-inner">
      <nav class="header--sub-menu">
        <ul class="header--sub-menu-items">
          <li class="header--sub-menu-item" ng-repeat="item in submenuitems">
            <a class="header--sub-menu-item-link" href="#">
              <span class="header--sub-menu-item-image-overview"></span>
              <span class="header--sub-menu-item-text">Oversigt</span>
            </a>
          </li>
          <li class="header--sub-menu-item">
            <a class="is-active header--sub-menu-item-link" href="#">
              <span class="header--sub-menu-item-image-create-channel"></span>
              <span class="header--sub-menu-item-text">Opret kanal</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
