<div class="create-slide--config" style="background-size: cover">
    <div class="create-slide--config-text-wrapper">
        <div class="create-slide--config-text">
            <h1 class="create-slide--config-header">{{ikScreen.title}}</h1>
            <div class="create-slide--config-description">({{ikScreen.width}} x {{ikScreen.height}})<br/>
                Grupper:
                <ul>
                    <li data-ng-repeat="group in ikScreenGroups">
                        {{group.title}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
