<section id="create-slide-two" class="create-slide--section">
    <div class="create-screen--content--screen-one">
        <h1 class="create-screen--header">Opret skærm (2/4)</h1>
        <p class="create-screen--header-description">Angiv dimensionerne på din skærm.</p>
        <form ng-submit="submitStep()">
            <input type="text" class="create-slide--text" placeholder="Bredde i pixels" data-ng-class="{'is-valid': validation.titleSet()}" data-ng-model="screen.width">
            <input type="text" class="create-slide--text" placeholder="Højde i pixels" data-ng-class="{'is-valid': validation.titleSet()}" data-ng-model="screen.height">
            <input type="submit" class="create-slide--button" data-ng-class="{'is-inactive': !validation.dimensionSet()}" ng-disabled="!validation.titleSet()" value="Gem og fortsæt">
        </form>
    </div>
</section>
