<section id="create-slide-two" class="create-slide--section">
  <div class="create-slide--content--slide-one">
    <h1 class="create-slide--header">Opret skærm ({{step}}/{{steps}})</h1>
    <p class="create-slide--header-description">Angiv bredde og højde i pixels på skærmen.</p>
    <form ng-submit="submitStep()">
      <input type="text" class="create-slide--text" placeholder="Bredde" data-ng-class="{'is-valid': validation.titleSet()}" data-ng-model="screen.width">
      <input type="text" class="create-slide--text" placeholder="Højde" data-ng-class="{'is-valid': validation.titleSet()}" data-ng-model="screen.height">
      <input type="submit" class="create-slide--button" data-ng-class="{'is-inactive': !validation.titleSet()}" ng-disabled="!validation.dimensionSet()" value="Gem og fortsæt">
    </form>
  </div>
</section>
