<section id="create-slide-two" class="create-slide--section">
  <div class="create-slide--content--slide-two">
    <h1 class="create-slide--header">Opret slide ({{step}}/{{steps}})</h1>
    <p class="create-slide--header-description">Vælg hvilken type skærm du har - er den bred eller høj?</p>
    <div class="create-slide--screens">
      <div class="create-slide--screen-landscape" ng-click="setOrientation('landscape')">
        <div class="create-slide--screen-link" ng-class="{'is-selected': slide!==null && slide.orientation=='landscape'}">
          <span class="create-slide--overlay">
            <span class="create-slide--link-check"></span>
          </span>
          <img src="/images/outlines/landscape-outline.png"/>
        </div>
      </div>
      <div class="create-slide--screen-portrait" ng-click="setOrientation('portrait')">
        <div class="create-slide--screen-link" ng-class="{'is-selected': slide!==null && slide.orientation=='portrait'}">
          <span class="create-slide--overlay">
            <span class="create-slide--link-check"></span>
          </span>
          <img src="/images/outlines/portrait-outline.png" />
        </div>
      </div>
    </div>
    <input type="submit" class="create-slide--button" value="Gem og fortsæt" data-ng-disabled="!validation.orientationSet()" data-ng-class="{'is-inactive': !validation.orientationSet()}" data-ng-click="submitStep()">
  </div>
</section>
