<!-- Wrapper start -->
<div style="width: 1080px; height: 1920px;">
  <!-- Rows start -->
  <div style="padding-top: 80px; padding-bottom: 80px;">
    <div style="width: 1080px; height: 160px; position: relative;">
      <div data-ng-class="{'is-active': region === 1}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 1})">
        <region region-id="1" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div style="width: 1080px; height: 160px; position: relative;">
      <div data-ng-class="{'is-active': region === 2}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 2})">
        <region region-id="2" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div style="width: 1080px; height: 160px; position: relative;">
      <div data-ng-class="{'is-active': region === 3}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 3})">
        <region region-id="3" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div style="width: 1080px; height: 160px; position: relative;">
      <div data-ng-class="{'is-active': region === 4}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 4})">
        <region region-id="4" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div style="width: 1080px; height: 160px; position: relative;">
      <div data-ng-class="{'is-active': region === 5}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 5})">
        <region region-id="5" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div style="width: 1080px; height: 160px; position: relative;">
      <div data-ng-class="{'is-active': region === 6}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 6})">
        <region region-id="6" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div style="width: 1080px; height: 160px; position: relative;">
      <div data-ng-class="{'is-active': region === 7}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 7})">
        <region region-id="7" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div style="width: 1080px; height: 160px; position: relative;">
      <div data-ng-class="{'is-active': region === 8}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 8})">
        <region region-id="8" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div style="width: 1090px; height: 160px; position: relative;">
      <div data-ng-class="{'is-active': region === 9}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 9})">
        <region region-id="9" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div style="width: 1090px; height: 160px; position: relative;">
      <div data-ng-class="{'is-active': region === 10}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 10})">
        <region region-id="10" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div style="width: 1090px; height: 160px; position: relative;">
      <div data-ng-class="{'is-active': region === 11}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 11})">
        <region region-id="11" show-progress="true" scale="0.50"></region>
      </div>
    </div>
  </div>
  <!-- Rows end -->
</div>
