@import "compass/css3";
@import "../_imports.scss";

.portrait-text-top {
  background-size: cover;
  background-position: center;
}


.portrait-text-top--text-wrapper {
  position: absolute;
  width: 100%;

  @include border-radius(1em);
}


.portrait-text-top--text-inner {
  background: rgba(0,0,0,0.7);
  box-sizing: border-box;
  color: #fff;
  margin: 3% auto;
  padding: 4%;
  text-align: left;
  position:relative;
  width: 93%;

  @include border-radius(1em);
}


.portrait-text-top--header {
  @extend %inline-textarea;

  &.has-placeholder {
    @extend %show-placeholder-text;
  }

  font-size: 100%;
}


.portrait-text-top--description {
  @extend %inline-textarea;

  &.has-placeholder {
    @extend %show-placeholder-text;
  }

  font-size: 70%;
}


.portrait-text-top--edit-box-settings {
  @extend %slide--edit-box-settings;

  right: -15px;
  top: -15px;
}


.portrait-text-top--edit-image-settings {
  @extend %slide--edit-image-settings;
}

.portrait-text-top--edit-logo-settings {
  @extend %slide--edit-logo-settings;
}

.portrait-text-top--logo {
  position: absolute;
  width: 10%;
}

