@import "compass/css3";
@import "../../../_shared-base.scss";

.only-video {
  background: $black;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  min-height: 100%;

  &--video-player {
    min-width: 100%;
    min-height: 100%;
  }

  &--logo {
    position: absolute;
    width: 10%;
    padding: 2%;
  }
}
