@import "compass/css3";
@import "../_shared-base.scss";

.header-top {
  height: 100%;
  color: #000;
  font-family: Arial, sans-serif;

  @include background-size(cover);
}

.header-top--inner {
  height: 100%;

  overflow: hidden;
}

.header-top--header-wrapper {
  background-color: #379f40;
}

.header-top--header {
  font-size: 100%;
  margin: 0;
  padding: 2vw;
  font-weight: bold;
}

.header-top--content {
  font-size: 50%;
  padding: 2vw;
}


.header-top--edit-box-settings {
  @extend %slide--edit-box-settings;
}


.header-top--edit-image-settings  {
  @extend %slide--edit-image-settings;
}
