@import "compass/css3";
@import "../_imports.scss";

.only-image {
  background-size: cover;
  background-position: center;

  &--edit-image-settings {
    @extend %slide--edit-image-settings;
  }


  &--edit-logo-settings {
    @extend %slide--edit-logo-settings;
  }

  &--logo {
    position: absolute;
    max-width: 10%;
    max-height: 10%;
  }
}