<div
  class="edit-menu"
  role="banner"
>
  <div class="edit-menu--inner is-visible third-width">
    <div
      class="edit-menu--toggle-icon"
      data-ng-click="close()"
    >X</div>
    <form class="edit-menu--form font-150">
      <div
        class="edit-menu--background-page"
        data-ng-show="step === 'background-picker'"
      >
        <div class="edit-menu--background-page-inner">
          <h2 class="edit-menu--background-header">Vælg billede</h2>
          <div class="edit-menu--background-content">
            <button
              class="edit-menu--background-button"
              data-ng-click="pickFromMedia()"
            >Vælg fil fra mediearkiv</button>
            <button
              class="edit-menu--background-button"
              data-ng-click="pickFromComputer()"
            >Vælg fil fra computer</button>
          </div>
        </div>
      </div>
      <div
        class="edit-menu--background-page"
        data-ng-show="step === 'pick-from-media'"
      >
        <div
          class="edit-menu--background-image-back"
          data-ng-click="backgroundPicker()"
        >
          <div class="svg-clickable">
            <object
              data="bundles/os2displayadmin/images/svg/back.svg"
              type="image/svg+xml"
            >
              <!-- Fallback (ie8)-->
              <img src="bundles/os2displayadmin/images/back.png" />
            </object>
          </div>
        </div>
        <div class="edit-menu--background-page-inner">
          <h2 class="edit-menu--background-header">Vælg fil fra mediearkiv</h2>
          <ik-media-overview
            ik-media-type="'image'"
            ik-auto-search="false"
            ik-hide-filters="true"
            ik-selected-media="slide.media"
          ></ik-media-overview>
        </div>
      </div>
      <div
        class="edit-menu--background-page"
        data-ng-show="step === 'pick-from-computer'"
      >
        <div
          class="edit-menu--background-image-back"
          data-ng-click="backgroundPicker()"
        >
          <div class="svg-clickable">
            <object
              data="bundles/os2displayadmin/images/svg/back.svg"
              type="image/svg+xml"
            >
              <!-- Fallback (ie8)-->
              <img src="/bundles/os2displayadmin/images/back.png" />
            </object>
          </div>
        </div>
        <div class="edit-menu--background-page-inner">
          <div class="edit-menu--background-content-alternate">
            <ik-media-upload ik-upload-type="{{slide.media_type}}"></ik-media-upload>
          </div>
        </div>
      </div>
      <div data-ng-show="step === 'focal-point-pick'">
        <div class="edit-menu--background-page-inner">
          <h2 class="edit-menu--background-header">Vælg fokus</h2>
          <div class="edit-menu--background-content flex focus-tools-container">
            <div class='flex grow small-right-margin vertical align-start'>
              <label class="edit-menu--label font-150">Zoom</label>
              <input
                class='block'
                type="range"
                min="{{zoomMin}}"
                max="{{zoomMax}}"
                step="10"
                ng-model="slide.options.imageZoom"
              />
              <label class="edit-menu--label font-150">Horisontal justering</label>
              <input
                class='block'
                type="range"
                min="-1000"
                max="1000"
                step="10"
                ng-model="slide.options.imageX"
              />
              <label class="edit-menu--label font-150">Vertikal justering</label>
              <input
                class='block'
                type="range"
                min="-1000"
                max="1000"
                step="10"
                ng-model="slide.options.imageY"
              />
              <button
                class="edit-menu--background-button reset-margin small-top-margin"
                data-ng-click="close()"
              >Gem og luk</button>
            </div>
            <div class='small-bottom-margin'>
              <div
                class="image-picker-placeholder"
                data-ng-style="{
                'background-image': 'url(' + slide.currentImage + ')',
                'background-size': slide.options.imageZoom ? slide.options.imageZoom + '%' : 'cover',
                'background-position-x': slide.options.imageX ? slide.options.imageX + '%' : 'center', 
                'background-position-y': slide.options.imageY ? slide.options.imageY + '%' : 'center'
              }"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>