<div
  class="edit-menu"
  role="banner"
>
  <div class="edit-menu--inner is-visible third-width">
    <div
      class="edit-menu--toggle-icon"
      data-ng-click="close()"
    >X</div>
    <div class="edit-menu--background-inner font-150">
      <div
        class="edit-menu--background-page"
        data-ng-if="logoStep === 'logo-picker'"
      >
        <div class="edit-menu--background-page-inner">
          <h2 class="edit-menu--background-header">Vælg billede</h2>
          <div class="edit-menu--background-content">
            <button
              class="edit-menu--background-button"
              data-ng-click="pickLogoFromMedia()"
            >Vælg fil fra mediearkiv</button>
            <button
              class="edit-menu--background-button"
              data-ng-click="pickLogoFromComputer()"
            >Vælg fil fra computer
            </button>
          </div>
        </div>
      </div>
      <div
        class="edit-menu--background-page"
        data-ng-if="logoStep === 'pick-logo-from-media'"
      >
        <div
          class="edit-menu--background-image-back"
          data-ng-click="logoPicker()"
        >
          <div class="svg-clickable">
            <object
              data="bundles/os2displaydefaulttemplate/assets/images/back.svg"
              type="image/svg+xml"
            >
              <!-- Fallback (ie8)-->
              <img src="bundles/os2displaydefaulttemplate/assets/images/back.png" />
            </object>
          </div>
        </div>
        <div class="edit-menu--background-page-inner">
          <h2 class="edit-menu--background-header">Vælg fil fra mediearkiv</h2>
          <ik-media-overview
            ik-media-type="'logo'"
            ik-auto-search="true"
            ik-hide-filters="true"
            ik-selected-media=""
          ></ik-media-overview>
        </div>
      </div>
      <div
        class="edit-menu--background-page"
        data-ng-if="logoStep === 'pick-logo-from-computer'"
      >
        <div
          class="edit-menu--background-image-back"
          data-ng-click="logoPicker()"
        >
          <div class="svg-clickable">
            <object
              data="bundles/os2displaydefaulttemplate/assets/images/back.svg"
              type="image/svg+xml"
            >
              <!-- Fallback (ie8)-->
              <img src="bundles/os2displaydefaulttemplate/assets/images/back.png" />
            </object>
          </div>
        </div>
        <div class="edit-menu--background-page-inner">
          <div class="edit-menu--background-content-alternate">
            <ik-media-upload ik-upload-type="logo"></ik-media-upload>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>