@import "compass/css3";
@import "../../../_shared-base.scss";

.portrait-text-top {
  background-size: cover;
  background-position: center;

  // Maintain font.
  pre {
    font-family: $font__templates;
    margin: 0;
    text-align: left;
  }
}

.portrait-text-top--text-wrapper {
  position: absolute;
  width: 100%;

  @include border-radius(.5em);
}

.portrait-text-top--text-inner {
  background: rgba(0,0,0,0.7);
  box-sizing: border-box;
  color: $white;
  margin: 3% auto;
  padding: 4%;
  text-align: left;
  position:relative;
  width: 93%;

  @include border-radius(.5em);
}

.portrait-text-top--header {
  @extend %inline-textarea;

  &.has-placeholder {
    @extend %show-placeholder-text;
  }

  font-size: 100%;
}

.portrait-text-top--description {
  @extend %inline-textarea;

  &.has-placeholder {
    @extend %show-placeholder-text;
  }

  @extend %description-default;
}

.portrait-text-top--logo {
  position: absolute;
  width: 10%;
  padding: 2%;
}
