<div class="five-sections-wayfinding">
  <div class="five-sections-wayfinding--inner">
    <div class="five-sections-wayfinding--region-horizontal" style="width: 100%; height: 160px;">
      <div class="five-sections-wayfinding--region-content" data-ng-class="{'is-active': region === 1}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 1})">
        <region region-id="1" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div class="five-sections-wayfinding--region-horizontal" style="width: 100%; height: 160px;">
      <div class="five-sections-wayfinding--region-content" data-ng-class="{'is-active': region === 2}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 2})">
        <region region-id="2" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div class="five-sections-wayfinding--region-horizontal" style="width: 100%; height: 160px;">
      <div class="five-sections-wayfinding--region-content" data-ng-class="{'is-active': region === 3}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 3})">
        <region region-id="3" show-progress="true" scale="0.50"></region>
      </div>
    </div>
    <div class="five-sections-wayfinding--region-horizontal" style="width: 100%; height: 1440px;">
      <div class="five-sections-wayfinding--region-content" data-ng-class="{'is-active': region === 4}" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 4})">
        <region region-id="4" show-progress="true" scale="0.50"></region>
      </div>
    </div>
  </div>
</div>
