<div class="grid is-full">
  <div class="grid--inner">
    <article class="grid--item">
      <div data-ng-class="{'spinner-element': usersLoading}"></div>
      <box heading="{{ 'user.heading' | translate }}" ng-if="!usersLoading">
        <button-icon-link icon="person_add" button-link="{{ 'user.action.create' | translate }}" click="createUser()" ng-if="baseCanCreate('user')"></button-icon-link>
        <content-list items="users" max="max" order="-id"></content-list>
        <span ng-if="users.length === 0">{{ 'user.messages.empty_users' | translate }}</span>
        <div class="box-link" ng-if="allLinks">
          <a href="#/admin/users" title="{{ 'user.action.all' | translate }}" class="box-link--link">{{ 'user.action.all' | translate }}</a>
        </div>
      </box>
    </article>
  </div>
</div>