<popup>
  <div data-ng-class="{'spinner-element': loading}"></div>
  <form name="forms.userCreateForm" novalidate ng-submit="submitForm(forms.userCreateForm)">
    <div class="grid is-full " ng-show="!loading">
      <div class="grid--inner">
        <article class="grid--item">
          <h2 class="heading-has-spacing-after">{{ 'common.action.add_user' | translate }}</h2>
        </article>
        <article class="grid--item">
          <div class="forms-field">
            <label for="emailInput" class="forms-label">{{ 'user.email' | translate }}</label>
            <input id="emailInput" name="emailInput" type="email" ng-model="user.email"
                   placeholder="{{ 'user.placeholder.email' | translate }}"
                   class="forms-base forms-text" required>
          </div>
        </article>
        <article class="grid--item" ng-if="errors.length > 0">
          <div class="message">
            <div class="message--inner is-inline-error">
              <div class="message--content">
                <p ng-repeat="error in errors">{{ error }}</p>
              </div>
            </div>
          </div>
        </article>
        <article class="grid--item">
          <p>{{ 'user.messages.activation_link_text' | translate }}</p>
        </article>
      </div>
    </div>

    <div class="grid is-halfs">
      <div class="grid--inner">
        <article class="grid--item">
          <a class="button-link is-neutral" title="{{ 'common.action.cancel' | translate }}" ng-click="closeModal()">{{ 'common.action.cancel' | translate }}</a>
        </article>
        <article class="grid--item">
          <a type="submit" class="button-link " title="{{ 'common.action.add_user' | translate }}" ng-click="submitForm(forms.userCreateForm)" ng-if="baseCanCreate('user')">
            {{ 'common.action.add_user' | translate }}
          </a>
        </article>
      </div>
    </div>
  </form>
</popup>