<popup>
  <div data-ng-class="{'spinner-element': loading}"></div>
  <form name="forms.userCreateForm" novalidate ng-submit="submitForm(forms.userCreateForm)">
    <div class="grid is-full " ng-show="!loading">
      <div class="grid--inner">
        <article class="grid--item">
          <h2 class="heading-has-spacing-after">Tilføj bruger</h2>
        </article>
        <article class="grid--item">
          <div class="forms-field">
            <label for="emailInput" class="forms-label">Email</label>
            <input id="emailInput" name="emailInput" type="email" ng-model="user.email"
                   placeholder="Indtast e-mail på brugeren"
                   class="forms-text" required>
          </div>
        </article>
        <!-- @TODO: create this in styleguide -->
        <article class="grid--item" ng-if="errors.length > 0">
          <p style="color: red" class="popup--error" ng-repeat="error in errors">{{ error }}</p>
        </article>
        <article class="grid--item">
          <p>Der bliver sendt en e-mail til brugeren med et aktiveringslink.</p>
        </article>
      </div>
    </div>

    <div class="grid is-halfs">
      <div class="grid--inner">
        <article class="grid--item">
          <a class="button-link is-neutral" title="Annullér" ng-click="closeModal()">Annullér</a>
        </article>
        <article class="grid--item">
          <a type="submit" class="button-link " title="Tilføj bruger" ng-click="submitForm(forms.userCreateForm)" ng-if="baseCanCreate('user')">Tilføj
            bruger</a>
        </article>
      </div>
    </div>
  </form>
</popup>