<popup>
  <div data-ng-class="{'spinner-element': loading}"></div>
  <form name="forms.userDeleteForm" novalidate ng-submit="submitForm(forms.userDeleteForm)">
    <div class="grid is-full " ng-show="!loading">
      <div class="grid--inner">
        <article class="grid--item">
          <h2 class="heading-has-spacing-after">Slet bruger</h2>
        </article>
        <article class="grid--item">
          <p>Du er ved at slette: </p>
          <p>Navn: {{ user.firstname }} {{ user.lastname }}</p>
          <p>Email: {{ user.email }}</p>
          <p></p>
          <p>Bemærk! Dette kan ikke fortrydes.</p>
        </article>
      </div>
    </div>

    <div class="grid is-halfs">
      <div class="grid--inner">
        <article class="grid--item">
          <a class="button-link is-neutral" title="Annullér" ng-click="closeModal()">Annullér</a>
        </article>
        <article class="grid--item">
          <a type="submit" class="button-link " title="Slet gruppe" ng-click="submitForm(forms.userDeleteForm)"
             ng-if="canDelete(user)">Slet bruger</a>
        </article>
      </div>
    </div>
  </form>
</popup>