{%  extends 'IndholdskanalenMainBundle:Main:loggedin.html.twig' %}

{% block content %}
  <div class="layout-wrapper">
    <section id="create-screen-one" class="create-screen--section">
      <div class="create-screen--content--screen-one">
        <h1 class="create-screen--header">Opret skærm (1/4)</h1>
        <p class="create-screen--header-description">Giv din skærm et godt navn så du kan finde det igen senere.</p>
        <input type="text" class="create-screen--text is-valid" placeholder="Skriv f.eks. Dokk1/Forhal">
        <input type="submit" class="create-screen--button is-inactive" value="Gem og fortsæt">
      </div>
    </section>
  </div>
{% endblock %}