/**
 *
 * Header top template styles. (Responsive)
 *
 * A note on responsive templates:
 * We use viewport width for base fontsize in client.
 * We use viewport width for padding and margin, so the padding depends on the full width of the screen rather than the width of each section within a 5 split screen.
 * When displaying editor or preview we add state classes and fall back to em for margin/padding.
 *
 */
/* Imports.
   ========================================================================== */
@import "compass/css3";
@import "../../../_shared-base.scss";

@font-face {
  font-family: 'Gibson SemiBold';
  src: url("fonts/Gibson-SemiBold-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Gibson Regular';
  src: url("fonts/Gibson-Regular-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Gibson Light';
  src: url("fonts/Gibson-Light-webfont.woff") format("woff");
}

.dokk1-coming-events {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100%;
  width: 100%;

  background-repeat: no-repeat;
  background-color: rgb(0, 55, 100);
  background-blend-mode: multiply;
  background-size: cover;
  font: 1em/1.5 'Gibson Light', sans-serif;
  color: #fff;
}

.dokk1-coming-events--header,
.dokk1-coming-events--group-header {
  padding-top: 4vmin;
  padding-bottom: 4vmin;
  padding-left: 4vmin;

  font-family: 'Gibson SemiBold';
}

.dokk1-coming-events--header,
.dokk1-coming-events--group-header,
.dokk1-coming-events--group-item {
  margin-top: 0;
  margin-bottom: 0;

  letter-spacing: .15vmin;
  line-height: 120%;
}

.dokk1-coming-events--header {
  background-color: rgba(0, 0, 0, .5);
  font-size: 7vmin;
}

.dokk1-coming-events--content {
  flex-grow: 1;
}

.dokk1-coming-events--group-header {
  background-color: rgba(0, 0, 0, .25);
  font-size: 3vmin;
}

.dokk1-coming-events--group-header::first-letter {
  text-transform: capitalize;
}

.dokk1-coming-events--group-item {
  display: flex;
  flex-flow: column wrap;

  height: 90px; /* fixed height for making child elements using % height, if you have a better solution do it! :) */
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  padding-left: 4vmin;

  font-size: 3vmin;
}

.dokk1-coming-events--group-item > :nth-child(1) {
  height: 100%;
  width: 22%;
}

.dokk1-coming-events--group-item > :nth-child(2),
.dokk1-coming-events--group-item > :nth-child(3) {
  height: 50%;
  width: 70%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dokk1-coming-events--group-item > :nth-child(3) {
  color: rgba(255, 255, 255, .75);
  line-height: 5vmin;
}

.dokk1-coming-events--group-item:nth-child(odd) {
  background-color: rgba(255, 255, 255, .025);
}

.dokk1-coming-events--footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  display: flex;
  align-content: flex-end;
  flex-direction: column;
  justify-content: center;

  height: 15vmin;

  font-size: 3vmin;
  text-align: center;

  .dokk1-coming-events--footer-text {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 80%;

    display: flex;
    align-content: flex-end;
    flex-direction: column;
    justify-content: center;
  }
}

@media all and (min-width: 1081px) {
  .dokk1-coming-events--content {
    display: flex;
  }

  .dokk1-coming-events--group {
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;

    width: 0; /* Make sure they have equal width */

    border-right: 1px solid rgba(0, 0, 0, .75);
  }

  .dokk1-coming-events--header,
  .dokk1-coming-events--group-header {
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    padding-left: 2vmin;
  }

  .dokk1-coming-events--header {
    font-size: 2.5vmin;
  }

  .dokk1-coming-events--group-header {
    font-size: 1.5vmin;
  }

  .dokk1-coming-events--group-item {
    height: 70px; /* fixed height for making child elements using % height, if you have a better solution do it! :) */
    padding-top: 1.5vmin;
    padding-bottom: .2vmin;
    padding-left: 2vmin;

    font-size: 1.5vmin;
  }

  .dokk1-coming-events--group-item > :nth-child(1) {
    width: 20%;
    line-height: 1.5em;
  }

  .dokk1-coming-events--group-item > :nth-child(2),
  .dokk1-coming-events--group-item > :nth-child(3) {
    height: 50%;
    width: 75%;
  }

  .dokk1-coming-events--group-item > :nth-child(3) {
    line-height: 1.5vmin;
  }

  .dokk1-coming-events--group:nth-child(even) .dokk1-coming-events--group-item:nth-child(odd) {
    background-color: transparent;
  }

  .dokk1-coming-events--group:nth-child(even) .dokk1-coming-events--group-item:nth-child(even) {
    background-color: rgba(255, 255, 255, .05);
  }

  .dokk1-coming-events--footer {
    max-height: 10vmin;

    font-size: 1.5vmin;
  }
}

.dokk1-coming-events-editor {
  position: relative;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100%;
  width: 100%;

  background-repeat: no-repeat;
  background-color: rgb(0, 55, 100);
  background-blend-mode: multiply;
  background-size: cover;
  font: 16px/1.5 'Gibson Light', sans-serif;
  color: #fff;

  &--header,
  &--group-header {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;

    font-family: 'Gibson SemiBold';
    text-transform: capitalize;
  }

  &--header,
  &--group-header,
  &--group-item {
    margin-top: 0;
    margin-bottom: 0;

    letter-spacing: .15vmin;
    line-height: 120%;
  }

  &--header {
    background-color: rgba(0, 0, 0, .5);
    font-size: 2em;
  }

  &--content {
    flex-grow: 1;
  }

  &--group-header {
    background-color: rgba(0, 0, 0, .25);
    font-size: 1.5em;
  }

  &--group-item {
    height: 40px;

    display: flex;
    flex-flow: column wrap;

    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;

    font-size: 1em;

    &.is-preview {
      height: 20px;
    }
  }

  &--group-item > :nth-child(1) {
    height: 100%;
    width: 22%;
  }

  &--group-item > :nth-child(2),
  &--group-item > :nth-child(3) {
    height: 50%;
    width: 70%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--group-item > :nth-child(3) {
    color: rgba(255, 255, 255, .75);
    line-height: 1.5em;
  }

  &--group-item:nth-child(odd) {
    background-color: rgba(255, 255, 255, .025);
  }

  &--footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    align-content: flex-end;
    flex-direction: column;
    justify-content: center;

    height: 10%;

    font-size: 1em;
    text-align: center;

    &-text {
      background-color: rgba(0, 0, 0, .5);
      width: 100%;
      height: 80%;

      display: flex;
      align-content: flex-end;
      flex-direction: column;
      justify-content: center;
    }
  }

  &.is-preview {
    font-size: 6px;
  }
}