@import "compass/css3";
@import "../../../_shared-base.scss";


.two-columns {
  &--inner {
    font-size: 0;
  }

  &--region-horizontal {
    border-right: 1px solid $white;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;

    // The -4 is an inline-block fix.
    //margin: 0 auto 0 -4px;

    &:last-child {
      border: 0;
    }
  }

  &--region-vertical {
    border-bottom: 1px solid $white;
    box-sizing: border-box;
    display: block;

    &:last-child {
      border: 0;
    }
  }

  &--region-content {
    @extend %presentation--item-inner;

    font-size: 1rem;
    position: relative;
    height: 100%;
    width: 100%;
  }
}