parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  sendmail
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_from_email: webmaster@ik3.indholdskanalen.vm
    mailer_from_name: Webmaster Indholdskanalen

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    absolute_path_to_server: http://service.indholdskanalen.vm

    zencoder_api: API_KEY_HERE

    sharing_host: http://127.0.0.1:3010
    sharing_path: /api
    sharing_apikey: 1234567890
    sharing_enabled: true

    search_host: http://127.0.0.1:3010
    search_path: /api
    search_apikey: 1234567890
    search_index: e7df7cd2ca07f4f1ab415d457a6e1c13

    middleware_host: http://127.0.0.1:3020
    middleware_path: /api
    middleware_apikey: 1234567890

    site_title: Indholdskanalen

    koba_apikey: 12345
    koba_path: http://192.168.50.21

    version: dev

    itk_log_version: 1
    itk_log_error_callback: /api/error
    itk_log_log_to_console: true
    itk_log_log_level: all
