{% include "components-header" with { isActive: 5 } %}
{% include "modules-submenu" with { data: submenu } %}

<main role="main" class="content">
  <div class="content--inner">
    {% include "modules-message-info" with { data: message } %}
    {% embed "modules-grid-halfs" %}
      {% block items %}
        {% embed "modules-grid-item" %}
          {% block content %}
            {% include "components-box-list" with { data: boxUsers } %}
          {% endblock %}
        {% endembed %}
        {% embed "modules-grid-item" %}
          {% block content %}
            {% include "components-box-list" with { data: boxGroups } %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  </div>
</main>

{% include "components-popup-add-user" with { data: popupAddUser } %}
{% include "components-popup-add-group" with { data: popupAddGroup } %}
