@import "compass/css3";
@import "../../_shared-base-screens.scss";


.five-sections {
  &--inner {
    font-size: 0; // inline-block fix.
    margin: 0 auto;
  }

  &--region-horizontal {
    border-right: 1px solid $white;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;

    &:last-child {
      border: 0;
    }
  }

  &--region-vertical {
    border-bottom: 1px solid $white;
    box-sizing: border-box;
    display: block;

    &:last-child {
      border: 0;
    }
  }

  &--region-content {
    @extend %presentation--item-inner;

    position: relative;
  }

  &--header {
    background: $white;
    position: relative;

    &-content {
      color: $black;
      padding-left: 1.1vw;
      position: relative;
      top: 50%;

      @include transform(translateY(-50%));
    }

    &-text {
      font-size: 2em;
      margin: 0;
    }
  }

  &--footer {
    background: $white;
    position: relative;
  }

  &--clock {
    color: $black;
    font-size: 2em;
    font-weight: bold;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 1;

    @include transform(translateY(-50%));
  }

  &--logo {
    position: absolute;
    top: 0;
    right: 0;
  }

  &--aarhus-logo {
    left: 1.1vw;
    position: absolute;
    top: 50%;

    @include transform(translateY(-50%));
  }

  &--address {
    color: $gray-dark;
    margin: 0;
    position: absolute;
    right: 1.1vw;
    top: 50%;

    @include transform(translateY(-50%));
  }
}