.text-right {
  background-size: cover;
}


.text-right--text-wrapper {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;

  @include border-radius(1em);
}


.text-right--text-inner {
  background: rgba(0,0,0,0.7);
  box-sizing: border-box;
  color: #fff;
  margin: 1.5rem auto;
  padding: 6%;
  text-align: left;
  position:relative;
  width: 90%;
  height: 90%;

  @include border-radius(1rem);
}


.text-right--header {
  &.has-placeholder {
    @extend %show-placeholder-text;
  }

  font-size: 100%;
}


.text-right--description {
  &.has-placeholder {
    @extend %show-placeholder-text;
  }

  font-size: 70%;
}


.text-right--edit-box-settings {
  @extend %slide--edit-box-settings;
}


.text-right--edit-image-settings {
  @extend %slide--edit-image-settings;

  right: auto;
  left: 15%;
}