.text-right {
  background-size: cover;
}


.text-right--text-wrapper {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;

  @include border-radius(1em);
}


.text-right--text-inner {
  background: rgba(0,0,0,0.7);
  color: #fff;
  margin: 5% auto;
  padding: 6%;
  text-align: left;
  position:relative;
  width: 80%;
  height: 80%;

  @include border-radius(1em);
}


.text-right--header {
  @extend %show-placeholder-text;

  font-size: 100%;
}


.text-right--description {
  @extend %show-placeholder-text;

  font-size: 70%;
}


.text-right--edit-box-settings {
  @extend %slide--edit-box-settings;
}


.text-right--edit-image-settings {
  @extend %slide--edit-image-settings;

  right: auto;
  left: 15%;
}