<div class="text-right" data-ng-style="{'background-color': ikSlide.options.bgcolor, 'width': theStyle.width, 'height': theStyle.height, 'font-size': theStyle.fontsize, 'background-image': 'url(' + ikSlide.currentImage + ')'}">
  <div class="text-right--text-wrapper">
    <div class="text-right--text-inner" data-ng-style="{'background-color': ikSlide.options.textbgcolor, 'color': ikSlide.options.textcolor}">
      <div class="text-right--edit-box-settings" ng-click="editor.toggleTextEditor()"></div>
      <h1 class="text-right--header" placeholder="Tilføj en overskrift" contenteditable="true" data-ng-model="ikSlide.options.headline" spellcheck="false"></h1>
      <pre class="text-right--description" placeholder="Her kan du skrive teksten til din slide. Boksen udvider sig når du tilføjer tekst."  contenteditable="true" data-ng-model="ikSlide.options.text" spellcheck="false"></pre>
    </div>
  </div>
  <div class="text-right--edit-image-settings" ng-click="editor.toggleBackgroundEditor()"></div>
</div>
