<section class="admin-sharing">
  <div class="admin-sharing--content">
    <h1 class="admin-sharing--header">Delingsindstillinger</h1>
    <p class="admin-sharing--header-description">Vælg hvilke grupper du kan dele og hente kanaler fra.</p>
    <ik-checklist elements="availableIndexes" selected="chosenIndexes" identity="'index'" class="admin-sharing--list"></ik-checklist>
    <div class="create-channel--spinner" data-ng-show="saving"></div>
    <input type="submit" class="admin-sharing--button" data-ng-disabled="saving" value="Gem" data-ng-click="save()">
  </div>
</section>