<section id="create-channel-four" class="create-channel--section">
  <div class="create-channel--content--channel-four">
    <h1 class="create-channel--header">{{status === "edit" ? "Delt kanal" : ""}}</h1>
    <p class="create-channel--header-description">Se hvilke slides der indgår i den delte kanal.</p>
    <div class="create-channel--slides">
      <div class="create-channel--slide-order-element" data-ng-repeat="slide in channel.slides">
        <div class="create-channel--slide-order-link">
          <span class="create-channel--slide-order-number">{{$index + 1}}</span>
          <ik-shared-slide ik-slide="slide" ik-width="300"></ik-shared-slide>
          <span class="create-channel--slide-order-label">{{slide.title}}</span>
        </div>
      </div>
    </div>
    <input type="submit" class="create-channel--button" value="Fortsæt" data-ng-click="submitStep()">
  </div>
</section>