/**
 *
 * Base
 *
 * Contains styling and reset of basic elements
 *
 */


html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;

  background-color: $white;
  color: #222;
  font: $font;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5em;

  font-family: $font-family;
  font-weight: normal;

  /* This fixes huge spaces when a heading wraps onto two lines */
  line-height: 1.2;

  /* Voodoo to enable ligatures and kerning */
  text-rendering: optimizeLegibility;
}


strong {
  font-weight: bold;
}


em {
  font-style: italic;

  strong {
    font-weight: bold;
  }
}


pre {
  font-family: $font-family;
}

/* Links
   ================================================================================================================== */

a {
  &:link {
    color: $link-color;
    text-decoration: underline;
  }

  &:visited {
    color: darken($link-color, 5%);
  }

  &:hover {
    color: darken($link-color, 10%);
    text-decoration: none;
  }

  &:focus {
    color: darken($link-color, 10%);
  }
}


/* Paragraph
   ================================================================================================================== */

p {
  margin-top: 0;
}


/* Image
   ================================================================================================================== */

img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

// SVG images are not clickable when embedded through media tag, so we add apseudo element in the same container.
// Usage: Add svg-clikcable class to wrapper of object element.
.svg-clickable {
  cursor: pointer;
  display: inline-block;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
