/**
 *
 * Forms
 *
 * This is an example file
 *
 */



/* Basic styling
   ================================================================================================================== */

input,
textarea {
  font: $font;
}

textarea {
  width: 100%;
}

.has-legacy-form-styling {
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"] {
    border: 1px solid #ddd;
    display: block;
    min-height: 1.25em;
    width: 100%;
    padding: .75em;

    color: #222;
    background-color: $white;

    &:focus {
      border: 1px solid #333;

      color: #111;
    }

    &[disabled] {
      @include box-shadow(0 0 0);

      border: 1px solid #ccc;

      background-color: lighten(#ccc, 5%);
    }

    @include border-radius($border-radius);
    @include box-sizing(border-box);
  }


  /* Labels
     ================================================================================================================== */

  label {
    display: block;
    margin-bottom: .25em;

    /* Move labels so they align better with fields when using rounded corners */
    margin-left: .3em;

    color: #222;
  }
}
