/**
 *
 * Mixins
 *
 */


// Add breakpoint.
@mixin breakpoint($breakpoint) {
  @media only screen and (min-width: $breakpoint) { @content; }
}

@mixin get-icon($icon, $width: 50%, $height: 50%) {
  background-image: url('../../images/icons/' + $icon + '.png');
  background-position: center center;
  background-repeat: no-repeat;
  width: $width;
  height: $height;
}



// Strip all list styles.
@mixin strip-list-styles() {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}


// Strip all link styles default to inherit.
@mixin strip-link-styles($color:inherit, $text-decoration:none) {
  &:link {
    color: $color;
    outline: 0;
    text-decoration: $text-decoration;
  }

  &:visited {
    color: $color;
    outline: 0;
    text-decoration: $text-decoration;
  }

  &:hover {
    color: $color;
    outline: 0;
    text-decoration: $text-decoration;
  }

  &:focus {
    color: $color;
    outline: 0;
    text-decoration: $text-decoration;
  }
}


// Adds overlay to image on is-selected class.
// $selector-namespace - The first part of a selector, usually based on the module name such as create-channel or create-slide.
@mixin add-overlay($selector-namespace) {
  cursor: pointer;

  // We nest to have is-selected on wrapper only.
  &.is-selected {

    .#{$selector-namespace}--link-check {
      left: 0;
      right: 0;
      visibility: visible;
    }

    .#{$selector-namespace}--overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;

      display: block;

      background: rgba(255,255,255,0.5);
    }
  }
}


// Set the preview styles.
@mixin preview-list-display() {

  display: inline-block;
  margin: 0 0 $gutter;

  @include breakpoint($breakpoint-lap) {
    margin: 0 $gutter $gutter 0;
  }
}