.slide-tools {
  text-align: left;

  &--tool {
    text-align: center;

    display: inline-block;

    margin: .5em;
    padding: .3em .8em;

    min-width: 100px;

    cursor: pointer;
    color: $white;
    background: rgba(0,0,0,0.5);

    @include border-radius(.5em);
  }
}