<div class="text-bottom" data-ng-style="{'background-color': ikSlide.options.bgcolor, 'width': theStyle.width, 'height': theStyle.height, 'font-size': theStyle.fontsize, 'background-image': 'url(' + ikSlide.currentImage + ')'}">
  <div class="text-bottom--text-wrapper">
    <div class="text-bottom--text-inner" data-ng-style="{'background-color': ikSlide.options.textbgcolor, 'color': ikSlide.options.textcolor}">
      <textarea auto-grow class="text-bottom--header has-placeholder" data-ng-trim="false" placeholder="Tilføj en overskrift" data-ng-model="ikSlide.options.headline" spellcheck="false" data-ng-style="{'color': ikSlide.options.textcolor}">
      </textarea>
      <textarea auto-grow class="text-bottom--description has-placeholder" data-ng-trim="false" placeholder="Her kan du skrive teksten til din slide. Boksen udvider sig når du tilføjer tekst." data-ng-model="ikSlide.options.text" spellcheck="false" data-ng-style="{'color': ikSlide.options.textcolor}">
      </textarea>
    </div>
  </div>

  <img class="text-bottom--logo" data-ng-show="ikSlide.currentLogo" data-ng-style="{'top':ikSlide.options.logopos.top, 'bottom':ikSlide.options.logopos.bottom, 'left':ikSlide.options.logopos.left, 'right':ikSlide.options.logopos.right, 'width': ikSlide.options.logosize}" data-ng-src="{{ikSlide.currentLogo}}" />
</div>
