<div class="event-calendar" data-ng-style="{'font-size': theStyle.fontsize, 'width': theStyle.width, 'height': theStyle.height, 'background-image': 'url(' + ikSlide.currentImage + ')'}">
  <div class="event-calendar--inner" data-ng-style="{'background-color': ikSlide.options.bgcolor}">
    <div class="event-calendar--header" data-ng-style="{'background-color': ikSlide.options.headerbgcolor}">
      <div class="event-calendar--title-wrapper is-preview">
        <pre class="event-calendar--header-input has-placeholder" data-ng-trim="false" placeholder="Tilføj en overskrift" data-ng-model="ikSlide.options.headline" spellcheck="false" data-ng-style="{'color': ikSlide.options.headertextcolor, 'background-color': ikSlide.options.headerbgcolor}">{{ikSlide.options.headline}}</pre>
      </div><!-- Inline block fix
    --><date-component data-ng-style="{'color': ikSlide.options.headertextcolor}"></date-component>
    </div>
    <div class="event-calendar--content is-preview" data-ng-style="{'border-color': ikSlide.options.textcolor, 'color': ikSlide.options.textcolor}">
      <div class="event-calendar--events is-preview">
        <div>Begivenheder for</div>
        <span data-ng-repeat="resource in ikSlide.options.resources">{{resource.name}}, </span>
      </div>
    </div>
  </div>
</div>