<div class="opening-hours" data-ng-style="{'font-size': theStyle.fontsize, 'width': theStyle.width, 'height': theStyle.height, 'background-image': 'url(' + ikSlide.currentImage + ')', 'background-color': ikSlide.options.bgcolor}">
  <div class="opening-hours--text-wrapper">
    <div class="opening-hours--text-inner">
      <div class="opening-hours--date"
           data-ng-style="{'color': ikSlide.options.textcolor}">Mandag d. 19. marts 2018</div>

      <div class="opening-hours--header-wrapper" data-ng-style="{'background-color': ikSlide.options.bgcolor, 'color': ikSlide.options.textcolor}">
        <div class="opening-hours--header">{{ikSlide.options.headertext}}</div>
      </div>

      <div class="opening-hours--content">

        <div class="opening-hours--description"
             ng-if="ikSlide.options.feed.library"
             data-ng-style="{'color': ikSlide.options.textcolor}">Betjeningstiden er i dag 10-17</div>

        <div class="opening-hours--description opening-hours--description__sub"
             ng-if="ikSlide.options.feed.library"
             data-ng-style="{'color': ikSlide.options.textcolor}">og der er betjening kl 13-15</div>

        <div class="opening-hours--description opening-hours--description__seperated"
             ng-if="ikSlide.options.feed.citizenservicesenabled"
             data-ng-style="{'color': ikSlide.options.textcolor}">Borgerservice åbent i dag 8-17</div>

      </div>
      <div class="opening-hours--footer-wrapper" data-ng-style="{'background-color': ikSlide.options.bgcolor, 'color': ikSlide.options.textcolor}">
        <div class="opening-hours--footer">{{ikSlide.options.footertext}}</div>
      </div>
    </div>
  </div>

  <img class="opening-hours--logo" data-ng-show="ikSlide.currentLogo" data-ng-style="{'top':ikSlide.options.logopos.top, 'bottom':ikSlide.options.logopos.bottom, 'left':ikSlide.options.logopos.left, 'right':ikSlide.options.logopos.right, 'width': ikSlide.options.logosize}" data-ng-src="{{ikSlide.currentLogo}}" />
  <div class="ding--watermark">Eksempelvisning</div>
</div>
<div class="opening-hours--overlay" data-ng-style="{'background': 'linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 75%, ' + ikSlide.options.bgcolor + ' 90%, ' + ikSlide.options.bgcolor + ' 100%'}"></div>

