/**
 *
 * Dokk1 instagram template. (Responsive)
 *
 * A note on responsive templates:
 * We use viewport width for base fontsize in client.
 * We use viewport width for padding and margin, so the padding depends on the full width of the screen rather than the width of each section within a 5 split screen.
 * When displaying editor or preview we add state classes and fall back to em for margin/padding.
 *
 */



/* Imports.
   ========================================================================== */

@import "compass/css3";
@import "../../../_shared-base.scss";


@font-face {
  font-family: 'Gibson SemiBold';
  src: url("fonts/Gibson-SemiBold-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Gibson Regular';
  src: url("fonts/Gibson-Regular-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Gibson Light';
  src: url("fonts/Gibson-Light-webfont.woff") format("woff");
}


.dokk1-instagram {
  position: relative;

  box-sizing: border-box;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  min-height: 100%;
  padding: 4vmin;

  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  font: 1em/1.5 'Gibson Light', sans-serif;

  img {
    display: inline;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
  }

  strong {
    font-family: 'Gibson Regular';
  }

  &--hashtag {
    font-size: 8vmin;
    line-height: 7.5vmin;
  }

  &--amount {
    margin-bottom: 3.5vmin;

    font-size: 3vmin;
  }

  &--content {
    display: flex;

    flex-basis: 100%;

    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0;

    font-size: 5vmin;
  }

  &--image {
    margin-bottom: 5vmin;

    order: 1;
    flex-shrink: 0;
  }

  &--image img {
    width: 100%;
  }

  &--post {
    order: 2;
  }

  &--description {
    margin-bottom: 2vmin;
  }

  &--user {
    display: flex;

    align-items: center;

    font-size: 4vmin;
  }

  &--user strong {
    order: 2;
  }

  &--user img {
    border-radius: 50%;
    height: 75px;
    margin-right: 3vmin;
    width: 75px;

    order: 1;
  }

  @media only screen and (min-width: 1081px) {
    &--hashtag {
      margin-bottom: .25vmin;

      font-size: 4vmin;
      line-height: 4vmin;
    }

    &--amount {
      margin-bottom: .5vmin;
      padding-bottom: 1vmin;
      padding-left: .25vmin;

      font-size: 1vmin;
    }

    &--content {
      flex-direction: row;

      font-size: 3vmin;
    }

    &--image {
      margin-bottom: 0;
      flex-basis: 49%;
    }

    &--post {
      padding-left: 3vmin;
    }

    &--user {
      margin-bottom: 1vmin;

      font-size: 2.5vmin;
    }

    &--user img {
      margin-right: 1.5vmin;
    }
  }
}


