/**
 *
 * ITK messages
 *
 * A component for displaying messages
 *
 */


/* Variables
   ========================================================================== */

$message-color:                  #f1f1f1;
$message-info-color:             #dff2bf;
$message-warning-color:          #feefb3;
$message-error-color:            #ffbaba;


/* Styles
   ========================================================================== */

.itk-message {
  margin-bottom: 1em;
}

.itk-message--inner {
  @include border-radius(.75em);

  padding: 1em;

  background-color: $message-color;
  border: 1px solid darken($message-color, 25%);
  color: darken($message-color, 50%);

  &.is-info {
    background-color: $message-info-color;
    border: 1px solid darken($message-info-color, 25%);
    color: darken($message-info-color, 50%);
  }

  &.is-warning {
    background-color: $message-warning-color;
    border: 1px solid darken($message-warning-color, 25%);
    color: darken($message-warning-color, 50%);
  }

  &.is-error {
    background-color: $message-error-color;
    border: 1px solid darken($message-error-color, 25%);
    color: darken($message-error-color, 50%);
  }
}
