/**
 *
 * Button Link
 *
 */

$button-link-background-color: $theme-color;
$button-link-background-color-hover: darken($theme-color, 15%);
$button-link-text-color: $white;
$button-link-border-style: 2px solid $theme-color;
$button-link-border-radius: $border-radius;
$button-link-spacing-top: 20px;
$button-link-padding: 12px;

$button-link-neutral-background-color: transparent;
$button-link-neutral-background-color-hover: $gray-lighter;
$button-link-neutral-text-color: $gray;
$button-link-neutral-border-style: 2px solid $gray-light;

.button-link {
  background-color: $button-link-background-color;
  border: $button-link-border-style;
  border-radius: $button-link-border-radius;
  color: $button-link-text-color;
  display: block;
  padding: $button-link-padding;
  text-align: center;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $button-link-text-color;
    text-decoration: none;
  }

  &:hover {
    background-color: $button-link-background-color-hover;
  }

  &.is-neutral {
    background-color: $button-link-neutral-background-color;
    border: $button-link-neutral-border-style;
    color: $button-link-neutral-text-color;

    &:hover {
      background-color: $button-link-neutral-background-color-hover;
    }
  }

  &.has-spacing-top {
    margin-top: $button-link-spacing-top;
  }
}
