{% extends 'Os2DisplayAdminBundle:Main:layout.html.twig' %}

{% block title %}{{ site_title }}{% endblock %}

{% block body_attr %}class="is-system"{% endblock %}

{% block body %}
  {% block content %}
    <header class="header" role="banner">
      <div class="header--inner">
        <a href="/" class="logo js-logo is-anonymous" title="{{ site_title }}">
          <i data-icon="filter-none" class="is-medium logo--icon"></i>
          <span class="ng-binding">{{ site_title }}</span></a>
      </div>
    </header>
    <div class="layout-wrapper has-legacy-form-styling">
      <section class="login--section">
      {% block fos_user_content %}
      {% endblock fos_user_content %}
      </section>
    </div>
  {% endblock %}
{% endblock %}

{% block stylesheets %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="bundles/os2displayadmin/assets/build/styles.min.css">
  <link rel="stylesheet" href="bundles/os2displayadmin/css/styleguide.css">
{% endblock %}
