/* Animations
 *
 * ========================================================================== */

// Fade in animation used for displaying overlay. (Usage: Media in slides)
@include keyframes(fade-in-ninety-five) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


// Default spinner - rotate a div. (Usage: Spinner before display of slides/channels)
@include keyframes(spinner) {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


// Move a div from outside screen to right side of screen. (Usage: Nav menu)
@include keyframes(toggle-nav-open) {
  0% {
    right: -100%;
  }

  100% {
    right: 0;
  }
}


// Move div from right side of screen to outside of screen (Usage: Nav menu)
@include keyframes(toggle-nav-close) {
  0% {
    right: 0;
  }

  100% {
    right: -100%;
  }
}


// Create a black overlay. (Usage: Nav menu)
@include keyframes(toggle-nav-overlay) {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: transparentize($black, .35);
  }
}

// Create a black overlay. Half from bottom (Usage: Media overview)
@include keyframes(toggle-media-overlay) {
  0% {
    bottom: -30%;
  }

  100% {
    bottom: 0;
  }
}




/* Animation calls (If not related to a module)
 * ========================================================================== */

// Turn a spinner icon.
.spinner {
  @include get-icon('spinner-icon', 50px, 50px);
  @include animation(spinner 1.5s infinite);

  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}