<div class="create-media--content">
  <section id="create-media-one" class="create-media--section">
    <h1 class="">{{media.name}}</h1>
    <div ng-switch on="getContentType(media)" class="create-media--content-element">
      <div ng-switch-when="image">
        <img data-ng-src="{{media.urls.default_landscape}}" alt="{{ media.name }}" title="{{media.name}}" >
      </div>
      <div ng-switch-when="video" class="create-media--video-container">
        <div ng-if="media.provider_metadata.0">
          <video width="100%" controls class="create-media--video">
            <source data-ng-src="{{videoPath(media, 'ogg')}}"  type="video/ogg">
            <source data-ng-src="{{videoPath(media, 'mpeg4')}}"  type="video/mp4">
          </video>
        </div>
        <div class="create-media--currently-encoding" ng-if="!media.provider_metadata.0">
          <div class="create-media--no-video">Video not available.</div>
          Videoen bliver indkodet. Dette kan tage et par minutter, men afhænger af størrelsen på den uploadede fil.
        </div>
      </div>

      <div class="create-media--spinner"></div>
    </div>
     <p>
         <a data-ng-hide="media.media_is_in_use" class="create-media--button" data-ng-click="delete()">Slet</a>
         <span data-ng-hide="!media.media_is_in_use">Kan ikke slettes - bruges på et eller flere slides</span>
     </p>
  </section>
</div>