<section class="overview--section">
  <div class="overview--filter">
    <label class="overview--filter-label">Filtrér på:</label>
    <div class="overview--filter-orientation">
      <!--<span href="#" data-ng-class="{'is-active': search.filter.orientation == 'landscape'}" class="overview--horisontal" data-ng-click="setOrientation('landscape')">Horisontal</span>
      <span href="#" data-ng-class="{'is-active': search.filter.orientation == 'portrait'}" class="overview--vertical" data-ng-click="setOrientation('portrait')">Vertical</span>-->
    </div>
    <form class="overview--form" accept-charset="UTF-8">
      <input placeholder="Angiv del af titlen for at filtrere listen" class="overview--filter-field" type="text" size="30" maxlength="128" data-ng-model="search.title">
    </form>
  </div>

  <div class="overview--sorting">
    <label class="overview--sort-label">Sorter på:</label>
    <div class="overview--sort-links">
      <span class="overview--newest" data-ng-class="{'is-active': search.sort['created_at'] && search.sort['created_at'] == 'desc'}" data-ng-click="setSort('created_at', 'desc')">Newest</span>
      <span class="overview--oldest" data-ng-class="{'is-active': search.sort['created_at'] && search.sort['created_at'] == 'asc'}" data-ng-click="setSort('created_at', 'asc')">Oldest</span>
      <span class="overview--alphabetical" data-ng-class="{'is-active': search.sort['title']}"  data-ng-click="setSort('title', 'desc')">A-Z</span>
    </div>
  </div>

  <div class="overview--images">
    <div class="overview--image" data-ng-repeat="image in images">
        <a href="/#/media/{{image.id}}" class="overview--screen-link" class="thumbnail">
            <img ng-src="{{image.url.landscape}}" alt="{{ image.name }}" title="{{image.name}}" class="thumbnail">
        </a>
    </div>
  </div>
</section>
