<section class="overview--section" data-ng-controller="MediaOverviewEmbeddedController" >
  <div class="overview--filter">
    <label class="overview--filter-label">Filtrér på:</label>
    <form class="overview--form" accept-charset="UTF-8">
      <input placeholder="Angiv del af titlen for at filtrere listen" class="overview--filter-field" type="text" size="30" maxlength="128" data-ng-model="search.text" data-ng-change="updateSearch()">
    </form>
  </div>

  <div class="overview--sorting">
    <label class="overview--sort-label">Sorter på:</label>
    <div class="overview--sort-links">
      <span class="overview--newest" data-ng-class="{'is-active': search.sort.created_at && search.sort.created_at.order === 'desc'}" data-ng-click="setSort('created_at', 'desc')">Newest</span>
      <span class="overview--oldest" data-ng-class="{'is-active': search.sort.created_at && search.sort.created_at.order === 'asc'}" data-ng-click="setSort('created_at', 'asc')">Oldest</span>
      <span class="overview--alphabetical" data-ng-class="{'is-active': search.sort.name}"  data-ng-click="setSort('name', 'asc')">A-Z</span>
    </div>
  </div>

  <div class="overview--media">
    <div class="overview--media-single" data-ng-repeat="image in images">
      <div ng-switch on="image.content_type">
        <div ng-switch-when="image/jpeg">
          <a data-ng-click="mediaOverviewClickMedia(image)" class="overview--media-link" ng-mouseenter="mouseHover(image.id)" ng-mouseleave="mouseHover(false)">
            <img class="overview--media-image" data-ng-src="{{ image.urls.default_portrait_small }}"/>
            <div class="overview--media-overlay" data-ng-class="{'is-hovering': hovering === image.id}"><div class="overview--media-overlay-inner"><span class="overview--media-text">{{image.name}}</span></div></div>
          </a>
        </div>
        <div ng-switch-when="video/mp4" ng-mouseenter="mouseHover(image.id)" ng-mouseleave="mouseHover(false)">
          <a data-ng-click="mediaOverviewClickMedia(image)" class="overview--media-link">
            <img class="overview--media-image" data-ng-src="{{ videoThumb(image) }}"/>
            <div class="overview--media-overlay" data-ng-class="{'is-hovering': hovering === image.id}"><div class="overview--media-overlay-inner"><span class="overview--media-text">{{image.name}}</span></div></div>
          </a>
        </div>
        <div ng-switch-default>
          default
        </div>
      </div>
    </div>
  </div>
</section>
