<div class="create-media--content">
  <section id="create-media-one" class="create-media--section">
    <h1 class="">{{media.name}}</h1>
    <div ng-switch on="getContentType(media)" class="create-media--content-element">
      <div ng-switch-when="image">
        <img data-ng-src="{{media.urls.default_landscape}}" alt="{{ media.name }}" title="{{media.name}}" >
      </div>
      <div ng-switch-when="video" class="create-media--video-container">
        <video width="100%" height="100%" controls class="create-media--video">
          <source data-ng-src="{{videoPath(media, 'ogg')}}"  type="video/ogg">
          <source data-ng-src="{{videoPath(media, 'mpeg4')}}"  type="video/mp4">
          <div class="create-media--currently-encoding">
            Videoen bliver indkodet. Dette kan tage et par minutter, men afhænger af størrelsen på den uploadede fil.
          </div>
        </video>
      </div>
      <div ng-switch-default>
        <div class="create-media--spinner"></div>
      </div>
    </div>
     <p><a class="create-media--button" data-ng-click="delete()">Slet</a></p>
  </section>
</div>


