<div class="create-media--content">
  <section id="create-media-one" class="create-media--section">
    <h1 class="">{{image.name}}</h1>
    <div ng-switch on="image.content_type" class="create-media--content-element">
      <div ng-switch-when="image/jpeg">
        <img data-ng-src="{{image.urls.default_landscape}}" alt="{{ image.media.name }}" title="{{image.name}}" >
      </div>
      <div class="create-media--video-container">
        <div ng-switch-when="video/mp4">
          <video controls class="create-media--video">
            <source data-ng-src="{{videoPath(image, 'ogg')}}"  type="video/ogg">
            <source data-ng-src="{{videoPath(image, 'mpeg4')}}"  type="video/mp4">
            <div class="create-media--currently-encoding">
              Videoen bliver indkodet. Dette kan tage et par minutter, men afhænger af størrelsen på den uploadede fil.
            </div>
          </video>
          <img class="create-media--thumbnail" data-ng-src="{{videoPath(image, 'thumbnail_landscape')}}"/>
        </div>
      </div>
      <div ng-switch-default>
        <div class="create-media--spinner"></div>
      </div>
    </div>
     <p><a class="create-media--button" data-ng-click="delete()">Slet</a></p>
  </section>
</div>


