<div class="create-media--content--media-one" data-ng-controller="MediaController" data-ng-file-drop>
<section id="create-media-one" class="create-media--section" data-ng-show="currentStep==1">

  <h1 class="create-media--header">Media - vælg filer</h1>

  <div class="create-media--hidden-input-file">
    <input id="select-files" data-ng-file-select type="file" multiple />
  </div>

  <input type="submit" class="create-media--button" value="Vælg en fil fra din computer" data-ng-click="selectFiles()">

  <p>eller</p>

  <div data-ng-show="uploader.isHTML5">
    <div class="create-media--upload-drop-zone over-zone zone" data-ng-file-over>
      <span class="create-media--upload-icon"></span>
      <span class="create-media--upload-text">Træk filer her for at uploade</span>
    </div>
  </div>

</section>

<section id="create-media-two" class="create-media--section" data-ng-show="currentStep==2">
  <h1 class="create-media--header">Media - upload</h1>
  <ul>
    <li data-ng-repeat="item in uploader.queue">
      <div data-ng-show="isImage(item.file)">
        <div data-ng-show="uploader.isHTML5" data-ik-thumb="{ file: item.file, height: 100 }"></div>
      </div>
      <div>{{ item.file.name }}</div>
      <div><a data-ng-click="item.remove()">(fjern)</a></div>
    </li>
  </ul>
  <div>
    <div>
      Total progress: {{ uploader.progress }}
      <div class="total-progress-box">
        <div class="total-progress" data-ng-style="{ 'width': uploader.progress + '%' }"></div>
      </div>
    </div>
    <button data-ng-click="uploader.uploadAll()" data-ng-disabled="!uploader.getNotUploadedItems().length">Upload all</button>
    <button data-ng-click="uploader.cancelAll()" data-ng-disabled="!uploader.isUploading">Cancel all</button>
    <button data-ng-click="uploader.clearQueue()" data-ng-disabled="!uploader.queue.length">Remove all</button>
  </div>

</section>
</div>