<div class="bib-events"
     data-ng-style="{'font-size': theStyle.responsiveFontsize, 'width': theStyle.width, 'height': theStyle.height, 'background-color': ikSlide.options.bgcolor, 'background-image': 'url(' + ikSlide.currentImage + ')'}">

    <div class="bib-events__slide-progress">
        (<span>2 / 3</span>)
    </div>



    <div class="bib-events__inner" style="margin: 1vh auto">
        <div class="bib-events__subslide">

            <div>

                <img class="bib-events__event--img" src="https://placeimg.com/640/480/animals" alt="">
                <div class="bib-events__event--text">
                    <div class="bib-events__event--date">
                        <p>Someday, Jan. 14 20:00</p>
                    </div>
                    <div class="bib-events__event--location">
                        <p>
                            Somewhere
                        </p>
                    </div>
                    <h1 class="bib-events__event--title">Some title</h1>
                    <p>
                        Some text that describes some event
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
