.bib-events {
    display: flex;
    flex-direction: column;
}

.bib-events__slide-progress {
    position: absolute;
    right: 1vh;
    top: 1vh;
}
.bib-events__slide-progress span {
    font-weight: bold;
}

.bib-events__inner {
    margin: 5vh auto;
    height: 100%;
    width: 80%;
}

.bib-events__event--box {
    overflow: hidden;
    margin-bottom: 2vh;
    display: flex;
    align-items: flex-start;
}
.bib-events__event--box:last-child {
    margin-bottom: 0;
}

.bib-events__event a {
    color: white;
    text-decoration: none;
}

.bib-events__event--date {
    font-weight: bold;
}
.bib-events__event--date p {
    margin-top: 0;
}

.bib-events__event--place {
}

.bib-events__event--title {
    margin: 1vh 0;
}

.bib-events__event--img {
    max-height: 100%;
}

.bib-events__event--text {
    padding: 0 1rem 1rem;
}

 /*Preview stuff*/
.bib-events-preview .bib-events__inner {
    margin: 3% auto;
}
.bib-events-preview .bib-events__box {
    margin-bottom: 1%;
    overflow: auto;
}
.bib-events-preview .bib-events__event--img {
    max-width: 30%;
}
.bib-events-preview .bib-events__event--text {
    text-align: left;
    font-size: 30%;
    color: white;
    padding: 0 0 0 3%;
}
.bib-events-preview .bib-events__event--title {
    margin: 1px;
}