<div class="bib-events bib-events-preview"
     data-ng-style="{'font-size': theStyle.responsiveFontsize, 'width': theStyle.width, 'height': theStyle.height, 'background-color': ikSlide.options.bgcolor, 'background-image': 'url(' + ikSlide.currentImage + ')'}">

    <div class="bib-events__inner">
        <div class="bib-events__subslide">

            <div class="bib-events__event bib-events__event--box" ng-repeat="x in [].constructor(3) track by $index">

                <img class="bib-events__event--img" src="https://placeimg.com/400/250/nature/grayscale" alt="">
                <div class="bib-events__event--text">
                    <div class="bib-events__event--date">
                        <p>Some date sometime</p>
                    </div>
                    <div class="bib-events__event--location">
                        <p>
                            Some location
                        </p>
                    </div>
                    <h1 class="bib-events__event--title">Title of event</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec dui nunc. Nullam nulla dolor
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
