.slider-container {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.preview-size-dropdown {
  width: 100%;
}

.slide-edit-overlay {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  width: 300px;

  background-color: #000;

  display: none;
}