.slider-container {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.slider-amount {
  margin-bottom: 2em;
  text-align: center;
  width: 100%;

  font-weight: bold;
}
