{% include "components-header" with { isActive: 2 } %}

<nav class="submenu">
  <div class="submenu--inner">
    <div class="submenu--links is-left">
      <a href="#" class="submenu--link">
        <i class="material-icons md-36">add</i>
        <span>Opret skærm</span>
      </a>
    </div>
    <div class="submenu--links is-right">
      <a href="/design/screen/index.php" class="submenu--icon-link"><i data-icon="apps" class="is-medium"></i></a>
      <a href="/design/screen/planning/index.php" class="submenu--icon-link is-active"><i data-icon="event-note" class="is-inverted is-medium"></i></a>
    </div>
  </div>
</nav>
<main role="main" class="content">
  <div class="content--inner">
    <div class="container has-wrap">
      <form class="search form">
        <div class="search--input">
          <input type="search" placeholder="Søg...">
        </div>
      </form>
      <i data-icon="tune" class="search--toggle-filter is-large"></i>
    </div>
    <div class="container has-wrap search--filters-wrapper">
      <div class="tabs is-center" data-tabs-count="2">
        <span class="tabs--item is-active has-flex"><i data-icon="check-circle" class="is-tiny"></i><span class="tabs--text">Mine</span></span>
        <span class="tabs--item has-flex"><span class="tabs--text">Alle</span></span>
      </div>
      <div class="tabs is-center" data-tabs-count="3">
        <span class="tabs--item is-active has-flex"><i data-icon="check-circle" class="is-tiny"></i><span class="tabs--text">Nyeste</span></span>
        <span class="tabs--item has-flex"><span class="tabs--text">Ældste</span></span>
        <span class="tabs--item"><span class="tabs--text">A-Å</span></span>
      </div>
    </div>
    <div class="container-full-width has-horisontal-margin">
      {% include "components-planning-timeline-example" %}
      {% include "components-planning-timeline-example" %}
      {% include "components-planning-timeline-example" %}
      {% include "components-planning-timeline-example" %}
    </div>
  </div>
</main>