<div class="dokk1-multiple-calendar" data-ng-style="{'font-size': theStyle.fontsize, 'width': theStyle.width, 'height': theStyle.height, 'background-image': 'linear-gradient(0deg,' + ikSlide.options.bgcolor + ', ' + ikSlide.options.bgcolor + '), url(' + ikSlide.currentImage + ')'}">
  <div class="dokk1-multiple-calendar--header is-editor">
    <textarea auto-grow class="dokk1-multiple-calendar--header-input has-placeholder is-editor" data-ng-trim="false" placeholder="Tilføj header text" data-ng-model="ikSlide.options.header" spellcheck="false">
    </textarea>
    <div class="dokk1-multiple-calendar--time-date is-editor">
      <date-component theme="dokk1-multiple-calendar"></date-component>
    </div>
  </div>
  <div class="dokk1-multiple-calendar--calendar is-editor">
    <div class="dokk1-multiple-calendar--calendar-row">
      <div class="dokk1-multiple-calendar--calendar-header is-first">Hvad</div>
      <div class="dokk1-multiple-calendar--calendar-header is-second">Tidspunkt</div>
      <div class="dokk1-multiple-calendar--calendar-header is-third">Hvor</div>
    </div>
    <div class="dokk1-multiple-calendar--calendar-row" data-ng-repeat="event in ikSlide.calendar_events | limitTo : 5">
      <div class="dokk1-multiple-calendar--calendar-column is-first">{{event.event_name ? event.event_name : 'Optaget'}}</div>
      <div class="dokk1-multiple-calendar--calendar-column is-second">{{event.start_time * 1000 | date:'HH:mm'}} - {{event.end_time * 1000 | date:'HH:mm'}}</div>
      <div class="dokk1-multiple-calendar--calendar-column is-third">{{event.resource_alias ? event.resource_alias : event.resource_id}}</div>
    </div>
  </div>
</div>