<div class="dokk1-coming-events" data-ng-style="{'background-color': ikSlide.options.bgcolor}">
  <h1 class="dokk1-coming-events--header">{{ ikSlide.options.headline }}</h1>
  <main class="dokk1-coming-events--content">
    <section class="dokk1-coming-events--group" data-ng-repeat="(key, events) in ikSlide.eventDays" data-ng-if="$index < 5">
      <h3 class="dokk1-coming-events--group-header">{{ key }}</h3>
      <article class="dokk1-coming-events--group-item" data-ng-repeat="event in events">
        <div>{{ event.start_time * 1000 | date:'HH:mm' }} - {{ event.end_time * 1000 | date:'HH:mm' }}</div>
        <div>{{ event.event_name }}</div>
        <div>{{ event.resource_alias ? event.resource_alias : event.resource_id }}</div>
      </article>
    </section>
  </main>
  <footer class="dokk1-coming-events--footer" data-ng-style="{'background': 'linear-gradient(to bottom, rgba(0,0,0,0) 0%, ' + ikSlide.options.bgcolor + ' 20%, ' + ikSlide.options.bgcolor + ' 100%'}">
    <div>&nbsp;</div>
    <span class="dokk1-coming-events--footer-text">{{ ikSlide.options.footer_text }}</span>
  </footer>
</div>