/**
 *
 * Content List item
 *
 */

$content-list-item-background-color: $white;
$content-list-item-text-color: $gray;
$content-list-item-border-style: 1px solid $gray-lighter;
$content-list-item-padding: 15px;
$content-list-item-spacing-top: 15px;
$content-list-item-icon-spacing-left: 10px;
$content-list-item-compact-padding: 10px;
$content-list-item-compact-spacing-top: 10px;


.content-list-item:not(:first-child) {
  border-top: $content-list-item-border-style;
  margin-top: $content-list-item-spacing-top;
  padding-top: $content-list-item-padding;

  &.is-compact {
    margin-top: $content-list-item-compact-spacing-top;
    padding-top: $content-list-item-compact-padding;
  }
}

.content-list-item {
  @include align-items(center);
  @include flexbox;

  position: relative;

  &--link {
    @include flex-grow(1);
  }

  &--icon {
    cursor: pointer;
  }

  &--text {
    color: $content-list-item-text-color;
  }

  &--text + &--icon {
    margin-left: $content-list-item-icon-spacing-left;
  }

  &--text,
  &--icon {
    @include align-self(flex-end);
    @include flexbox;
  }
}
