<div class="edit-menu--background" role="banner">
  <div class="edit-menu--background-inner">
    <div class="edit-menu--toggle-icon" data-ng-click="close()">
      <div class="svg-clickable">
        <object data="bundles/os2displaydefaulttemplate/assets/images/cancel.svg" type="image/svg+xml">
          <!-- Fallback (ie8)-->
          <img src="bundles/os2displaydefaulttemplate/assets/images/cancel.png"/>
        </object>
      </div>
    </div>
    <div class="edit-menu--background-page">
      <div class="edit-menu--background-page-inner">
        <h2 class="edit-menu--iframe-header">Indstillinger</h2>
        <div class="edit-menu--iframe-content">
          <div class="edit-menu--iframe-label">Url til datafeed</div>
          <input type="text" data-ng-model="slide.options.datafeed_url" />
        </div>
        <div class="edit-menu--iframe-content">
          <div class="edit-menu--iframe-label">Skærmnavn (udelad hvis alt indhold fra feedet skal vises)</div>
          <input type="text" data-ng-model="slide.options.datafeed_display" />
        </div>
      </div>
    </div>
  </div>
</div>
