<div class="edit-menu--background" role="banner">
  <div class="edit-menu--background-inner">
    <div class="edit-menu--toggle-icon" data-ng-click="close()">
      <div class="svg-clickable">
        <object
          data="bundles/os2displaydefaulttemplate/assets/images/cancel.svg"
          type="image/svg+xml"
        >
        </object>
      </div>
    </div>
    <div class="edit-menu--background-page">
      <div class="edit-menu--background-page-inner">
        <h2 class="edit-menu--iframe-header">Indstillinger</h2>

        <div class="edit-menu--iframe-content">
          <h2>Album ID</h2>
          <input type="text" data-ng-model="slide.options.twothreevideo.album_id" />
        </div>

      </div>
    </div>
  </div>
</div>
