/**
 *
 * Itk tabs
 *
 * A component for displaying tabs as rounded corners.
 *
 */


/* Imports, placeholder classes, mixins and variables related to this document
   ========================================================================== */

/* Variables used within this document. */
$itk--tabs-color:               $gray-darker; // Text color of the tabs.
$itk--tabs-active-color:        inherit; // Active text color.
$itk--tabs-background:          $gray-lightest; // Tabs background color.
$itk--tabs-active-background:   $gray-lighter; // Tabs active background color.
$itk--tabs-border:              $border-width solid $gray-light; // Border around the tabs.
$itk--tabs-padding:             .5em .75em; // Padding of the tabs
$itk--tabs-font-size:           1rem;   // Inline block fix. The margin of -4px does not solve issue in chrome (this does).
$itk--tabs-border-radius:       $border-radius; // The roundness!!
$itk--tabs-hover-background:    $gray-lighter;  // Background color on hover.
$itk--tabs-hover-color:         inherit; // Text color on hover.


/* Styles
   ========================================================================== */

%itk--tabs {
  font-size: 0;   // Inline block fix.
  text-align: center;

  &.is-full-width {
    font-size: 0;   // Inline block fix.
  }

  &.is-full-width[itk--tabs-count="2"] > &-item {
    width: 50%;
  }

  &.is-full-width[itk--tabs-count="3"] > &-item {
    width: 33.33%;
  }

  &.is-full-width[itk--tabs-count="4"] > &-item {
    width: 25%;
  }
}

%itk--tabs-item {
  background: $itk--tabs-background;
  border: $itk--tabs-border;
  box-sizing: border-box;
  border-right: 0;
  color: $itk--tabs-color;
  cursor: pointer;  // To allow for spans as items rather than a tags.
  display: inline-block;
  font-size: $itk--tabs-font-size;  // Inline block fix.
  padding: $itk--tabs-padding;
  text-align: center;

  @include strip-link-styles();

  &:first-child {
    @include border-radius($itk--tabs-border-radius 0 0 $itk--tabs-border-radius);
  }

  &:last-child {
    border: $itk--tabs-border;

    @include border-radius(0 $itk--tabs-border-radius $itk--tabs-border-radius 0);
  }

  &:hover {
    background: $itk--tabs-hover-background;
    color: $itk--tabs-hover-color;
  }

  &.is-active {
    background: $itk--tabs-active-background;
    color: $itk--tabs-active-color;
  }
}