@import "compass/css3";
@import "../../_shared-base.scss";

.ik-iframe {
  background-color: $gray-light;
  display: block;
  height: 100%;
  padding-top: 0em;
  text-align: center;
  width: 100%;

  &.is-preview {
    padding-top: 0;
  }

  &--iframe {
    width: 100%;
    height: 100%;
  }

  &--inner {
    background: $white;
    border: 1px solid $black;
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 5em;

    &.is-preview {
      height: 100%;
      box-sizing: border-box;
    }
  }

  &--edit-box-settings {
    @extend %slide--edit-box-settings;
  }
}