<!-- This component is used to showcase the timeline in the planning template -->

<timeline data="screen" data-ng-repeat="screen in data" class="ng-scope ng-isolate-scope"><div class="vis--timeline-wrapper">
    <header class="vis--header">
      <div class="vis--date-header ng-binding">30/05/16 - 06/06/16</div>
      <h3 class="vis--item-header ng-binding">Seneste skærm</h3>
      <div class="vis--date-controls">
        <input type="button" data-ng-click="moveDays(-7)" class="vis--button button is-small" value="Forrige uge">
        <input type="button" data-ng-click="today()" class="vis--button button is-small" value="I dag">
        <input type="button" data-ng-click="moveDays(7)" class="vis--button button is-small" value="Næste uge">
      </div>
    </header>
    <div id="timeline_6">
      <div class="vis-timeline vis-bottom" style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 222px;">
        <div class="vis-panel vis-background" style="height: 222px; width: 1166px; left: 0px; top: 0px;"></div><div class="vis-panel vis-background vis-vertical" style="height: 222px; width: 1102px; left: 64px; top: 0px;">
          <div class="vis-axis" style="top: 172px; left: 0px;"><div class="vis-group"></div><div class="vis-group"></div><div class="vis-group"></div></div>
          <div class="vis-time-axis vis-background"><div class="vis-grid vis-vertical vis-minor vis-monday vis-yesterday vis-current-week vis-even" style="top: -1px; height: 198px; left: -0.5px; width: 157.429px;"></div>
            <div class="vis-grid vis-vertical vis-minor vis-tuesday vis-today vis-current-week vis-odd" style="top: -1px; height: 198px; left: 156.929px; width: 157.429px;"></div>
            <div class="vis-grid vis-vertical vis-major vis-wednesday vis-tomorrow vis-current-week vis-odd" style="top: -1px; height: 223px; left: 314.357px; width: 157.429px;"></div>
            <div class="vis-grid vis-vertical vis-minor vis-thursday vis-current-week vis-even" style="top: -1px; height: 198px; left: 471.786px; width: 157.429px;"></div>
            <div class="vis-grid vis-vertical vis-minor vis-friday vis-current-week vis-odd" style="top: -1px; left: 629.214px; height: 198px; width: 157.429px;"></div>
            <div class="vis-grid vis-vertical vis-minor vis-saturday vis-current-week vis-even" style="top: -1px; height: 198px; left: 786.643px; width: 157.429px;"></div>
            <div class="vis-grid vis-vertical vis-minor vis-sunday vis-odd" style="top: -1px; height: 198px; left: 944.071px; width: 157.429px;"></div>
            <div class="vis-grid vis-vertical vis-minor vis-monday vis-even" style="top: -1px; height: 198px; left: 1101.5px; width: 157.429px;"></div>
          </div>
          <div class="vis-current-time" title="Current time: tirsdag, maj 31. 2016, 15:27:04" style="position: absolute; top: 0px; height: 100%; left: 258.782px;"></div>
        </div>
        <div class="vis-panel vis-background vis-horizontal" style="height: 173px; width: 1166px; left: 0px; top: -1px;"></div>
          <div class="vis-panel vis-center" style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 173px; width: 1102px; left: 64px; top: -1px;">
          <div class="vis-content" style="left: 0px; top: 0px;">
            <div class="vis-itemset" style="height: 171px;">
              <div class="vis-background">
                <div class="vis-group" style="height: 0px;">
                  <div style="visibility: hidden;">?</div>
                </div>
                <div class="vis-group" style="height: 39px;">
                  <div style="visibility: hidden;">?</div>
                </div>
                <div class="vis-group" style="height: 78px;">
                  <div style="visibility: hidden;">?</div>
                </div>
                <div class="vis-group" style="height: 54px;">
                  <div style="visibility: hidden;">?</div>
                </div></div>
              <div class="vis-foreground">
                <div class="vis-group" style="height: 39px;">
                  <div class="vis-item vis-range vis-readonly"
                       style="left: 98.3929px; width: 787.143px; top: 5px;">
                    <div class="vis-item-overflow">
                      <div class="vis-item-content" style="left: 0px;">En kanal med bil</div>
                    </div>
                  </div>
                </div>
                <div class="vis-group" style="height: 78px;">
                  <div class="vis-item vis-range vis-readonly"
                       style="left: 249.262px; width: 327.976px; top: 44px;">
                    <div class="vis-item-overflow">
                      <div class="vis-item-content" style="left: 0px;">My channel</div>
                    </div>
                  </div>
                  <div class="vis-item vis-range vis-readonly"
                       style="left: 85.2738px; width: 26.2381px; top: 5px;">
                    <div class="vis-item-overflow">
                      <div class="vis-item-content" style="left: 0px;">Lorem ipsum</div>
                    </div>
                  </div>
                  <div class="vis-item vis-range vis-readonly"
                       style="left: 400.131px; width: 26.2381px; top: 5px;">
                    <div class="vis-item-overflow">
                      <div class="vis-item-content" style="left: 0px;">Lorem ipsum</div>
                    </div>
                  </div>
                  <div class="vis-item vis-range vis-readonly"
                       style="left: 557.56px; width: 26.2381px; top: 5px;">
                    <div class="vis-item-overflow">
                      <div class="vis-item-content" style="left: 0px;">Lorem ipsum</div>
                    </div>
                  </div>
                  <div class="vis-item vis-range vis-readonly"
                       style="left: 872.417px; width: 26.2381px; top: 5px;">
                    <div class="vis-item-overflow">
                      <div class="vis-item-content" style="left: 0px;">Lorem ipsum</div>
                    </div>
                  </div>
                </div>
                <div class="vis-group" style="height: 54px;">
                  <div class="vis-item vis-range vis-readonly"
                       style="left: 98.3929px; width: 787.143px; top: 5px;">
                    <div class="vis-item-overflow">
                      <div class="vis-item-content" style="left: 0px;">En kanal med bil</div>
                    </div>
                  </div>
                </div>
              </div></div></div>
          <div class="vis-shadow vis-top" style="visibility: hidden;"></div>
          <div class="vis-shadow vis-bottom" style="visibility: hidden;"></div></div>
        <div class="vis-panel vis-left"
             style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 173px; left: 0px; top: -1px;">
          <div class="vis-content" style="left: 0px; top: 0px;">
            <div class="vis-labelset">
              <div class="vis-label" title="" style="height: 39px;">
                <div class="vis-inner">Region 1</div>
              </div>
              <div class="vis-label" title="" style="height: 78px;">
                <div class="vis-inner">Region 2</div>
              </div>
              <div class="vis-label" title="" style="height: 54px;">
                <div class="vis-inner">Region 3</div>
              </div>
            </div>
          </div>
          <div class="vis-shadow vis-top" style="visibility: hidden;"></div>
          <div class="vis-shadow vis-bottom" style="visibility: hidden;"></div>
        </div>
        <div class="vis-panel vis-right"
             style="height: 173px; left: 1166px; top: -1px;">
          <div class="vis-content" style="left: 0px; top: 0px;"></div>
          <div class="vis-shadow vis-top" style="visibility: hidden;"></div>
          <div class="vis-shadow vis-bottom" style="visibility: hidden;"></div>
        </div>
        <div class="vis-panel vis-top"
             style="width: 1102px; left: 64px; top: 0px;"></div>
        <div class="vis-panel vis-bottom"
             style="width: 1102px; left: 64px; top: 172px;">
          <div class="vis-time-axis vis-foreground" style="height: 50px;">
            <div class="vis-text vis-minor vis-measure" style="position: absolute;">0
            </div>
            <div class="vis-text vis-major vis-measure" style="position: absolute;">0
            </div>
            <div
              class="vis-text vis-minor vis-monday vis-yesterday vis-current-week vis-even"
              style="top: 0px; left: 0px; width: 157.429px;">man 30
            </div>
            <div
              class="vis-text vis-minor vis-tuesday vis-today vis-current-week vis-odd"
              style="top: 0px; left: 157.429px; width: 157.429px;">tir 31
            </div>
            <div
              class="vis-text vis-minor vis-wednesday vis-tomorrow vis-current-week vis-odd"
              style="top: 0px; left: 314.857px; width: 157.429px;">ons 1
            </div>
            <div class="vis-text vis-minor vis-thursday vis-current-week vis-even"
                 style="top: 0px; left: 472.286px; width: 157.429px;">tor 2
            </div>
            <div class="vis-text vis-minor vis-friday vis-current-week vis-odd"
                 style="top: 0px; left: 629.714px; width: 157.429px;">fre 3
            </div>
            <div
              class="vis-text vis-major vis-wednesday vis-tomorrow vis-current-week vis-odd"
              style="top: 25px; left: 314.857px;">juni 2016
            </div>
            <div class="vis-text vis-minor vis-saturday vis-current-week vis-even"
                 style="top: 0px; left: 787.143px; width: 157.429px;">lør 4
            </div>
            <div class="vis-text vis-minor vis-sunday vis-odd"
                 style="top: 0px; left: 944.571px; width: 157.429px;">søn 5
            </div>
            <div class="vis-text vis-minor vis-monday vis-even"
                 style="top: 0px; left: 1102px; width: 157.429px;">man 6
            </div>
            <div class="vis-text vis-major vis-monday vis-even"
                 style="top: 25px; left: 0px;">maj 2016
            </div>
          </div>
        </div></div></div>
  </div>
</timeline>