/**
 *
 * Hamburger menu
 *
 */


/* Hamburger menu styles
   ========================================================================== */
.hamburger-menu--wrapper {
  @extend %itk--menu-nav-overlay; // assets/_itk-modal.scss

  cursor: pointer;
}

.hamburger-menu {
  cursor: auto;
  z-index: z($z-index-elements, hamburger-menu);

  @include modal-dialog(30em, right, .2s);  // assets/_itk-modal.scss

  &--inner {
    height: 100%;
  }

  &--links {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 5em;
    text-align: center;

    a {
      @include strip-link-styles($gray-darkest, none);

      font-weight: 600;

      &:hover {
        color: $theme-color;
      }

      &.is-sub {
        cursor: pointer;
        font-weight: 100;
      }
    }
  }

  &--group {
    margin-bottom: 1.75em;
    padding-bottom: 1.5em;

    &:not(:last-child) {
      border-bottom: 1px solid $gray-lighter;
    }
  }

  &--link {
    color: $gray-darker;
    display: list-item;
    font-size: 1.2em;
    font-weight: bold;
    list-style: none;
    margin-bottom: .25em;

    text-decoration: none;

    &.is-active {
      @include strip-link-styles($theme-color, none);
    }
  }
}


.hamburger-menu-toggle {
  cursor: pointer;
  height: 36px;
  position: absolute;
  right: 1em;
  top: 1.6em;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  width: 40px;
  z-index: z($z-index-elements, hamburger-menu-toggle);

  &.open,
  &.is-sticky {
    span {
      background: $gray-darkest;
    }
  }
}

.hamburger-menu-toggle span {
  background: $white;
  display: block;
  height: 5px;
  left: 0;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  width: 100%;
}

.hamburger-menu-toggle span:nth-child(1) {
  top: 0;
}

.hamburger-menu-toggle span:nth-child(2),
.hamburger-menu-toggle span:nth-child(3) {
  top: 15px;
}

.hamburger-menu-toggle span:nth-child(4) {
  top: 30px;
}

.hamburger-menu-toggle.open span:nth-child(1) {
  left: 50%;
  top: 15px;
  width: 0%;
}

.hamburger-menu-toggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger-menu-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger-menu-toggle.open span:nth-child(4) {
  left: 50%;
  top: 15px;
  width: 0%;
}