/**
 *
 * Header.
 *
 */


.header {
  background-color: $gray-darkest;
  display: block;
  position: absolute;
  top: 0;
  transition: top .35s, right .35s, padding .35s;
  width: 100%;
  z-index: z($z-index-elements, nav);

  &--inner {
    @include flexbox;
    @include flex-direction(row);

    height: 5.5em;
    position: relative;

    @include breakpoint($layout-max-width+1) {
      margin-left: auto;
      margin-right: auto;
      max-width: $layout-max-width;
    }
  }
}
