/**
 *
 * Forms Base
 *
 */

$forms-base-background-color: $gray-lightest;
$forms-base-border-radius: $border-radius;
$forms-base-border-style: 1px solid $gray;
$forms-base-spacing: 15px;

.forms-base {
  background-color: $forms-base-background-color;
  border: $forms-base-border-style;
  border-radius: $forms-base-border-radius;
  font-size: 100%;
  padding-bottom: $forms-base-spacing;
  padding-left: $forms-base-spacing;
  padding-right: $forms-base-spacing;
  padding-top: $forms-base-spacing;
  width: 100%;
}
