<!-- Search input field -->
<div class="container has-wrap">
  <form class="search">
    <div class="search--input">
      <input type="search" placeholder="Søg..." data-ng-model="search_text" data-ng-change="search()" data-ng-model-options="{debounce: 500}">
    </div>
  </form>
  <i data-icon="tune" class="search--toggle-filter is-large" data-ng-class="toggleFilters ? 'is-inverted' : ''" data-ng-click="toggleFilters = !toggleFilters"></i>
</div>

<!-- Search filters -->
<div class="container has-wrap search--filters-wrapper" data-ng-class="toggleFilters ? 'is-open' : 'is-closed'">
  <div class="tabs is-center" data-tabs-count="2">
    <span class="tabs--item has-flex" data-ng-class="{'is-active': showFromUser == 'mine'}" data-ng-click="setUser('mine')">
      <i data-ng-if="showFromUser == 'mine'" data-icon="check-circle" class="is-tiny"></i>
      <span class="tabs--text">Mine</span>
    </span>
    <span class="tabs--item has-flex" data-ng-class="{'is-active': showFromUser == 'all'}" data-ng-click="setUser('all')" >
      <i data-ng-if="showFromUser == 'all'" data-icon="check-circle" class="is-tiny"></i>
      <span class="tabs--text">Alle</span>
    </span>
  </div>

  <div class="tabs is-center" data-tabs-count="3">
    <span class="tabs--item is-active has-flex" data-ng-class="{'is-active': sort.created_at === 'desc'}" data-ng-click="setSort('created_at', 'desc')">
      <i data-ng-if="sort.created_at === 'desc'" data-icon="check-circle" class="is-tiny"></i>
      <span class="tabs--text">Nyeste</span>
    </span>
    <span class="tabs--item has-flex" data-ng-class="{'is-active': sort.created_at === 'asc'}" data-ng-click="setSort('created_at', 'asc')">
      <i data-ng-if="sort.created_at === 'asc'" data-icon="check-circle" class="is-tiny"></i>
      <span class="tabs--text">Ældste</span>
    </span>
    <span class="tabs--item has-flex" data-ng-class="{'is-active': sort.title}"  data-ng-click="setSort('title', 'asc')">
      <i data-ng-if="sort.title" data-icon="check-circle" class="is-tiny"></i>
      <span class="tabs--text">A-Å</span>
    </span>
  </div>
</div>

<!-- Loader -->
<!--<div class="spinner overview&#45;&#45;spinner" data-ng-show="loading"></div>-->

<!-- The loaded time-lines -->
<div class="container-full-width has-horisontal-margin" data-ng-class="{'spinner-element': loading}">
  <timeline data="item" data-ng-repeat="item in data" data-ng-hide="loading" />

  <!-- Pager -->
  <div class="pager--search" data-ng-hide="loading">
    <paging wrap-class="pager--search"
            disabled-class="is-disabled"
            active-class="is-active"
            page="pager.page + 1"
            page-size="pager.size"
            total="hits"
            paging-action="changePage(page - 1)"
            hide-if-empty="true"
            show-prev-next="true"
            show-first-last="true"
            text-first="❮❮"
            text-last="❯❯"
            text-next="❯"
            text-prev="❮"
    >
    </paging>
  </div>
</div>
