/**
 *
 * Shared base.
 *
 * Contains shared placeholder classes and variables to be used when creating new templates.
 *
 */


/* Default imports (Used in all templates!)
   ========================================================================== */
@import "_normalize";

/* Variables
   ========================================================================== */

$black:                #000;
$white:                #fff;

$gray-lightest:       lighten($black, 98%);
$gray-lighter:        lighten($black, 90%);
$gray-light:          lighten($black, 80%);
$gray:                lighten($black, 70%);
$gray-dark:           lighten($black, 45%);
$gray-darker:         lighten($black, 35%);
$gray-darkest:        lighten($black, 25%);

$gray-background:     #f2f2f2;
$gray-color:          #999;


/* Link colors
   ================================================================================================================== */

$link-color:       #2c79d3;



/* Mixins
   ========================================================================== */


/* Placeholders
   ========================================================================== */

// Show the placeholder text (edit)
%show-placeholder-text {
  &:focus {
    outline:none;
  }
  &:empty:before {
    content: attr(placeholder);
    color: $gray;
  }
  &:empty:focus:before {
    background-color: #b3d4fd;
    color: #000;
  }
}

// Alter textarea styles. (edit)
%inline-textarea {
  &:focus {
    outline:none;
    border: 0;
  }

  overflow: hidden;
  padding: 0;

  background-color: transparent;
  border: 0;
  resize: none;
}

%placeholder-color {
  &::-webkit-input-placeholder {
    color: $white;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: $white;
  }

  &:-ms-input-placeholder {
    color: $white;
  }
}

// Responsive header for 5 split screen templates
%responsive-header {
  border: 0;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  outline: none;
  resize: none;
}