<div data-ng-class="{'spinner-element': loading}"></div>

<div ng-if="!loading">
  <div class="grid is-full ">
    <div class="grid--inner">
      <article class="grid--item">
        <article class="box">
          <h2 class="heading-has-spacing-after">Information</h2>
          <div class="box--inner">
            <div class="forms-field">
              <label for="firstname" class="forms-label">Fornavn</label>
              <input id="firstname" name="firstname" type="text" placeholder="Indtast fornavn" ng-model="user.firstname" class="forms-text">
            </div>
            <div class="forms-field">
              <label for="lastname" class="forms-label">Efternavn</label>
              <input id="lastname" name="lastname" type="text" placeholder="Indtast efternavn" ng-model="user.lastname" class="forms-text">
            </div>
            <div class="forms-field">
              <label for="email" class="forms-label">E-mail</label>
              <input id="email" name="email" type="text" placeholder="Indtast e-mail" ng-model="user.email" class="forms-text">
            </div>
            <a class="button-link has-spacing-top" title="Gem" data-ng-click="saveUser()">Gem</a>
          </div>
        </article>
      </article>

    </div>
  </div>

  <div class="grid is-halfs">
    <div class="grid--inner">
      <article class="grid--item">
        <article class="box">
          <h2 class="heading-has-spacing-after">Grupper</h2>
          <div class="box--inner">
            <div class="button-icon-link has-spacing-after js-toggle-modal" data-modal="js-modal-add-to-group">
              <i class="icon-rounded material-icons">group_add</i>
              <span class="button-text has-spacing-before">Tilføj til gruppe</span>
            </div>
            <div class="content-list">
              <div class="content-list-item ">
              <span class="content-list-item--link">
                <a href="#" title="Gruppe 1">
                  Gruppe 1
                </a>
              </span>
                <div class="panel-menu is-hidden js-panel-menu">
                  <article class="box">
                    <div class="box--inner">
                      <div class="content-list-item is-compact">
                      <span class="content-list-item--link">
                        <a href="#" title="List item titel">
                          List item label
                        </a>
                      </span>
                      </div>
                      <div class="content-list-item is-compact">
                      <span class="content-list-item--link">
                        <a href="#" title="List item titel">
                          List item label
                        </a>
                      </span>
                      </div>
                      <div class="content-list-item is-compact">
  <span class="content-list-item--link">
      <a href="#" title="List item titel">
      List item label
      </a>
    </span>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </article>
      </article>
      <article class="grid--item">
        <article class="box">
          <h2 class="heading-has-spacing-after">Roller</h2>
          <div class="box--inner">
            <div class="button-icon-link has-spacing-after js-toggle-modal" data-modal="js-modal-add-role">


              <i class="icon-rounded material-icons">security</i>
              <span class="button-text has-spacing-before">Tilføj rolle</span></div>
            <div class="content-list">
              <div class="content-list-item ">
  <span class="content-list-item--link">
      Bruger
    </span>
                <span class="content-list-item--text">(standardrolle)</span>
                <div class="panel-menu is-hidden js-panel-menu">
                  <article class="box">
                    <div class="box--inner">
                      <div class="content-list-item is-compact">
  <span class="content-list-item--link">
      <a href="#" title="List item titel">
      List item label
      </a>
    </span>
                      </div>
                      <div class="content-list-item is-compact">
  <span class="content-list-item--link">
      <a href="#" title="List item titel">
      List item label
      </a>
    </span>
                      </div>
                      <div class="content-list-item is-compact">
  <span class="content-list-item--link">
      <a href="#" title="List item titel">
      List item label
      </a>
    </span>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </article>
      </article>

    </div>
  </div>
</div>