/**
 *
 * Buttons
 *
 * This is an example file
 *
 */


%button {
  display: inline-block;
  font-size: 125%;
  font-weight: lighter;
  padding: .5em 2em;
  position: relative;

  cursor: pointer;
  text-align: center;
  vertical-align: middle;

  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }

  @include border-radius($border-radius);
}

.button {
  @extend %button;

  background-color: $button-default-background;
  border: 0;
  color: $white;

  &:link,
  &:visited,
  &:hover {
    background-color: $button-default-alternate;
    color: $white;
    text-decoration: none;
  }

  &.is-inactive{
    background-color: $button-default-inactive;
    border: 0;
    color: $white;
    cursor: not-allowed;

    &:link,
    &:visited,
    &:hover {
      background-color: $button-default-inactive;
      color: $white;
      text-decoration: none;
    }
  }
}

// We should probably refactor this.
%buttons--default {
  @extend .button;
}


%button--default {
  @extend %button;
  @include strip-link-styles($white);

  background-color: $gray-dark;
  color: $white;
  display: block;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  padding: .3em;
  width: 100%;

  &:visited,
  &:hover {
    background-color: $gray-darker;
  }
}


%button--action {
  @extend %button;
  @include strip-link-styles($white);

  background-color: $button-default-background;
  color: $white;
  display: block;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  padding: .3em;
  width: 100%;

  &:visited,
  &:hover {
    background-color: $button-default-alternate;
  }
}


%button--action-warning {
  @extend %button;
  @include strip-link-styles($white);

  background-color: $button-default-warning;
  color: $white;
  display: block;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  padding: .3em;
  width: 100%;

  &:visited,
  &:hover {
    background-color: $button-default-warning;
  }
}