/**
 *
 * Buttons
 *
 * This is an example file
 *
 */


%button {
  display: inline-block;
  font-size: 125%;
  font-weight: lighter;
  padding: .5em 2em;
  position: relative;

  cursor: pointer;
  text-align: center;
  vertical-align: middle;

  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }

  @include border-radius($border-radius);
}

.button {
  @extend %button;

  background-color: #357fd1;
  border: 0;
  color: $white;

  &:link,
  &:visited,
  &:hover {
    background-color: #2361a9;
    color: $white;
    text-decoration: none;
  }

  &.is-inactive{
    background-color: #b8b8b8;
    border: 0;
    color: $white;
    cursor: not-allowed;

    &:link,
    &:visited,
    &:hover {
      background-color: #b8b8b8;
      color: $white;
      text-decoration: none;
    }
  }
}