/**
 *
 * Layouts
 *
 */


/* Make sure the user can't scroll when overlays are active */
html.is-locked,
html.is-locked  body {
  overflow: hidden;

  height: 100%;
}

/* Switch page animations */
.view-container {
  position: relative;
}

.view-frame {
  height: 100%;
}

.view-frame.ng-enter {
  position: absolute;
  left: 0;
  right: 0;
}


.view-frame.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
}


.layout-wrapper {
  height: 100%;
  margin: 0;
}


.layout-inner {
  margin: 0 $gutter / 2;

  @include breakpoint($breakpoint-lap) {
    margin-left: -$gutter;
  }
}