/**
 *
 * Layouts
 *
 */


/* Switch page animations */
.view-container {
  position: relative;
}


.view-frame.ng-enter {
  position: absolute;
  left: 0;
  right: 0;

  //@include animation(fade-in 1s infinite);
}


.view-frame.ng-leave {
  position: absolute;
  left: 0;
  right: 0;

  //@include animation(fade-out 1s infinite);
}


.layout-wrapper {
  padding: 0 1em;

  @include breakpoint($breakpoint-lap) {
    padding: 0 2em;
  }
}


.layout-inner {
  margin: 0 $gutter / 2;

  @include breakpoint($breakpoint-lap) {
    margin-left: -$gutter;
  }
}