/**
 *
 * Layouts
 *
 */


/* Switch page animations */
.view-container {
  position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
}

.ng-enter {
  @include animation(fade-in 0.5s);
}

.ng-leave {
  @include animation(fade-out 0.5s);
}

.layout-wrapper {
  padding: 0 2em;
}

.layout-inner {

  @include breakpoint($breakpoint-lap) {

  }
}