/**
 * Variables
 *
 * @author magnify
 */



/* Layout
   ================================================================================================================== */

$border-radius:    .6em;



/* Colors
   ================================================================================================================== */

$black:            #000;
$white:            #fff;



/* Typograhy
   ================================================================================================================== */

$font-family:      "Helvetica Neue", Helvetica, Arial, sans-serif;
$font:             1em/1.5 $font-family;



/* Link colors
   ================================================================================================================== */

$link-color:       blue;



/* Spacing
   ================================================================================================================== */

$margin-bottom:    1.5em;
$padding-bottom:   1.5em;
