<div class="dokk1-single-calendar half" data-ng-style="{'font-size': theStyle.fontsize, 'width': theStyle.width, 'height': theStyle.height, 'background-image': 'linear-gradient(0deg,' + ikSlide.options.bgcolor + ', ' + ikSlide.options.bgcolor + '), url(' + ikSlide.currentImage + ')'}">
  <div class="dokk1-single-calendar--header">
    {{ikSlide.options.header}}<br>
    <div class="dokk1-single-calendar--meta">
      {{ikSlide.options.meta}}
    </div>
  </div>
  <div class="dokk1-single-calendar--content">
    <div class="dokk1-single-calendar--available" style="display: none;">
      Lokalet er ledigt til 10.00<br>
    </div>
    <div class="dokk1-single-calendar--now" style="display: block;" data-ng-repeat="event in ikSlide.bookingEvents | limitTo : 1">
      <div class="dokk1-single-calendar--meta">{{event.start_time * 1000 | date:'HH:mm'}} - {{event.end_time * 1000 | date:'HH:mm'}}</div>
      {{event.event_name ? event.event_name : 'Optaget'}}
    </div>
    <div class="dokk1-single-calendar--next-wrapper">
      <div data-ng-repeat="event in ikSlide.bookingEvents | limitTo : 3">
        <div class="dokk1-single-calendar--next">
          <div class="dokk1-single-calendar--meta">{{event.start_time * 1000 | date:'HH:mm'}} - {{event.end_time * 1000 | date:'HH:mm'}}</div>
          {{event.event_name ? event.event_name : 'Optaget'}}
        </div>
      </div>
    </div>
  </div>
</div>