<div class="dokk1-single-calendar" data-ng-style="{'font-size': theStyle.fontsize, 'width': theStyle.width, 'height': theStyle.height, 'background-image': 'linear-gradient(0deg,' + ikSlide.options.bgcolor + ', ' + ikSlide.options.bgcolor + '), url(' + ikSlide.currentImage + ')'}">
  <div class="dokk1-single-calendar--header">
    {{ikSlide.options.header}}<br>
    <div class="dokk1-single-calendar--meta">
      {{ikSlide.options.meta}}
    </div>
  </div>
  <div class="dokk1-single-calendar--content">
    <div class="dokk1-single-calendar--available" data-ng-if="ikSlide.external_data.length === 0">
      Lokalet er ledigt
    </div>
    <div class="dokk1-single-calendar--now" data-ng-repeat="event in ikSlide.external_data | limitTo : 1">
      <div class="dokk1-single-calendar--meta">{{event.start_time * 1000 | date:'HH:mm'}} - {{event.end_time * 1000 | date:'HH:mm'}}</div>
      {{event.event_name ? event.event_name : 'Optaget'}}
    </div>
    <div class="dokk1-single-calendar--next" data-ng-repeat="event in ikSlide.external_data track by $index | limitTo : 3" data-ng-if="$index > 0">
      <div class="dokk1-single-calendar--meta">{{event.start_time * 1000 | date:'HH:mm'}} - {{event.end_time * 1000 | date:'HH:mm'}}</div>
      {{event.event_name ? event.event_name : 'Optaget'}}
    </div>
  </div>
</div>
