/**
 *
 * Container.
 *
 */


/* Default use
   ========================================================================== */

.container {
  @include flexbox;
  @include justify-content(center);

  &.has-wrap {
    @include flex-wrap(wrap);
  }

  &--inner {
    @include flex-basis(100%);

    background-color: $white;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;

    @include breakpoint($breakpoint-tablet) {
      border-radius: 6px;
    }
  }
}


/* Specific use on the login page.
   ========================================================================== */

.container-wrapper {
  @include flexbox;
  @include flex(0 0 100%);
  @include flex-direction(column);

  @include breakpoint($breakpoint-desk) {
    @include flex-direction(row);
  }

  &.is-login-page {
    .container {
      overflow: hidden;

      &--inner {
        @include breakpoint($breakpoint-tablet) {
          border-radius: 0;
        }
      }

      &:nth-child(1) {
        @include flex(0 0 auto);

        background-image: url("../assets/images/structure.jpg");
        background-size: cover;

        @include breakpoint($breakpoint-tablet) {
          border-radius: 6px 0 0 6px;
        }

        @include breakpoint($breakpoint-desk) {
          @include flex(0 0 35%);
        }

        .container--inner {
          background-color: transparentize($theme-color, .1);
        }
      }

      &:nth-child(2) {
        @include flex(0 0 100%);

        @include breakpoint($breakpoint-tablet) {
          border-radius: 0 6px 6px 0;
        }

        @include breakpoint($breakpoint-desk) {
          @include flex(0 0 65%);
        }
      }
    }
  }
}


/* Container for full width elements (ie. timeline overview).
   ========================================================================== */
.container-full-width {
  width: 100%;

  &.has-horisontal-margin {
    margin-bottom: 2em;
    margin-top: 2em;
  }
}