{% extends 'IndholdskanalenMainBundle:Main:layout.html.twig' %}
{% block body %}
  <header class="header" role="banner">
    <div class="header--main-anonymous">
      <div class="header--logo">
        <a href="#" class="header--logo-link" data-ng-class="{'is-visible': mobileMainMenuVisible(),'is-front': url === '/'}">{{site_title}}</a>
      </div>
    </div>
  </header>
  <div class="login--text">
    <p>Kodeordet for denne bruger er allerede blevet anmodet indenfor de sidste 24 timer.</p>
    <p><a href="/">Tilbage</a></p>
  </div>
{% endblock %}
{% block scripts %}{% endblock %}