<div class="only-video" data-ng-style="{'width': theStyle.width, 'height': theStyle.height}">
  <div data-ng-if="ikSlide.media.length > 0 && ikSlide.media[0].provider_status === 3">Videoen er endnu ikke klar.</div>
  <video data-ng-if="ikSlide.media.length > 0 && ikSlide.media[0].provider_status === 1" class="only-video--video-player" controls id="videoPlayer">
    <source data-ng-src="{{ikSlide.currentVideo.mp4}}" type="video/mp4">
    <source data-ng-src="{{ikSlide.currentVideo.ogg}}" type="video/ogg">
    <source data-ng-src="{{ikSlide.currentVideo.webm}}" type="video/webm">
  </video>

  <img class="only-video--logo" data-ng-show="{{ikSlide.logo && ikSlide.logo !== ''}}" style="{{ikSlide.options.logopos}}{{ikSlide.options.logosize}}" data-ng-src="{{ikSlide.currentLogo}}" />

  <div class="only-video--settings" ng-click="editor.toggleBackgroundEditor()"></div>
  <div class="only-video--edit-logo-settings" data-ng-click="editor.toggleLogoEditor()">Tilføj/rediger logo</div>
</div>