@import "compass/css3";
@import "../_imports.scss";

.only-video {
  background: $gray;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  min-height: 100%;

  &--settings {
    @extend %slide--edit-image-settings;

    z-index: 2;
  }

  &--video-player {
    min-width: 100%;
    min-height: 100%;
  }

  &--edit-logo-settings {
    @extend %slide--edit-logo-settings;

    font-size: .9em;
  }

  &--logo {
    position: absolute;
    width: 10%;
    padding: 2%;
  }
}
