@import "compass/css3";
@import "../../_shared-base-screens.scss";


.mbu-three-split {
  &--inner {
    position: absolute;
    top: 130px;
    bottom: 90px;

    width: 100%;
  }

  &--region-horizontal {
    vertical-align: top;

    box-sizing: border-box;
    height: 100%;

    &:last-child {
      border: 0;
    }
  }

  &--region-vertical {
    display: block;
    height: 33%;

    box-sizing: border-box;

    &:last-child {
      border: 0;
    }
  }

  &--region-content {
    @extend %presentation--item-inner;

    position: relative;
  }

  &--header {
    position: relative;

    background: #9c9c9c;

    &-content {
      position: relative;
      top: 50%;

      padding-left: 1.1vw;

      color: $white;

      @include transform(translateY(-50%));
    }

    &-text {
      margin: 0;

      font-size: 1.5em;
    }
  }

  &--footer {
    position: absolute;
    bottom: 0;

    height: 90px;
    width: 100%;

    background: #9c9c9c;
  }

  &--clock {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    right: 0;

    padding: 10px;

    text-align: right;
    color: $white;
    font-size: 2em;
    font-weight: bold;

    @include transform(translateY(-50%));
  }

  &--logo {
    position: absolute;
    left: 0;

    padding: 10px;
    height: 80px;
  }

  &--aarhus-logo {
    display: inline-block;
    height: 50px;
    width: 50px;
    padding: 10px;
  }

  &--footer-text {
    position: absolute;
    top: 8px;
    left: 80px;

    display: inline-block;
    height: 70px;

    font-size: 1.2em;
    color: $white;
  }
}