<div class="presentation--border" style="max-width: 390px;">
  <div class="presentation--header" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 1})">
    <div class="presentation--header-inner" data-ng-class="{'is-active': region === 1}">
      <div class="presentation--region-content-inner">
        <region-preview-widget region="1" screen="screen"></region-preview-widget>
      </div>
    </div>
  </div>
  <div class="presentation breakpoint-50">
    <div class="presentation--inner" style="width: 340px;height:700px;">
      <div class="presentation--region-vertical" style="width: 100%; height:33.3%;">
        <div class="presentation--region-horizontal" style="width: 100%; height:100%;" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 2})">
          <div class="presentation--region-content" data-ng-class="{'is-active': region === 2}">
            <region-preview-widget region="2" screen="screen" class="presentation--region-content-inner"></region-preview-widget>
          </div>
        </div>
      </div>
      <div class="presentation--region-vertical" style="width: 100%; height:33.3%;">
        <div class="presentation--region-horizontal" style="width: 100%; height:100%;" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 3})">
          <div class="presentation--region-content" data-ng-class="{'is-active': region === 3}">
            <region-preview-widget region="3" screen="screen" class="presentation--region-content-inner"></region-preview-widget>
          </div>
        </div>
      </div>
      <div class="presentation--region-vertical" style="width: 100%; height:33.3%;">
        <div class="presentation--region-horizontal" style="width: 100%; height:100%;" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 4})">
          <div class="presentation--region-content" data-ng-class="{'is-active': region === 4}">
            <region-preview-widget region="4" screen="screen" class="presentation--region-content-inner"></region-preview-widget>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="presentation--footer" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 5})">
    <div class="presentation--footer-inner" data-ng-class="{'is-active': region === 5}">
      <div class="presentation--region-content-inner">
        <region-preview-widget region="5" screen="screen"></region-preview-widget>
      </div>
    </div>
  </div>
</div>
