{% extends 'FOSUserBundle::layout.html.twig' %}
{% block body %}
  <div class="login--text">
    <p>En email er blevet sendt til brugerens emailadresse.</p>
    <p><a href="/">Tilbage</a></p>
  </div>
{% endblock %}
{% block scripts %}{% endblock %}