{% extends 'FOSUserBundle::layout.html.twig' %}
{% block body %}
  <div class="login--text">
    <p>Kodeordet for denne bruger er allerede blevet anmodet indenfor de sidste 24 timer.</p>
    <p><a href="/">Tilbage</a></p>
  </div>
{% endblock %}
{% block scripts %}{% endblock %}
