<section id="create-channel-four" class="create-channel--section">
  <div class="create-channel--content--channel-four">
    <h1 class="create-channel--header">{{channel.status === "edit-channel" ? "Redigér kanal" : "Opret kanal"}}</h1>
    <p class="create-channel--header-description">Brug pilene for at vælge i hvilken rækkefølge dine slides skal vises.</p>
    <div class="create-channel--add-slide-button" data-ng-click="editor.toggleSlideOverviewEditor()">Tilføj slides.</div>
    <div class="create-channel--slides">
      <div class="create-channel--slide-order-element" data-ng-repeat="slide in channel.slides">
        <div class="create-channel--slide-order-link">
          <div data-ng-if="slide.published == true">
            <div class="create-channel--slide-published-icon" title="Dette slide er publiseret."></div>
          </div>
          <div data-ng-if="slide.published == false || outOfSchedule(slide)">
            <div class="create-channel--slide-unpublished-overlay"></div>
            <div class="create-channel--slide-unpublished-icon" title="Dette slide er ikke publiseret."></div>
          </div>
          <span class="create-channel--slide-order-arrow-left" data-ng-click="pushLeft($index)"><span class="create-channel--arrow-left-inner"> &#10094; </span></span>
          <span class="create-channel--slide-order-number">{{$index + 1}}</span>
          <div class="create-channel--slide-remove" ng-click="toggleSlide(slide)"></div>
          <ik-slide ik-slide="slide" ik-width="300"></ik-slide>
          <span class="create-channel--slide-order-label">{{slide.title}}</span>
          <span class="create-channel--slide-order-arrow-right" data-ng-click="pushRight($index)"><span class="create-channel--arrow-right-inner">&#10095; </span></span>
        </div>
      </div>
    </div>
    <input type="submit" class="create-channel--button" value="Gem og fortsæt" data-ng-click="submitStep()">
  </div>
</section>

<!-- Select slide editor -->
<div class="edit-menu--content" role="banner" data-ng-class="{'is-visible': editor.slideOverviewEditor, 'is-hidden': !editor.slideOverviewEditor}" >
  <div class="edit-menu--content-inner">
    <div class="edit-menu--toggle-icon" data-ng-click="editor.toggleSlideOverviewEditor()">
      <div class="svg-clickable">
        <object data="images/svg/cancel.svg" type="image/svg+xml">
          <!-- Fallback (ie8)-->
          <img src="images/cancel.png" />
        </object>
      </div>
    </div>
    <div class="edit-menu--content-page-inner">
      <h2 class="edit-menu--content-header">Vælg slides</h2>
      <div class="edit-menu--background-content">
        <ik-slide-overview ik-selected-slides="channel.slides" ik-hide-filters="true" ik-filter="{{channel.orientation}" ik-overlay="true"></ik-slide-overview>
      </div>
    </div>
  </div>
</div>
