<section id="create-channel-four" class="create-channel--section">
  <div class="create-channel--content--channel-four">
    <h1 class="create-channel--header">{{channel.status === "edit-channel" ? "Redigér kanal" : "Opret kanal"}}</h1>
      <p class="create-channel--header-description">Brug pilene for at vælge i hvilken rækkefølge dine slides skal vises.</p>
      <div class="create-channel--slides">
        <div class="create-channel--slide-order-element" data-ng-repeat="slide in channel.slides">
          <div class="create-channel--slide-order-link" data-ng-class="{'is-unpublished': slide.published == false}">
            <div class="create-channel--slide-unpublished-icon" data-ng-if="slide.published == false" title="Dette slide er ikke publiseret."></div>
            <span class="create-channel--slide-order-arrow-left" data-ng-click="pushLeft($index)"><span class="create-channel--arrow-left-inner"> &#10094; </span></span>
            <span class="create-channel--slide-order-number">{{$index + 1}}</span>
            <ik-slide ik-id="{{slide.id}}" ik-width="300"></ik-slide>
            <span class="create-channel--slide-order-label">{{slide.title}}</span>
            <span class="create-channel--slide-order-arrow-right" data-ng-click="pushRight($index)"><span class="create-channel--arrow-right-inner">&#10095; </span></span>
          </div>
        </div>
      </div>
    <input type="submit" class="create-channel--button" value="Gem og fortsæt" data-ng-click="submitStep()">
  </div>
</section>