{% include "components-header" with { isActive: 5 } %}
{% include "modules-submenu" with { data: submenu } %}

<main role="main" class="content">
  <div class="content--inner">
    {% include "modules-message-info" with { data: message } %}
    {% embed "modules-box" %}
      {% block header %}
        {% include "elements-heading-spacing-after" with { data: box.heading } %}
      {% endblock %}
      {% block content %}
        {% embed "modules-grid-full" %}
          {% block items %}
            {% embed "modules-grid-item" %}
              {% block content %}
                {% embed "modules-grid-halfs" %}
                  {% block items %}
                    {% embed "modules-grid-item" %}
                      {% block content %}
                        {% include "modules-forms-text-field" with { data: box.formFirstName } %}
                      {% endblock %}
                    {% endembed %}
                    {% embed "modules-grid-item" %}
                      {% block content %}
                        {% include "modules-forms-text-field" with { data: box.formLastName } %}
                      {% endblock %}
                    {% endembed %}
                  {% endblock %}
                {% endembed %}
              {% endblock %}
            {% endembed %}
            {% embed "modules-grid-item" %}
              {% block content %}
                {% include "modules-forms-email-field" with { data: box.formEmail } %}
                {% include "elements-button-link-spacing-top" with { data: box.submit } %}
              {% endblock %}
            {% endembed %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
    {% embed "modules-grid-halfs" %}
      {% block items %}
        {% embed "modules-grid-item" %}
          {% block content %}
            {% include "components-box-list" with { data: boxGroups } %}
          {% endblock %}
        {% endembed %}
        {% embed "modules-grid-item" %}
          {% block content %}
            {% include "components-box-list" with { data: boxRoles } %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  </div>
</main>

{% include "components-popup-add-to-group" with { data: popupAddToGroup } %}
{% include "components-popup-add-role" with { data: popupAddRole } %}
