<main role="main" class="content">
  <div class="content--inner">
    {% embed "modules-grid-full" %}
      {% block items %}
        {% embed "modules-grid-item" %}
          {% block content %}
            {% embed "modules-box" %}
              {% block header %}
                {% include "elements-heading-spacing-after" with { data: box.heading } %}
              {% endblock %}
              {% block content %}
                {% include "modules-forms-password-field" with { data: box.formPassword } %}
                {% include "modules-forms-password-field" with { data: box.formPasswordRepeat } %}
                {% include "elements-button-link-spacing-top" with { data: box.submit } %}
              {% endblock %}
            {% endembed %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  </div>
</main>
