@import "../../../assets/scss/kff";

.kk-eventplakat__subslide {
  width: 100%;
  display: grid;
  grid-template-columns: 60fr 40fr;
  background-color: #000c2e;
  color: #f4f4f4;
  font-size: 200%;
}

.kk-eventplakat__img--file {
  max-width: 100%;
}

.kk-eventplakat__event--text {
  padding: 5%;
}

.kk-eventplakat__event_place {
  max-width: 75%;
  font-weight: 400;
  font-size: 70%;
}

.kk-eventplakat__event--date {
  margin-top: 20%;
  font-weight: 400;
  font-size: 80%;
}

.kk-eventplakat__event--title {
  font-size: 200%;
  line-height: 1;
  margin: 10% 0 0;
}

.kk-eventplakat--logo {
  width: 12%;
}
