<div class="kk-eventplakat kk-eventplakat--landscape"
     data-ng-style="{'width': theStyle.width, 'height': theStyle.height, 'background-color': ikSlide.options.bgcolor}">

  <div class="kk-eventplakat__inner">
    <div class="kk-eventplakat__subslide">

      <img class="kk-eventplakat__event--img" src="/bundles/kkos2displayintegration/assets/img.png" alt="">
      <div class="kk-eventplakat__event--text">
        <div class="kk-eventplakat__event--text-inner">
          <div class="kk-eventplakat__event--date">
            Søndag d. 27. januar kl. 20:00 til 22:00
          </div>
          <h1 class="kk-eventplakat__event--title">Dans på Bryggen</h1>
          <div class="kk-eventplakat_event--teaser-text">
            <p>
              Totalt improviserede teaterforestillinger, hvor uforglemmelige optrin og underfundige karakterer vrides ud
              af det rene ingenting.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

