<section id="create-slide-five" class="create-slide--section">
  <div class="create-slide--content--slide-six">
    <h1 class="create-slide--header">{{ (slide.status === 'edit-slide' ? 'create_slide.heading.edit' : 'create_slide.heading.create') | translate }}</h1>
    <p class="create-slide--header-description">{{ 'create_slide.help_text.channels' | translate }}</p>
    <div class="create-channel--add-slide-button" data-ng-click="editor.toggleChannelOverviewEditor()">{{ 'create_slide.action.add_to_channels' | translate }}</div>
    <div class="overview--channels">
      <div class="overview--channel channel-remove" data-ng-repeat="channel in slide.channels">
        <div class="create-screen--channel-link" data-ng-class="{'is-selected': hasChannel(channel)}">
          <span class="create-screen--overlay">
            <span class="create-screen--link-check"></span>
          </span>
          <img class="overview--channel-remove" data-ng-click="toggleChannel(channel)" src="bundles/os2displayadmin/images/icons/cancel-icon.png">
          <ik-channel class="overview--channel-container" ik-channel="channel" ik-width="{{channel.orientation == 'portrait' ? 150 : 300 }}" ik-single-slide="true"></ik-channel>
        </div>
        <div class="overview--channel-label">{{channel.title}}</div>
        <span class="overview--channel-date">- {{channel.created_at * 1000 | date:'dd.MM.yyyy'}}</span>
      </div>
    </div>
    <div class="create-slide--finish-button">
      <div class="create-slide--spinner" data-ng-show="disableSubmitButton"></div>
      <input type="submit" class="create-slide--button" data-ng-disabled="disableSubmitButton" value="{{ 'create_slide.action.save' | translate }}" data-ng-click="submitStep()">
    </div>
  </div>
</section>

<!-- Select channel editor -->
<div class="edit-menu--content" role="banner" data-ng-class="{'is-visible': editor.channelOverviewEditor, 'is-hidden': !editor.channelOverviewEditor}" >
  <div class="edit-menu--content-inner">
    <div class="edit-menu--toggle-icon" data-ng-click="editor.toggleChannelOverviewEditor()">
      <div class="svg-clickable">
        <object data="bundles/os2displayadmin/images/svg/cancel.svg" type="image/svg+xml">
          <!-- Fallback (ie8)-->
          <img src="bundles/os2displayadmin/images/cancel.png" />
        </object>
      </div>
    </div>
    <div class="edit-menu--content-page-inner">
      <h2 class="edit-menu--content-header">{{ 'create_slide.help_text.choose_channels' | translate }}</h2>
      <div class="edit-menu--background-content">
        <ik-channel-overview ik-selected-channels="slide.channels" ik-hide-filters="true" ik-filter="{{slide.orientation}}" ik-overlay="true"></ik-channel-overview>
      </div>
    </div>
  </div>
</div>
