<div class="container has-wrap">
  <form class="search">
    <div class="search--input">
      <input type="search" placeholder="Søg...">
    </div>
  </form>
  <i data-icon="tune" class="search--toggle-filter is-large"></i>
</div>
<div class="container has-wrap">
  <div class="tabs is-center" data-tabs-count="2">
    <span class="tabs--item is-active has-flex" data-ng-class="{'is-active': showFromUser == 'mine'}" data-ng-click="setUser('mine')"><i data-icon="check-circle" class="is-tiny"></i><span class="tabs--text">Mine</span></span>
    <span data-ng-class="{'is-active': showFromUser == 'all'}" data-ng-click="setUser('all')" class="tabs--item has-flex"><span class="tabs--text">Alle</span></span>
  </div>
  <div class="tabs is-center" data-tabs-count="3">
    <span class="tabs--item is-active has-flex" data-ng-class="{'is-active': sort.created_at === 'desc'}" data-ng-click="setSort('created_at', 'desc')"><i data-icon="check-circle" class="is-tiny"></i><span class="tabs--text">Nyeste</span></span>
    <span class="tabs--item has-flex" data-ng-class="{'is-active': sort.created_at === 'asc'}" data-ng-click="setSort('created_at', 'asc')"><span class="tabs--text">Ældste</span></span>
    <span class="tabs--item" data-ng-class="{'is-active': sort.title}"  data-ng-click="setSort('title', 'asc')"><span class="tabs--text">A-Å</span></span>
  </div>
</div>
<timeline data="screen" data-ng-repeat="screen in data" />
