.text-left {
  background-size: cover;
}


.text-left--text-wrapper {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;

  @include border-radius(10px);
}


.text-left--text-inner {
  background: rgba(0,0,0,0.7);
  box-sizing: border-box;
  color: #fff;
  margin: 5.5% auto;
  padding: 6%;
  text-align: left;
  position:relative;
  width: 90%;
  height: 90%;
  overflow: hidden;

  @include border-radius(10px);
}


.text-left--header {
  @extend %inline-textarea;

  &.has-placeholder {
    @extend %show-placeholder-text;
  }

  font-size: 100%;
}


.text-left--description {
  @extend %inline-textarea;

  &.has-placeholder {
    @extend %show-placeholder-text;
  }

  font-size: 70%;
}


.text-left--edit-box-settings {
  @extend %slide--edit-box-settings;
}


.text-left--edit-image-settings {
  @extend %slide--edit-image-settings;
}