<div class="text-left" data-ng-style="{'background-color': ikSlide.options.bgcolor, 'width': theStyle.width, 'height': theStyle.height, 'font-size': theStyle.fontsize, 'background-image': 'url(' + ikSlide.currentImage + ')'}">
  <div class="text-left--text-wrapper">
    <div class="text-left--text-inner" data-ng-style="{'background-color': ikSlide.options.textbgcolor, 'color': ikSlide.options.textcolor}">
      <div class="text-left--edit-box-settings" ng-click="editor.toggleTextEditor()"></div>
      <h1 class="text-left--header" placeholder="Enter a title" contenteditable="true" data-ng-model="ikSlide.options.headline" spellcheck="false"></h1>
      <pre class="text-left--description" placeholder="This is the content of the slide, edit this text. The bounding box will expand accoding to how much text you add."  contenteditable="true" data-ng-model="ikSlide.options.text" spellcheck="false"></pre>
    </div>
  </div>
  <div class="text-left--edit-image-settings" ng-click="editor.toggleBackgroundEditor()"></div>
</div>
