@import "compass/css3";
@import "../../Os2Display/DefaultTemplateBundle/Resources/sass/_shared-base";

.only-image-vertical {
  background-size: cover;
  background-position: center;

  &--logo {
    position: absolute;
    width: 10%;
    padding: 2%;
  }
}
