<div class="submenu--inner" >
  <div class="submenu--links is-left">
    <a href="{{item.path}}" class="{{item.classes}} submenu--link" data-ng-repeat="item in subMenuItems track by $index" data-ng-if="item.group == 'left'" data-ng-class="{'is-active': item.activeFilter === url}">
      <span>{{item.title}}</span>
    </a>
  </div>
  <div class="submenu--links is-right">
    <a href="{{item.path}}" class="{{item.classes}} submenu--icon-link" data-ng-repeat="item in subMenuItems track by $index" data-ng-if="item.group == 'right'" data-ng-class="{'is-active': item.activeFilter === url}">
      <i data-icon="{{item.icon}}" class="is-medium" data-ng-class="{'is-inverted': item.activeFilter === url}"></i>
    </a>
  </div>
</div>
