<div class="box-pager">
  <div class="box-pager--item is-inactive">
    <span class="box-pager--item-inner">
      {% include "elements-icon-default" with { data: { icon: "keyboard_arrow_left" } } %}
    </span>
  </div>
  <div class="box-pager--item">
    <span class="box-pager--item-inner">1</span>
  </div>
  <div class="box-pager--item is-empty">
    <span class="box-pager--item-inner">...</span>
  </div>
  <div class="box-pager--item">
    <span class="box-pager--item-inner">4</span>
  </div>
  <div class="box-pager--item is-active">
    <span class="box-pager--item-inner">5</span>
  </div>
  <div class="box-pager--item">
    <span class="box-pager--item-inner">6</span>
  </div>
  <div class="box-pager--item is-empty">
    <span class="box-pager--item-inner">...</span>
  </div>
  <div class="box-pager--item">
    <span class="box-pager--item-inner">10</span>
  </div>
  <div class="box-pager--item">
    <span class="box-pager--item-inner">
      {% include "elements-icon-default" with { data: { icon: "keyboard_arrow_right" } } %}
    </span>
  </div>
</div>
