/**
 *
 * Box link
 *
 */

$box-link-background-color: $white;
$box-link-border-style: 1px solid $gray-lighter;
$box-link-padding: 15px;
$box-link-spacing-top: 15px;

.box-link {
  @include flexbox;
  @include align-items(center);

  border-top: $box-link-border-style;
  margin-top: $box-link-spacing-top;
  padding-top: $box-link-padding;

  &--link {
    margin-left: auto;
    margin-right: auto;
  }
}
