/**
 *
 * Box.
 *
 */

$box-background-color: $white;
$box-border-style: 1px solid $gray-lighter;
$box-border-radius: $border-radius;
$box-padding: $layout-padding;
$box-spacing-top: 10px;
$box-paragraph-spacing-top: 15px;

.box {
  &--inner {
    background: $box-background-color;
    border: $box-border-style;
    border-radius: $box-border-radius;
    padding: $box-padding;
  }

  p + p {
    margin-top: $box-paragraph-spacing-top;
  }
}
