<article class="box">
  {% block header %}
    {% include "elements-heading-spacing-after" with { data: data } %}
  {% endblock %}
  <div class="box--inner">
    {% block content %}
      {{ box.content|raw }}
    {% endblock %}
  </div>
  {% block footer %}
  {% endblock %}
</article>
