<div class="message">
  <div class="message--inner {{ messageClass }}">
    <div class="message--content">
      {{ data.content }}
    </div>
    {% block close %}
      <div class="message--close">
        {% include "elements-icon-default" with { data: { icon: "close" } } %}
      </div>
    {% endblock %}
  </div>
</div>