<div class="vis--timeline-wrapper">
  <header class="vis--header">
    <div class="vis--date-header">{{ start | date:'shortDate' }} - {{end | date:'shortDate' }}</div>
    <h3 class="vis--item-header">{{data.title}}</h3>
    <div class="vis--date-controls">
      <input type="button" data-ng-click="zoom(-0.2)" class="vis--button button is-small" value="Zoom ind" />
      <input type="button" data-ng-click="zoom(0.2)" class="vis--button button is-small" value="Zoom ud" />
      <input type="button" data-ng-click="moveDays(-7)" class="vis--button button is-small" value="Forrige uge" />
      <input type="button" data-ng-click="today()" class="vis--button button is-small" value="I dag" />
      <input type="button" data-ng-click="moveDays(7)" class="vis--button button is-small" value="Næste uge" />
    </div>
  </header>
  <div id="{{'timeline_' + data.id}} "></div>
</div>