<div data-ng-controller="SlideEditController">
  <!-- Slide template -->
  <div data-ng-include="" src="templateURL"></div>

  <!-- Text editor -->
  <div class="edit-menu" role="banner" ng-show="editor.showTextEditor">
    <a class="edit-menu--overlay" data-ng-class="{'is-visible': editor.showTextEditor}" data-ng-click="editor.toggleTextEditor()"></a>
    <div class="edit-menu--inner" data-ng-class="{'is-visible': editor.showTextEditor, 'is-hidden': !editor.showTextEditor}">
      <div class="edit-menu--toggle-icon" data-ng-click="editor.toggleTextEditor()">X</div>
      <h2 class="edit-menu--header">Redigér tekst</h2>
      <form class="edit-menu--form">
        <label class="edit-menu--label">Tekstfarve</label>
        <input colorpicker="rgba" class="edit-menu--form-element" type="text" placeholder="e.g. #fff" data-ng-model="ikSlide.options.textcolor" data-ng-style="{'background-color': ikSlide.options.textcolor}">
        <label class="edit-menu--label">Baggrundsfarve</label>
        <input colorpicker="rgba" class="edit-menu--form-element" type="text" placeholder="e.g. #000" data-ng-model="ikSlide.options.textbgcolor" data-ng-style="{'background-color': ikSlide.options.textbgcolor}">
        <label class="edit-menu--label">Skriftstørrelse</label>
        <input class="edit-menu--form-element js-ik-slide-editor-fontsize-input" type="text" placeholder="32" data-ng-model="ikSlide.options.fontsize">
        <div data-ng-if="ikSlide.template === 'manual-calendar'">
          <label class="edit-menu--label">Antal viste begivenheder</label>
          <input class="edit-menu--form-element" type="text" placeholder="7" data-ng-model="ikSlide.options.displayitems">
        </div>
      </form>
    </div>
  </div>

  <!-- Background editor -->
  <div class="edit-menu--background" role="banner" data-ng-class="{'is-visible': editor.showBackgroundEditor, 'is-hidden': !editor.showBackgroundEditor}" >
    <div class="edit-menu--background-inner">
      <div class="edit-menu--toggle-icon" data-ng-click="editor.toggleBackgroundEditor()">
        <div class="svg-clickable">
          <object data="images/svg/cancel.svg" type="image/svg+xml">
            <!-- Fallback (ie8)-->
            <img src="images/cancel.png" />
          </object>
        </div>
      </div>
      <div class="edit-menu--background-page" data-ng-show="step === 'background-picker'">
        <div class="edit-menu--background-page-inner">
          <h2 class="edit-menu--background-header">Sæt baggrund</h2>
          <div class="edit-menu--background-content">
            <button class="edit-menu--background-button" data-ng-click="pickFromMedia()">Vælg fil fra medier</button>
            <button class="edit-menu--background-button" data-ng-click="pickFromComputer()">Vælg fil fra computer</button>
            <p class="edit-menu--divider">- eller -</p>
            <label class="edit-menu-background--label">Vælg en baggrundsfarve</label>
            <input colorpicker="rgba" class="form-slide-background-background-color edit-menu--background-form-element" type="text" placeholder="e.g. #000" ng-model="ikSlide.options.bgcolor" data-ng-style="{'background-color': ikSlide.options.bgcolor}">
          </div>
        </div>
      </div>
      <div class="edit-menu--background-page" data-ng-show="step === 'pick-from-media'">
        <div class="edit-menu--background-image-back" data-ng-click="backgroundPicker()">
          <div class="svg-clickable">
            <object data="images/svg/back.svg" type="image/svg+xml">
              <!-- Fallback (ie8)-->
              <img src="images/back.png" />
            </object>
          </div>
        </div>
        <div class="edit-menu--background-page-inner">
          <h2 class="edit-menu--background-header">Vælg fil fra medier</h2>
          <ik-media-overview media-type="{{selectedMediaType}}" auto-search="false"></ik-media-overview>
        </div>
      </div>
      <div class="edit-menu--background-page" data-ng-show="step === 'pick-from-computer'">
        <div class="edit-menu--background-image-back" data-ng-click="backgroundPicker()">
          <div class="svg-clickable">
            <object data="images/svg/back.svg" type="image/svg+xml">
              <!-- Fallback (ie8)-->
              <img src="images/back.png" />
            </object>
          </div>
        </div>
        <div class="edit-menu--background-page-inner">
          <div class="edit-menu--background-content-alternate">
            <ik-media-upload></ik-media-upload>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Manual calendar editor -->
  <div class="edit-menu--content-calendar" role="banner" data-ng-class="{'is-visible': editor.showManualCalendarEditor, 'is-hidden': !editor.showManualCalendarEditor}" >
    <div class="edit-menu--content-inner">
      <div class="edit-menu--toggle-icon" data-ng-click="editor.toggleManualCalendarEditor()">
        <div class="svg-clickable">
          <object data="images/svg/cancel.svg" type="image/svg+xml">
            <!-- Fallback (ie8)-->
            <img src="images/cancel.png" />
          </object>
        </div>
      </div>
      <div class="edit-menu--content-page">
        <div class="edit-menu--content-page-inner">
          <h2 class="edit-menu--content-header">Opret begivenheder</h2>
          <div class="edit-menu--calendar-date-template">
            <div class="edit-menu--calendar-form-element-wrapper">
              <label class="edit-menu--calendar-label">Titel</label>
              <input class="edit-menu--calendar-form-element" type="text" placeholder="Besøg i botanisk have" ng-model="addevent.title">
            </div>
            <div class="edit-menu--calendar-form-element-wrapper">
              <label class="edit-menu--calendar-label">Sted</label>
              <input class="edit-menu--calendar-form-element" type="text" placeholder="Botanisk have" ng-model="addevent.place">
            </div>
            <div class="edit-menu--calendar-form-element-wrapper">
              <label class="edit-menu--calendar-label">Fra</label>
              <input class="edit-menu--calendar-form-element-date" datetime-picker="" type="text" placeholder="15/05/2020 - 12.00" ng-model="addevent.from">
            </div>
            <div class="edit-menu--calendar-form-element-wrapper">
              <label class="edit-menu--calendar-label">Til</label>
              <input class="edit-menu--calendar-form-element-date" datetime-picker="" type="text" placeholder="15/05/2020 - 12.00" ng-model="addevent.to">
            </div>
            <div class="edit-menu--calendar-form-element-wrapper-link">
              <button class="edit-menu--calendar-add-date" data-ng-click="addEventItem()" data-ng-disabled="setValidationError(addevent)" data-ng-class="{'is-inactive': setValidationError(addevent)}"></button>
              <span class="edit-menu--calendar-remove-date-notice" data-ng-class="{'is-error': setDateError(addevent)}">Fejl i dato!</span>
            </div>
          </div>
          <div class="edit-menu--calendar-date-events">
            <div class="edit-menu--calendar-date-event" ng-repeat="event in slide.options.eventitems | reverseEvents" data-ng-class="{'is-outdated': setOutdated(event)}">
              <div class="edit-menu--calendar-form-element-wrapper">
                <input class="edit-menu--calendar-form-element" type="text" ng-model="event.title">
              </div>
              <div class="edit-menu--calendar-form-element-wrapper">
                <input class="edit-menu--calendar-form-element" type="text" ng-model="event.place">
              </div>
              <div class="edit-menu--calendar-form-element-wrapper">
                <input class="edit-menu--calendar-form-element-date" datetime-picker="" type="text" ng-model="event.from">
              </div>
              <div class="edit-menu--calendar-form-element-wrapper">
                <input class="edit-menu--calendar-form-element-date" datetime-picker="" type="text" ng-model="event.to">
              </div>
              <div class="edit-menu--calendar-form-element-wrapper-link">
                <div class="edit-menu--calendar-remove-date" data-ng-click="removeEventItem(event)"></div>
                <span class="edit-menu--calendar-remove-date-notice" data-ng-class="{'is-outdated': setOutdated(event)}">Forældet!</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>