<div
  class="podcast"
  data-ng-style="{'font-size': theStyle.fontsize, 'width': theStyle.width, 'height': theStyle.height}"
>
  <div class="podcast--header-wrapper">
    <div
      class="podcast--header has-placeholder"
      data-ng-style="{'color': ikSlide.options.textcolor}"
    >
    <div>{{ikSlide.options.headertext1}}</div>
    <div>{{ikSlide.options.headertext2}}</div>
    <div>{{ikSlide.options.headertext3}}</div>
    </div>
  </div>

  <div class="podcast--info-wrapper">
    <div
      class="podcast--image"
      data-ng-style="{'background-image': 'url(' + ikSlide.currentImage + ')'}"
    ></div>
    <div
      class="podcast--info-header"
      spellcheck="false"
      data-ng-style="{'border-color': ikSlide.options.textcolor}"
    >{{ikSlide.options.infoheadertext}}</div>
    <textarea
      auto-grow
      class="podcast--info has-placeholder"
      data-ng-trim="false"
      placeholder="Tilføj info"
      data-ng-model="ikSlide.options.infotext"
      spellcheck="false"
    >
      </textarea>
  </div>

  <div class="podcast--footer-wrapper">
    <textarea
      auto-grow
      class="podcast--footer has-placeholder"
      data-ng-trim="false"
      placeholder="Tilføj tekst"
      data-ng-model="ikSlide.options.footertext"
      spellcheck="false"
    >
      </textarea>
    <div
      class="podcast--footer-image"
      data-ng-style="ikSlide.currentLogo ? {'background-image': 'url(' + ikSlide.currentLogo + ')'} : {'background-image': 'url(' + ikSlide.options.footerimage + ')'}"
    ></div>
  </div>
</div>


<div
  class="podcast--overlay"
  data-ng-style="{'background': 'linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 75%, ' + ikSlide.options.bgcolor + ' 90%, ' + ikSlide.options.bgcolor + ' 100%'}"
></div>