@import '../../../../../sass/ding-shared-base';

.podcast {
  $black: #404040;
  $white: #ffffff;
  $grey: #d3d3d3;

  background-size: cover;
  background-color: $white;
  background-position: center;
  overflow: hidden;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: $black;
  font-family: $font__templates;
  box-sizing: border-box;

  &--header-wrapper {
    display: table;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 25%;
  }

  &--header {
    font-size: 170%;
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: pre;
  }

  &--info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    flex-grow: 1;
  }

  &--info-header {
    color: $black;
    min-width: 20px;
    outline: none;
    border-top: 5px solid $black;
  }

  &--info {
    color: $black;
    width: 70%;
    height: 50%;
    text-align: right;
  }

  &--image {
    position: absolute;
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
    background-color: $grey;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }

  &--footer-wrapper {
    padding-top: 10px;
    height: 5%;
    display: flex;
    align-items: center;
  }

  &--footer {
    color: $black;
    font-weight: bold;
    flex-grow: 1;
    height: 1em;
    font-size: 50%;
    text-align: left;
    line-height: 1;
  }

  &--footer-image {
    min-width: 200px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  &--info,
  &--info-header {
    font-size: 60%;
  }
}
