/**
 *
 * Header top template styles. (Responsive)
 *
 * A note on responsive templates:
 * We use viewport width for base fontsize in client.
 * We use viewport width for padding and margin, so the padding depends on the full width of the screen rather than the width of each section within a 5 split screen.
 * When displaying editor or preview we add state classes and fall back to em for margin/padding.
 *
 */



/* Imports.
   ========================================================================== */

@import "compass/css3";
@import "../../Os2Display/DefaultTemplateBundle/Resources/sass/_shared-base";



/* Styles
   ========================================================================== */
.header-top {
  height: 100%;
  color: #000;
  font-family: Arial, sans-serif;
  text-align: left;

  @include background-size(cover);

  pre {
    font-family: inherit;
  }
}

.header-top--inner {
  height: 100%;
  overflow: hidden;
}

.header-top--header-input {
  @extend %responsive-header;

  font-size: 100%;
  font-weight: bold;
  margin: 0;
  padding: 1.1vw; // Padding used depends on view width.

  &:focus {
    border: 0;
  }

  &.is-editor,
  &.is-preview {
    padding: 1em; // Static padding in previews and editor.
  }
}

.header-top--content {
  font-size: 80%;
  padding: 1.1vw; // Padding used depends on view width.

  &.is-editor,
  &.is-preview {
    padding: 1em; // Static padding in previews and editor.
  }

  // Display of textarea in editor.
  &-text {
    background-color: rgba(0,0,0,0);
    border: 0;
    padding: 0;
    outline:none;
    resize: none;

    &:focus {
      border: 0;
    }
  }
}



/* Split screen correction (When using a split screen template we need headers to align)
   ========================================================================== */

.is-split-screen {  // Nesting ones to override styles.
  .header-top--header-wrapper {
    height: 6vmin;
  }

  .header-top--header-input {
    font-size: 2vmin;
    padding-top: 0;
    padding-bottom: 0;
    top: 50%;

    @include transform(translateY(-50%));
  }
}
