/**
 *
 * Animations
 *
 */


// Fade out animation used for display switching with angular
@include keyframes(fade-out) {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


// Fade in animation used for display switching with angular
@include keyframes(fade-in) {
  0% {
     opacity: 0;
  }

  100% {
    opacity: 1;
  }
}