<div class="presentation--border" style="max-width: 750px;">
  <div class="presentation breakpoint-50">
    <div class="presentation--inner" style="width: 700px;height:340px;">
      <div class="presentation--region-vertical" style="width: auto; height:100%;">
        <div class="presentation--region-horizontal" style="width: 100%; height:100%;" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 1})">
          <div class="presentation--region-content" data-ng-class="{'is-active': region === 1}">
            <region-preview-widget region="1" screen="screen"></region-preview-widget>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
