<div class="grid is-full ">
  <div class="grid--inner">
    <article class="grid--item">
      <div data-ng-class="{'spinner-element': loading}"></div>
      <article class="box" ng-if="!loading">
        <form name="forms.groupUpdate" novalidate ng-submit="submitForm(forms.groupUpdate)">
          <h2 class="heading-has-spacing-after">Information</h2>
          <div class="box--inner">
            <div class="forms-field">
              <label for="titel" class="forms-label">Titel</label>
              <input id="titel" name="titel" type="text" placeholder="Indtast titel" ng-model="group.title"
                     class="forms-text">
            </div>
            <a class="button-link has-spacing-top" title="Gem" data-ng-click="submitForm(forms.groupUpdate)"
               data-ng-if="canUpdate(group)">Gem</a>
          </div>
        </form>
      </article>
    </article>
  </div>
</div>
