<div data-ng-class="{'spinner-element': loading}"></div>

<div class="grid is-full " ng-if="!loading">
  <div class="grid--inner">
    <article class="grid--item">
      <article class="box">
        <form name="forms.groupUpdate" novalidate ng-submit="submitForm(forms.groupUpdate)">
          <h2 class="heading-has-spacing-after">Information</h2>
          <div class="box--inner">
            <div class="forms-field">
              <label for="titel" class="forms-label">Titel</label>
              <input id="titel" name="titel" type="text" placeholder="Indtast titel" ng-model="group.title"
                     class="forms-text">
            </div>
            <a class="button-link has-spacing-top" title="Gem" data-ng-click="submitForm(forms.groupUpdate)"
               data-ng-if="canUpdate(group)">Gem</a>
          </div>
        </form>
      </article>
    </article>

    <article class="grid--item">
      <box heading="Brugere">
        <button-icon-link icon="person_add" button-link="Tilføj bruger" click="showAddUserModal()" ng-if="canUpdate(group)"></button-icon-link>
        <content-list items="users" max="max" order="-id"></content-list>
        <div class="box-link" ng-if="allLinks">
          <a href="#/admin/groups" title="Alle grupper" class="box-link--link">Alle grupper</a>
        </div>
      </box>
    </article>
  </div>
</div>
