<popup>
  <div class="grid is-full ">
    <div class="grid--inner">
      <article class="grid--item">
        <div class="forms-field">
          <label for="name" class="forms-label">{{ 'group.actions.search_users' | translate }}</label>
          <input id="name" name="name" type="text"
                 placeholder="{{ 'group.placeholder.search_users' | translate }}"
                 ng-model="filterText" class="forms-base forms-text" autocomplete="off">
        </div>
        <box>
          <content-list items="users" filter="filterText" max="5"></content-list>
        </box>
      </article>
      <article class="grid--item">
        <a class="button-link" title="Annullér" ng-click="closeModal()">{{ 'common.action.finish' | translate }}</a>
      </article>
    </div>
  </div>
</popup>
