/**
 *
 * Colors
 *
 */

/* stylelint-disable */

// Theme colors
$theme-color:             rgb(23, 160, 255);
$theme-color-light:       rgb(195, 226, 244);
$theme-color-dark:        rgb(42, 45, 88);
$theme-color-secondary:   #b13a32;
$error-color:             #ffbaba;

// Grayscale colors
$black:               #000;
$white:               #fff;

$gray-lightest:    lighten($black, 95%);
$gray-lighter:     lighten($black, 85%);
$gray-light:       lighten($black, 75%);
$gray:             lighten($black, 60%);
$gray-dark:        lighten($black, 50%);
$gray-darker:      lighten($black, 40%);
$gray-darkest:     lighten($black, 12%);

// Derived colors
$link-color:       $theme-color;
$link-color-hover: darken($link-color, 25%);

$button-default-background: $theme-color;
$button-default-inactive: $gray-lighter;
$button-default-warning: $theme-color-secondary;