<div class="log--container" data-ng-if="message = getLogMessage()" data-ng-class="{'is-log': message.type === 'log', 'is-error': message.type === 'error', 'is-info': message.type === 'info'}">
  <div class="log">
    <div class="log--inner is-info" data-ng-if="message.type === 'info'">
      {{message.message}}
      <div class="log--close" data-ng-click="clearLog()">Luk</div>
    </div>
    <div class="log--inner is-log" data-ng-if="message.type === 'log'">
      {{message.message}}
      <div class="log--close" data-ng-click="clearLog()">Luk</div>
    </div>
    <div class="log--inner is-error" data-ng-if="message.type === 'error'">
      <div class="log--description">{{message.message}}</div>
      <div data-ng-click="toggleExpanded()">(udvid)</div>
      <div class="log--expanded" data-ng-if="expanded">
        <div class="log--cause">Cause: {{message.cause}}</div>
        <div class="log--stacktrace">Stacktrace: {{message.stacktrace}}</div>
      </div>
      <div class="log--close" data-ng-click="clearLog()">Luk</div>
    </div>
  </div>
</div>
