<div class="log--container" data-ng-if="message = getLogMessage()">
  <div class="log">
    <div class="log--inner" data-ng-class="{'is-log': message.type === 'log', 'is-error': message.type === 'error', 'is-info': message.type === 'info'}">
      <div class="log--text">{{message.message}}</div>

      <!-- Extra data when it is an error message -->
      <div class="log--show-error" data-ng-click="toggleExpanded()" data-ng-class="{'is-expanded': expanded}" data-ng-if="message.type === 'error'">
        Vis fejlbesked
      </div>
      <div class="log--expanded" data-ng-if="expanded" data-ng-if="message.type === 'error'">
        <div class="log--cause">
          <strong>Cause:</strong> {{message.cause}}</div>
        <div class="log--stacktrace"><strong>Stacktrace:</strong> {{message.stacktrace}}</div>
      </div>
    </div>
  </div>
</div>