@import "../../../assets/scss/kff";

.kk-events {
  background-color: #000c2e;
  color: #231f20;
}

// These variables are maybe a little confusing. They're an attempt to keep all
// vh-heights together so it's easier to make a total.
$top-bottom-margin: 8vh;
$event-margin-bottom: 2vh;
// There is to and bottom margin (2*) and there are 3 event-boxes with (2*)
// margin between them.
$total-height-used: (($top-bottom-margin * 2) + ($event-margin-bottom * 2));
// With 3 event boxes, divide 100vh minus the used height and divide by 3.
$event-height: (100 - $total-height-used) / 3;

.kk-events__subslide {
  margin: $top-bottom-margin 12vw $top-bottom-margin 4vw;
}

.kk-events__event {
  margin-bottom: $event-margin-bottom;
  color: #231f20;
  background-color: white;
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }
}

.kk-events__event--img--file {
  width: 40vw;
  height: $event-height;
  object-fit: cover;
}

.kk-events__event--text {
  padding: 0 2%;
  height: $event-height;
  overflow: hidden;
}

.kk-events__event--title {
  margin: 0;
  font-weight: 900;
}

.kk-events__event--body {
  font-size: larger;
  margin-top: 2%;
}
