<div class="kk-events kk-events--landscape"
     data-ng-style="{'width': theStyle.width, 'height': theStyle.height, 'background-color': ikSlide.options.bgcolor}">

  <div class="kk-events__inner">
    <div class="kk-events__subslide">

      <div class="kk-events__event">
        <img class="kk-events__event--img" src="/bundles/kkos2displayintegration/assets/img.png" alt="">
        <div class="kk-events__event--text">
          <div class="kk-events__event--date">
            Onsdag d. 12. december kl. 20:00 til 22:00
          </div>
          <h1 class="kk-events__event--title">Den Syngende Lussing & Mandagsklubben</h1>
          <div class="kk-events_event--teaser-text">
            <p>
              Totalt improviserede teaterforestillinger, hvor uforglemmelige optrin og underfundige karakterer vrides ud af det rene ingenting.
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="kk-events__subslide">

      <div class="kk-events__event">
        <img class="kk-events__event--img" src="/bundles/kkos2displayintegration/assets/img.png" alt="">
        <div class="kk-events__event--text">
          <div class="kk-events__event--date">
            Onsdag d. 12. december kl. 20:00 til 22:00
          </div>
          <h1 class="kk-events__event--title">Den Syngende Lussing & Mandagsklubben</h1>
          <div class="kk-events_event--teaser-text">
            <p>
              Totalt improviserede teaterforestillinger, hvor uforglemmelige optrin og underfundige karakterer vrides ud af det rene ingenting.
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="kk-events__subslide">

      <div class="kk-events__event">
        <img class="kk-events__event--img" src="/bundles/kkos2displayintegration/assets/img.png" alt="">
        <div class="kk-events__event--text">
          <div class="kk-events__event--date">
            Onsdag d. 12. december kl. 20:00 til 22:00
          </div>
          <h1 class="kk-events__event--title">Den Syngende Lussing & Mandagsklubben</h1>
          <div class="kk-events_event--teaser-text">
            <p>
              Totalt improviserede teaterforestillinger, hvor uforglemmelige optrin og underfundige karakterer vrides ud af det rene ingenting.
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

