<div class="kk-events kk-events--landscape" data-ng-style="{'font-size': theStyle.responsiveFontsize, 'width': theStyle.width, 'height': theStyle.height, 'background-color': ikSlide.options.bgcolor}">

  <div class="kk-events__headline" data-ng-style="{'border-color': ikSlide.options.textcolor}">
    <div class="kk-events__headline--text">Kommende arrangementer
      <span>(1/3)</span>
    </div>
  </div>

  <div class="kk-events__list">

    <div class="kk-events__event">
      <div class="kk-events__event--img-text">
        <div class="kk-events__event--img">
          <img src="https://prismen.kk.dk/sites/prismen.kk.dk/files/styles/list_content_grid/public/uploaded-images/img_6141.jpg?itok=ZC65sUgc" alt="">
        </div>
        <div class="kk-events__event--text">
          <div class="kk-events__event--date">
            Tirsdag, d. 23 november
          </div>
          <div class="kk-events__event--title">
            Loppemarked
          </div>
          <div class="kk-events_event--description">
            Amagerbro store indendørs loppemarked
          </div>
        </div>
      </div>
    </div>

    <div class="kk-events__event">
      <div class="kk-events__event--img-text">
        <div class="kk-events__event--img">
          <img src="https://prismen.kk.dk/sites/prismen.kk.dk/files/styles/list_content_grid/public/uploaded-images/img_6141.jpg?itok=ZC65sUgc" alt="">
        </div>
        <div class="kk-events__event--text">
          <div class="kk-events__event--date">
            Tirsdag, d. 23 november
          </div>
          <div class="kk-events__event--title">
            Loppemarked
          </div>
          <div class="kk-events_event--description">
            Amagerbro store indendørs loppemarked
          </div>
        </div>
      </div>
    </div>

    <div class="kk-events__event">
      <div class="kk-events__event--img-text">
        <div class="kk-events__event--img">
          <img src="https://prismen.kk.dk/sites/prismen.kk.dk/files/styles/list_content_grid/public/uploaded-images/img_6141.jpg?itok=ZC65sUgc" alt="">
        </div>
        <div class="kk-events__event--text">
          <div class="kk-events__event--date">
            Tirsdag, d. 23 november
          </div>
          <div class="kk-events__event--title">
            Loppemarked
          </div>
          <div class="kk-events_event--description">
            Amagerbro store indendørs loppemarked
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
