<div class="kk-events kk-events--landscape"
     data-ng-style="{'width': theStyle.width, 'height': theStyle.height, 'background-color': ikSlide.options.bgcolor}">

  <div class="kk-events__inner">
    <div class="kk-events__subslide" ng-repeat="slide in ikSlide.data.event_slides track by $index"
         data-ng-show="ikSlide.data.currentSlide === $index">

      <div class="kk-events__event" ng-repeat="event in slide">
        <img class="kk-events__event--img" src="{{event.image}}" alt="">
        <div class="kk-events__event--text">
          <div class="kk-events__event--date">
            {{event.date}} kl. {{event.time}}
          </div>
          <h1 class="kk-events__event--title">{{event.title}}</h1>
          <div class="kk-events_event--teaser-text">
            <p>
              {{event.teaserText}}
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

