@import "../../../assets/scss/kff";

.kk-events {
  color: $colors-dark-blue;
  height: 100%;
  display: grid;
  align-items: center;

  &.kk-ratio-horizontal {
    padding-left: 4%;
    padding-right: 14%;
  }

  &.kk-ratio-vertical {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 6%;
  }
}

.kk-events--logo {
  top: 4em;
  width: 10em;
  
  .kk-ratio-vertical & {
    top: 2em;
    width: 8em;
    .half-split & {
      width: 5em;
    }
  }
}

.kk-events__subslide {
  display: grid;
  grid-row-gap: 1em;
  grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
  @include scalableFont(14, 26);

  .kk-ratio-horizontal & {
    height: 82%;
  }

  .kk-ratio-vertical & {
    @include scalableFont(14, 64);
    height: 84%;
  }

  &.sis-items-pr-slide-5 {
    grid-template-rows: repeat(5, 1fr);

    .kk-ratio-horizontal & {
      @include scalableFont(14, 20);
    }

    .kk-ratio-vertical & {
      @include scalableFont(14, 48);
    }
  }
}

.kk-events__event {
  background-color: $colors-white;
  display: grid;
  grid-template-columns: 40% 1fr;
  overflow: hidden;
}

.kk-events__event-img--file {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

// This is the wrapper around date, title, and teaser text.
.kk-events__event--text {
  @include stretchyEms("line-height", 1.5, 1.8);
  overflow: hidden;
  padding: 0 6%;
  justify-self: stretch;

  & > * {
    margin: 0;
    margin-top: 0.6em;
  }
}

.kk-events__event--date {
  font-size: 0.7em;
}
.kk-events__event--title {
  font-size: 1.1em;
  margin-top: 0.5em;

  .kk-ratio-vertical & {
    @include stretchyEms("line-height", 1, 1.2);
  }
  .kk-ratio-vertical .sis-items-pr-slide-5 & {
    margin-top: 0.2em;
  }
}

.kk-events__event--description {
  font-size: 0.9em;
  @include stretchyEms("line-height", 1.2, 1.5);

  .kk-ratio-vertical .sis-items-pr-slide-5 & {
    margin-top: 0.3em;
  }
}
