<div class="kk-events kk-events--ratio-{{ratio}} kk-ratio-{{ratio}} kk-slide-body font-kbh"
     data-ng-style="{
     'background-color': theStyle.bgcolor
     }">

  <div class="kk-events__subslide sis-items-pr-slide-{{itemsPrSlide}}"
       ng-repeat="slide in ikSlide.data.subslides track by $index"
       data-ng-show="ikSlide.data.currentSlide === $index">

    <div class="kk-events__event" ng-repeat="event in slide">
      <div class="kk-events__event-img">
        <img class="kk-events__event-img--file" src="{{event.image}}" alt="">
      </div>
      <div class="kk-events__event--text">
        <p class="kk-events__event--date">
          {{event.date}} {{event.time}}
        </p>
        <h1 class="kk-events__event--title font-bolder">{{event.title}}</h1>
        <p class="kk-events__event--description">
          {{event.body}}
        </p>
      </div>
    </div>

  </div>

  <img class="kk-logo--top-right kk-events--logo" data-ng-src="{{ikSlide.kffLogo}}" alt="Logo">


  <img ng-if="ikSlide.logo" class="kk-uploaded-logo" data-ng-show="ikSlide.logo" data-ng-style="{'top':ikSlide.options.logopos.top, 'bottom':ikSlide.options.logopos.bottom, 'left':ikSlide.options.logopos.left, 'right':ikSlide.options.logopos.right, 'width': ikSlide.options.logosize}" data-ng-src="{{ikSlide.logo}}" alt="" />
</div>

