{% include "components-header" with { isActive: 5 } %}
{% include "modules-submenu" with { data: submenu } %}

<main role="main" class="content">
  <div class="content--inner">
    {% embed "modules-grid-full" %}
      {% block items %}
        {% embed "modules-grid-item" %}
          {% block content %}
            {% include "components-box-list" with { data: boxUsers } %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  </div>
</main>

{% include "components-popup-add-group" with { data: popupAddToGroup } %}
