/**
 *
 * Message
 *
 */


/* Variables
   ========================================================================== */

/* stylelint-disable */
$message-color:                  #fff;
$message-info-color:             #dff2bf;
$message-warning-color:          #feefb3;
$message-error-color:            #ffbaba;
/* stylelint-enable */


/* Styles
   ========================================================================== */

.itk-message {
  margin: 0 auto 1em;
  max-width: $breakpoint-desk;
}

.itk-message--inner {
  @include flexbox();

  background-color: $message-color;
  border: 1px solid darken($message-color, 25%);
  border-radius: .75em;
  color: darken($message-color, 50%);
  padding: 1em;

  &.is-info {
    background-color: $message-info-color;
    border: 1px solid darken($message-info-color, 25%);
    color: darken($message-info-color, 50%);
  }

  &.is-warning {
    background-color: $message-warning-color;
    border: 1px solid darken($message-warning-color, 25%);
    color: darken($message-warning-color, 50%);
  }

  &.is-error {
    background-color: $message-error-color;
    border: 1px solid darken($message-error-color, 25%);
    color: darken($message-error-color, 50%);
  }
}

.itk-message--content {
  @include flex(1, 1, auto);

  margin-top: 6px;
}


.itk-message--close {
  @include flex(0, 0, 40px);

  cursor: pointer;
}