<div class="itk-message">
  <div class="itk-message--inner">
    <div class="itk-message--content">
      This is a <strong>standard</strong> message
    </div>
    <div class="itk-message--close">
      <i data-icon="close" class="is-medium is-inverted"></i>
    </div>
  </div>
</div>
<div class="itk-message">
  <div class="itk-message--inner is-info">
    <div class="itk-message--content">
      This is just for your <strong>information</strong>
    </div>
    <div class="itk-message--close">
      <i data-icon="close" class="is-medium is-inverted"></i>
    </div>
  </div>
</div>
<div class="itk-message">
  <div class="itk-message--inner is-warning">
    <div class="itk-message--content">
      This is a <strong>warning</strong>
    </div>
    <div class="itk-message--close">
      <i data-icon="close" class="is-medium is-inverted"></i>
    </div>
  </div>
</div>
<div class="itk-message">
  <div class="itk-message--inner is-error">
    <div class="itk-message--content">
      This is an <strong>error</strong>
    </div>
    <div class="itk-message--close">
      <i data-icon="close" class="is-medium is-inverted"></i>
    </div>
  </div>
</div>