<div class="container">
  <div class="container--inner">
    <h2>Login</h2>
    <form class="form is-inverted">
      <div class="form--group">
        <label for="username">Brugernavn</label>
        <input type="text" id="username" placeholder="Brugernavn">
      </div>
      <div class="form--group">
        <label for="password">Kodeord</label>
        <input type="password" id="password" placeholder="Kodeord">
      </div>
      <div class="form--group">
        <input type="submit" class="button is-block" value="Login">
      </div>
    </form>
  </div>
</div>