/**
 *
 * Modal
 *
 */


/* Styles
   ========================================================================== */

/* Invisible overlay that appears when dialog opens and contains the dialog window */
%itk--menu-nav-overlay {
  background-color: rgba(0, 0, 0, .85);
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow-y: auto;

  // Stretch the background to fit screen.
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .2s, z-index .2s; // Use z-index to show hide since "display:none" doesn't work with transitions.
  z-index: -1;  // Must be hidden behind all other content

  &.is-visible {
    opacity: 1;
    z-index: 10; // Most likely on top of all other content.
  }
}


/* Mixin for defining modal-dialog */
@mixin modal-dialog($width:420px, $position:center, $speed:.2s) {
  background: $white;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  position: relative;
  width: $width;

  @if $position == "left" {
    left: -$width;  // Dialog hidden just outside screen display
    margin: 0;
    min-height: 100%;
    position: absolute;
    transition: left $speed;
    transition-timing-function: ease-in-out;

    &.is-visible {
      left: 0;
    }

  } @else if $position == "right" {
    margin: 0;
    min-height: 100%;
    position: absolute;
    right: -$width;  // Dialog hidden just outside screen display

    transition: right $speed;
    transition-timing-function: ease-in-out;

    &.is-visible {
      right: 0;
    }

  } @else {
    border-radius: 6px;
    left: 0;
    margin: 40px auto;
    min-height: 60%;
    min-width: 300px;
    position: absolute;
    right: 0;
    top: -100%;  // Dialog hidden just outside screen display
    transition: top $speed;
    transition-timing-function: ease-in-out;
    width: $width;


    &.is-visible {
      top: 0;
    }
  }
}

/* Styles
   ========================================================================== */
.modal {
  @extend %itk--menu-nav-overlay;

  &--dialog {
    @include modal-dialog(500px, center, .2s);
  }

  &--content {
    padding: 2em;
  }
}