<div class="button js-toggle-modal">
  Launch demo modal
</div>
<div class="modal js-modal is-hidden">
  <div class="modal--dialog js-modal-dialog is-hidden">
    <div class="modal--content">
      <p>
        Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero,
        a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.        Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero,
        sda Etiam porta sem malesuada magna Etiam porta sem males
        adipiscing elit.        Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero,
        sda Etiam porta sem malesuada magna Etiam porta sem malesuada magna Etiam porta sem malesuad
      </p>
      <p>
        Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero,
        a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.        Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero,
        sda Etiam porta sem malesuada magna Etiam porta sem males
        adipiscing elit.        Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero,
        sda Etiam porta sem malesuada magna Etiam porta sem malesuada magna Etiam porta sem malesuad
      </p>
      <p>
        Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero,
        a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.        Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero,
        sda Etiam porta sem malesuada magna Etiam porta sem males
        adipiscing elit.        Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero,
        sda Etiam porta sem malesuada magna Etiam porta sem malesuada magna Etiam porta sem malesuad
      </p>
      <div class="button js-toggle-modal">
        Close
      </div>
    </div>
  </div>
</div>