<div class="pager--search">
  <div class="pager--search-item is-inactive">
    <span class="pager--search-item-inner">❮❮</span>
  </div>
  <div class="pager--search-item is-inactive">
    <span class="pager--search-item-inner">❮</span>
  </div>
  <div class="pager--search-item is-active">
    <span class="pager--search-item-inner">1</span>
  </div>
  <div class="pager--search-item">
    <span class="pager--search-item-inner">2</span>
  </div>
  <div class="pager--search-item">
    <span class="pager--search-item-inner">3</span>
  </div>
  <div class="pager--search-item">
    <span class="pager--search-item-inner">4</span>
  </div>
  <div class="pager--search-item">
    <span class="pager--search-item-inner">❯</span>
  </div>
  <div class="pager--search-item">
    <span class="pager--search-item-inner">❯❯</span>
  </div>
</div>