<div class="tabs">
  <a class="tabs--item is-active">Lorem ipsum dolor lorem</a>
  <a class="tabs--item">Lorem </a>
  <a class="tabs--item">Lorem ipsum dolor lorem</a>
  <a class="tabs--item">Ipsum</a>
</div>

<div class="tabs" data-tabs-count="4">
  <a class="tabs--item is-active has-flex"><i data-icon="check-circle" class="is-tiny"></i><span class="tabs--text">Lorem ipsum dolor lorem</span></a>
  <a class="tabs--item has-flex"><span class="tabs--text">Lorem</span></a>
  <a class="tabs--item"><span class="tabs--text">Lorem ipsum dolor lorem</span></a>
  <a class="tabs--item has-flex"><span class="tabs--text">Ipsum</span></a>
</div>