<div class="overview--screen-wrapper is-{{ikScreen.orientation}}" data-ng-style="{'width': style.width, 'height': style.height, 'background-image': 'url(' + ikScreen.template.path_icon + ')', 'background-size': 'cover'}">
  <div class="overview--screen--description">
    <h2 class="overview--screen-header">{{ikScreen.title}}</h2>
    <div class="overview--screen-dimensions">({{ikScreen.width}} x {{ikScreen.height}})</div>
    <div class="overview--screen-description">{{ikScreen.description}}</div>
  </div>
</div>

