<section id="create-screen-two" class="create-screen--section">
  <div class="create-screen--content--screen-one">
    <h1 class="create-screen--header">Opret skærm ({{step}}/{{steps}})</h1>
    <p class="create-screen--header-description">Hvilke grupper er skærmen del af?</p>
    <form ng-submit="submitStep()">
        <label data-ng-repeat="group in groups">
            <input
                type="checkbox"
                name="selectedGroupss[]"
                value="{{group.title}}"
                ng-checked="isScreenInGroup(screen.id, group.id)"
                ng-click="toggleGroup(screen.id, group.id)"
            >
            {{group.title}}
        </label>
      <input type="submit" class="create-screen--button" data-ng-class="{'is-inactive': !validation.titleSet()}" ng-disabled="!validation.dimensionSet()" value="Gem og fortsæt">
    </form>
  </div>
</section>
