<section class="pager">
  <div class="pager--line"></div>
  <div class="pager--inner">
    <div clasS="pager--steps">
      <div class="pager--step" data-ng-class="{'is-active': step == 1, 'is-valid': validation.titleSet()}" data-ng-click="goToStep(1)">1</div>
      <div class="pager--step" data-ng-class="{'is-active': step == 2, 'is-valid': validation.widthSet() && validation.heightSet()}" data-ng-click="goToStep(2)">2</div>
      <div class="pager--step" data-ng-class="{'is-active': step == 3, 'is-valid': validation.widthSet() && validation.heightSet() && step >= 3}" data-ng-click="goToStep(3)">3</div>
    </div>
  </div>
</section>
<div data-ng-include="" src="templatePath"></div>
