<div class="screen--layout">
  <div class="screen--layout-inner">
    <div class="screen--layout-content">
      <div class="presentation--border" style="max-width: 750px;">
        <!--
        <div class="presentation">
          <div class="presentation--inner" style="width: 700px;height:340px;">
            <div class="presentation--region-horizontal" style="width: 50%; height:inherit;">
              <div class="presentation--region-vertical" style="width: auto; height:60%;">
                <div class="presentation--region-content">
                  alpha
                </div>
              </div>
              <div class="presentation--region-vertical" style="width: auto; height:40%;">
                <div class="presentation--region-content is-active">
                  beta
                </div>
              </div>
            </div>
            <div class="presentation--region-horizontal" style="width: 50%; height:inherit;">
              <div class="presentation--region-vertical" style="width: auto; height:100%;">
                <div class="presentation--region-content">
                  gamma
                </div>
              </div>
            </div>
          </div>
        </div>
        -->
        <div class="presentation">
          <div class="presentation--inner" style="width: 700px;height:340px;">
            <div class="presentation--region-vertical" style="width: auto; height:50%;">
              <div class="presentation--region-horizontal" style="width: 50%; height:100%;">
                <div class="presentation--region-content">
                  alpha
                </div>
              </div>
              <div class="presentation--region-horizontal" style="width: 50%; height:100%;">
                <div class="presentation--region-content is-active">
                  beta
                </div>
              </div>
            </div>
            <div class="presentation--region-vertical" style="width: auto; height:50%;">
              <div class="presentation--region-horizontal" style="width: 33%; height:100%;">
                <div class="presentation--region-content">
                  gamma
                </div>
              </div>
              <div class="presentation--region-horizontal" style="width: 34%; height:100%;">
                <div class="presentation--region-content">
                  delta
                </div>
              </div>
              <div class="presentation--region-horizontal" style="width: 33%; height:100%;">
                <div class="presentation--region-content">
                  epsilon
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="screen--layout-control-panel">
      <div class="control-panel--main">
        <a href="#" class="control-panel--main-toggle"><img class="control-panel--toggle-image" src="../../images/arrow-right-icon.png"/></a>
        <div class="control-panel--nav-wrapper">
          <div class="control-panel--nav is-full-width" itk--tabs-count="3">
            <a href="#" class="control-panel--nav-item">Indstillinger</a>
            <a href="#" class="control-panel--nav-item is-active">Skærmopdeling</a>
            <a href="#" class="control-panel--nav-item">Skabelon</a>
          </div>
        </div>
        <div class="control-panel--tab">
          <form class="cpw--wrapper">
            <div class="cpw--text">
              <label class="cpw--text-label">Skærmnavn</label>
              <input type="text" class="cpw--text-input" placeholder="screen_830372">
            </div>
            <div class="cpw--text">
              <label class="cpw--text-label">Bredde</label>
              <input type="text" class="cpw--text-input" placeholder="Indtast bredde i pixels">
            </div>
            <div class="cpw--text">
              <label class="cpw--text-label">Højde</label>
              <input type="text" class="cpw--text-input" placeholder="Indtast højde i pixels">
            </div>
          </form>
        </div>

        <div class="control-panel--tab">
          <div class="cpw--screen-sections">
            <div class="cpw--screen-sections-item">
              <label class="cpw--screen-sections-label">3 sektioner</label>
              <a href="#" class="cpw--screen-sections-link is-active">
                <img class="cpw--screen-sections-icon" src="../../images/3-areas.png"/>
              </a>
            </div>
            <div class="cpw--screen-sections-item">
              <label class="cpw--screen-sections-label">5 sektioner</label>
              <a href="#" class="cpw--screen-sections-link">
                <img class="cpw--screen-sections-icon" src="../../images/outlines/sections-5.png"/>
              </a>
            </div>
          </div>
        </div>

        <div class="control-panel--tab">
          <div class="cpw--screen-templates">
            <div class="cpw--screen-templates-item">
              <label class="cpw--screen-templates-label">Normal</label>
              <a href="#" class="cpw--screen-templates-link is-active">
                <img class="cpw--screen-templates-icon" src="../../images/outlines/default-template.png"/>
              </a>
            </div>
            <div class="cpw--screen-templates-item">
              <label class="cpw--screen-templates-label">Header + Footer</label>
              <a href="#" class="cpw--screen-templates-link">
                <img class="cpw--screen-templates-icon" src="../../images/outlines/header-footer-template.png"/>
              </a>
            </div>
            <div class="cpw--screen-templates-item">
              <label class="cpw--screen-templates-label">Kun header</label>
              <a href="#" class="cpw--screen-templates-link">
                <img class="cpw--screen-templates-icon" src="../../images/outlines/header-template.png"/>
              </a>
            </div>
            <div class="cpw--screen-templates-item">
              <label class="cpw--screen-templates-label">Kun footer</label>
              <a href="#" class="cpw--screen-templates-link">
                <img class="cpw--screen-templates-icon" src="../../images/outlines/footer-template.png"/>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="control-panel--tool is-visible">
        <div class="control-panel--nav-wrapper">
          <div class="control-panel--nav is-full-width" itk--tabs-count="2">
            <a href="#" class="control-panel--nav-item is-active">Tilføj kanaler</a>
            <a href="#" class="control-panel--nav-item">Valgte kanaler</a>
          </div>
        </div>
        <div class="control-panel--tool-tab">
          <div class="cpw--add-channels">
            <input type="search" class="cpw--add-channels-search" placeholder="Søg...">
            <div class="cpw--add-channels-list">
              <div class="cpw--add-channels-item">
                <div class="cpw--add-channels-item-image"><img src=""/></div>
                <div class="cpw--add-channels-item-content">
                  <h3 class="cpw--add-channels-item-header">Til receptionen</h3>
                  <div class="cpw--add-channels-item-meta">Dette kunne være en beskrivelse på sigt.</div>
                  <a href="#" class="cpw--add-channels-item-action">Tilføj</a>
                </div>
              </div>
              <div class="cpw--add-channels-item">
                <div class="cpw--add-channels-item-image"><img src=""/></div>
                <div class="cpw--add-channels-item-content">
                  <h3 class="cpw--add-channels-item-header">Reception 2</h3>
                  <div class="cpw--add-channels-item-meta">Dette kunne være en beskrivelse på sigt.</div>
                  <a href="#" class="cpw--add-channels-item-action">Tilføj</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="control-panel--tool-tab">
          <div class="cpw--selected-channels">
            <input type="search" class="cpw--selected-channels-search" placeholder="Søg...">
            <div class="cpw--selected-channels-list">
              <div class="cpw--selected-channels-item">
                <div class="cpw--selected-channels-item-image"><img src=""/></div>
                <div class="cpw--selected-channels-item-content">
                  <h3 class="cpw--selected-channels-item-header">Til receptionen</h3>
                  <div class="cpw--selected-channels-item-meta">Dette kunne være en beskrivelse på sigt.</div>
                  <a href="#" class="cpw--selected-channels-item-action">Fjern</a>
                </div>
              </div>
              <div class="cpw--selected-channels-item">
                <div class="cpw--selected-channels-item-image"><img src=""/></div>
                <div class="cpw--selected-channels-item-content">
                  <h3 class="cpw--selected-channels-item-header">Reception 2</h3>
                  <div class="cpw--selected-channels-item-meta">Dette kunne være en beskrivelse på sigt.</div>
                  <a href="#" class="cpw--selected-channels-item-action">Fjern</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="control-panel--actions">
          <a class="control-panel--actions-close" href="#">Gem og luk</a>
        </div>
      </div>
    </div>
  </div>
</div>
