<section id="create-screen-three" class="create-screen--section">
  <div class="create-screen--content-screen-three">
    <h1 class="create-screen--header">{{screen.status === "edit-screen" ? "Redigér skærm" : "Opret skærm"}}</h1>
    <p class="create-screen--header-description">Tilføj og fjern kanaler.</p>

    <div class="overview--filter-owner">
      <span href="#" data-ng-class="{'is-active': !editor.showSharedChannels}" class="overview--filter-twosplit-left" data-ng-click="editor.showSharedChannels = false">Interne kanaler</span>
      <span href="#" data-ng-class="{'is-active': editor.showSharedChannels}" class="overview--filter-twosplit-right" data-ng-click="editor.showSharedChannels = true">Eksterne kanaler</span>
    </div>

    <div data-ng-if="!editor.showSharedChannels">
      <div class="create-channel--add-slide-button" data-ng-click="editor.toggleChannelOverviewEditor()">Tilføj interne kanaler</div>
      <div class="overview--channels">
        <div class="overview--channel" data-ng-repeat="channel in screen.channels">
          <div class="overview--channel-overlay"></div>
          <div class="overview--channel-remove" data-ng-click="toggleChannel(channel)"></div>
          <ik-channel class="overview--channel-container" ik-channel="channel" ik-width="{{channel.orientation == 'portrait' ? 150 : 300 }}" ik-single-slide="true"></ik-channel>
          <div class="overview--channel-label">{{channel.title}}</div>
          <span class="overview--channel-date">- {{channel.created_at * 1000 | date:'dd.MM.yyyy'}}</span>
        </div>
      </div>
    </div>
    <div data-ng-if="editor.showSharedChannels">
      <div class="create-channel--add-slide-button" data-ng-click="editor.toggleSharedChannelOverviewEditor()">Tilføj eksterne kanaler</div>
      <div class="overview--channels">
        <div class="overview--channel" data-ng-repeat="channel in screen.shared_channels">
          <div class="overview--channel-overlay"></div>
          <div class="overview--channel-remove" data-ng-click="toggleSharedChannel(channel)"></div>
          <ik-shared-channel class="overview--channel-container" ik-channel="channel.content" ik-single-slide="true" ik-width="{{channel.orientation == 'portrait' ? 168.75 : 300 }}" ik-sharing-index="index.index"></ik-shared-channel>
          <div class="overview--channel-label">{{channel.content.title}}</div>
          <span class="overview--channel-date">- {{channel.created_at * 1000 | date:'dd.MM.yyyy'}}</span>
        </div>
      </div>
    </div>
    <div class="create-screen--finish-button">
      <div class="create-screen--spinner" data-ng-show="disableSubmitButton"></div>
      <input type="submit" class="create-screen--button" value="Gem skærm" data-ng-click="submitStep()">
    </div>
  </div>
</section>

<!-- Select channel editor -->
<div class="edit-menu--content" role="banner" data-ng-class="{'is-visible': editor.channelOverviewEditor, 'is-hidden': !editor.channelOverviewEditor}" >
  <div class="edit-menu--content-inner">
    <div class="edit-menu--toggle-icon" data-ng-click="editor.toggleChannelOverviewEditor()">
      <div class="svg-clickable">
        <object data="images/svg/cancel.svg" type="image/svg+xml">
          <!-- Fallback (ie8)-->
          <img src="images/cancel.png" />
        </object>
      </div>
    </div>
    <div class="edit-menu--content-page-inner">
      <h2 class="edit-menu--content-header">Vælg kanaler</h2>
      <div class="edit-menu--background-content">
        <ik-channel-overview ik-selected-channels="screen.channels" ik-hide-filters="true" ik-filter="{{screen.orientation}}" ik-overlay="true"></ik-channel-overview>
      </div>
    </div>
  </div>
</div>

<!-- Select channel editor -->
<div class="edit-menu--content" role="banner" data-ng-class="{'is-visible': editor.sharedChannelOverviewEditor, 'is-hidden': !editor.sharedChannelOverviewEditor}" >
  <div class="edit-menu--content-inner">
    <div class="edit-menu--toggle-icon" data-ng-click="editor.toggleSharedChannelOverviewEditor()">
      <div class="svg-clickable">
        <object data="images/svg/cancel.svg" type="image/svg+xml">
          <!-- Fallback (ie8)-->
          <img src="images/cancel.png" />
        </object>
      </div>
    </div>
    <div class="edit-menu--content-page-inner">
      <h2 class="edit-menu--content-header">Vælg kanaler</h2>
      <div class="edit-menu--background-content">
        <ik-channel-sharing-overview ik-selected-channels="screen.shared_channels" ik-hide-filters="true" ik-filter="{{screen.orientation}}" ik-overlay="true"></ik-channel-sharing-overview>
      </div>
    </div>
  </div>
</div>