<div class="overview--screen-wrapper is-{{ikScreen.orientation}}">
  <div class="overview--screen--description">
    <h2 class="overview--screen-header">{{ikScreen.title}}</h2>
    <div class="overview--screen-dimensions">({{ikScreen.width}} x {{ikScreen.height}})</div>
    <div class="overview--screen-groups-label">Grupper:</div>
    <ul class="overview--screen-groups">
      <li class="overview--screen-group" data-ng-repeat="group in ikScreenGroups">
        {{group.title}}
      </li>
    </ul>
  </div>
</div>

