<div class="screen--layout">
  <div class="screen--layout-inner">
    <div class="screen--layout-content">
      <div class="presentation--border" style="max-width: 1010px;">
        <div class="presentation">
          <div class="presentation--inner" style="width: 960px;height:540px;">
            <div class="presentation--region-horizontal" style="width: 50%; height:inherit;">
              <div class="presentation--region-vertical" style="width: auto; height:60%;">
                <div class="presentation--region-content">
                  alpha
                </div>
              </div>
              <div class="presentation--region-vertical" style="width: auto; height:40%;">
                <div class="presentation--region-content is-active">
                  beta
                </div>
              </div>
            </div>
            <div class="presentation--region-horizontal" style="width: 50%; height:inherit;">
              <div class="presentation--region-vertical" style="width: auto; height:100%;">
                <div class="presentation--region-content">
                  gamma
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="screen--layout-menu">
      content
    </div>
  </div>
</div>
