<div class="presentation--border" style="max-width: 750px;">
  <div class="presentation breakpoint-50">
    <div class="presentation--inner" style="width: 700px;height:340px; position: relative">
      <div class="presentation--region-horizontal" style="width: 100%; height:50%;" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 1})">
        <div class="presentation--region-content" data-ng-class="{'is-active': region === 1}">
          <region-preview-widget region="1" screen="screen" class="presentation--region-content-inner"></region-preview-widget>
        </div>
      </div>
      <img src="templates/dokk1_templates/screens/dokk1-two-rows-variable/arrows.png"
           style="width: 40px;
                  position: absolute;
                  top: 142px;
                  left: 330px;
                  border: 1px solid grey;
                  padding: 5px;
                  background-color: lightgrey;
                  border-radius: 5px"
           data-ng-click="triggerTool({name: 'height-picker', region: 0})"/>
      <div class="presentation--region-horizontal" style="width: 100%; height:50%;" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 2})">
        <div class="presentation--region-content" data-ng-class="{'is-active': region === 2}">
          <region-preview-widget region="2" screen="screen" class="presentation--region-content-inner"></region-preview-widget>
        </div>
      </div>
    </div>
  </div>
</div>