@import "compass/css3";
@import "../../../../../sass/ding-shared-base";


.four-sections {
  &--inner {
    font-size: 0;
  }

  &--region-horizontal {
    border-right: 1px solid $white;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;

    &:last-child {
      border: 0;
    }
  }

  &--region-vertical {
    border-bottom: 1px solid $white;
    box-sizing: border-box;
    display: block;

    &:last-child {
      border: 0;
    }
  }

  &--region-content {
    font-size: 1rem;
    position: relative;
    height: 100%;
    width: 100%;
  }
}
