<div class="edit-menu--background" role="banner">
  <div class="edit-menu--background-inner">
    <div class="edit-menu--toggle-icon" data-ng-click="close()">
      <div class="svg-clickable">
        <object data="images/svg/cancel.svg" type="image/svg+xml">
          <!-- Fallback (ie8)-->
          <img src="images/cancel.png" />
        </object>
      </div>
    </div>
    <div class="edit-menu--background-page">
      <div class="edit-menu--background-page-inner">
        <div class="create-channel--slides">
            <div data-ng-repeat="mediaElement in slide.media" class="create-channel--slide-order-element">
              <div class="create-channel--slide-order-link"
                   droppable drop="handleDropMedia"
                   id="index-{{ $index }}"
                   draggable>
                <span class="create-channel--slide-order-arrow-left" data-ng-click="pushMediaLeft($index)">
                    <img class="create-channel--arrow-left-image" src="images/arrow-backward.png">
                </span>
                <span class="create-channel--slide-order-number">{{$index + 1}}</span>
                <img class="overview--channel-remove" data-ng-click="removeMedia($index)" src="/images/icons/cancel-icon.png">
                <img class="overview--media-image" data-ng-src="{{ mediaElement.urls.default_portrait_small }}"/>
                <span class="create-channel--slide-order-arrow-right" data-ng-click="pushMediaRight($index)">
                    <img class="create-channel--arrow-right-image" src="images/arrow-forward.png">
                </span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>