<div class="edit-menu--background" role="banner">
  <div class="edit-menu--background-inner">
    <div class="edit-menu--toggle-icon" data-ng-click="close()">
      <div class="svg-clickable">
        <object data="images/svg/cancel.svg" type="image/svg+xml">
          <!-- Fallback (ie8)-->
          <img src="images/cancel.png" />
        </object>
      </div>
    </div>
    <div class="edit-menu--content-page">
      <div class="edit-menu--content-page-inner">
        <h2 class="edit-menu--iframe-header">Indstillinger</h2>
        <div class="edit-menu--iframe-content">
          <div class="edit-menu--iframe-label">Vælg sti</div>
          <input type="text" data-ng-model="slide.options.source">
        </div>
        <div class="edit-menu--iframe-content">
          <div class="edit-menu--iframe-label">Deaktiver automatiske opdateringer af iframe</div>
          <input type="checkbox" data-ng-model="slide.options.disable_update">
        </div>
        <div class="edit-menu--iframe-content">
          <div class="edit-menu--iframe-label">Vælg iframe bredde (Px eller %)</div>
          <input type="text" placeholder="300px"  data-ng-model="slide.options.framewidth">
        </div>
        <div class="edit-menu--iframe-content">
          <div class="edit-menu--iframe-label">Vælg baggrundsfarve</div>
          <input colorpicker="rgba" type="text" placeholder="e.g. #000" data-ng-model="slide.options.bgcolor" data-ng-style="{'background-color': slide.options.bgcolor}">
        </div>
      </div>
    </div>
  </div>
</div>