@import "compass/css3";
@import "../../../_shared-base.scss";

.mbu-header {
  position: relative;

  padding: 0;

  text-align: left;
  color: $white;

  // Maintain font.
  pre {
    margin: 0;

    font-family: inherit;
    text-align: left;
  }

  &--image-wrapper {
    position: absolute;
    left: 0;

    height: 100%;

    display: inline-block;
  }

  &--image {
    display: inline-block;
    height: 100px;
    margin: 15px;
  }
  
  &--clock {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    padding: 10px;

    text-align: right;
    color: $white;
    font-size: 2em;
    font-weight: bold;

    @include transform(translateY(-50%));
  }

  &.edit {
    .mbu-header {
      &--image {
        height: 90%;
        margin: 5px;
      }

      &--image-wrapper {
        margin:0;
        width: 10%;
        height: 100%;
      }
    }
  }
}

.preview--slide {
  .mbu-header {
    &--image {
      height: 90%;
      margin: 0;
    }

    &--image-wrapper {
      margin:0;
      width: 10%;
      height: 100%;
    }

    &--clock {
      font-size: .5em;
    }
  }
}