// ----- Selecters related to this document ----- //

// Selector for displaying checkbox on selected image
%create-slide--image-check-icon--selector {
  display: block;
  margin: 0 auto;
  position: relative;
  visibility: hidden;
  top: 10em;
  z-index: 1;

  @include generate-sprite-image($dashboard-sprites, 'check-circle-icon', 80);
}


// ----- Styles ----- //
.create-slide {

  // General styles for all create slide pages
  &--section {
    background-size: cover;
    color: #535353;
    height: 100%;
 
    @include background-size();
  }


  &--content--slide-one {
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }


  &--content--slide-two {
    @extend %grid;

    margin: 0 auto;
    text-align: center;
    width: 100%;
  }


  &--content--slide-three {
    @extend %grid;

    margin: 0 auto;
    padding-top: 12em;
    text-align: center;
    width: 100%;
  }


  &--header {
    border-bottom: 1px solid $gray-lighter;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-align: center;
  }


  &--header-description {
    color: #646464;
    font-weight: lighter;
    margin-bottom: 4em;
    text-align: center;
  }


  &--button {
    @extend .button;

    display: block;
    margin: 0 auto;
  }


  // ----- Create slide title/name -----/
  &--text[type="text"] {
    background-color: #fbfbfb;
    height: 4.5em;
    margin-bottom: 2em;
    padding: 1.5em;

    &.is-valid {
      background: url('../images/icons/check-circle-icon.png') #fbfbfb;
      background-size:2em 2em;
      background-repeat:no-repeat;
      background-position: right 1.25em top 1.25em;
      border: 0;
    }
  }


  // ----- Create slide screen selection -----/
  &--screens {
    margin-bottom: 3em;
  }


  &--screen-landscape {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-half;
    @extend %desk--one-half;
  }


  &--screen-portrait {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-half;
    @extend %desk--one-half;
  }


  &--screen-link {
    &.is-selected {
      cursor: default;

      @include opacity(.5);


      .create-slide--screen-link-check {
        visibility: visible;
      }
    }
  }


  &--screen-link-check {
    @extend %create-slide--image-check-icon--selector;
  }


  // ----- Create slide template selection -----/
  &--template-link {
    &.is-selected {
      cursor: default;

      @include opacity(.5);


      .create-slide--template-link-check {
        visibility: visible;
      }
    }
  }


  &--template-link-check {
    @extend %create-slide--image-check-icon--selector;
  }

}
