/**
 *
 * Create channel
 *
 */


/* Silent classes related to this document
   ========================================================================== */

// Class for displaying checkbox on selected image.
%create-channel--image-check-icon--selector {
  display: block;
  margin: 0 auto;
  visibility: hidden;
  z-index: 1;
  position: absolute;
  top: 50%;

  @include translateY(-50%);
  @include generate-sprite-image($dashboard-sprites, 'check-circle-icon', 80);

  @include breakpoint($breakpoint-lap) {
    @include generate-sprite-image($dashboard-sprites, 'check-circle-icon', 50);
  }
  @include breakpoint(800px) {
    @include generate-sprite-image($dashboard-sprites, 'check-circle-icon', 80);
  }
}


// Class for creating overlay on selected image (We nest to have the "is-selected" class on only only one html tag))
%create-channel--image-overlay-selector {
  cursor: pointer;
  
  &.is-selected {
    cursor: default;

    .create-channel--link-check {
      left: 0;
      right: 0;
      visibility: visible;
    }

    .create-channel--overlay {
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,0.5);
      position: absolute;
    }
  }
}


/* Styles
   ========================================================================== */

.has-placeholder[placeholder]:empty:before {
  content: attr(placeholder);
  color: #ccc;
}


.create-channel {

  // General styles for all create channel pages.
  &--section {
    background-size: cover;
    color: #535353;
    display: block;
    height: auto;

    @include background-size();
  }


  &--header {
    border-bottom: 1px solid $gray-lighter;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-align: center;
  }


  &--header-description {
    color: #646464;
    font-weight: lighter;
    margin-bottom: 4em;
    text-align: center;
  }


  // Default check circled icon.
  &--link-check {
    @extend %create-channel--image-check-icon--selector;
  }


  &--button {
    @extend .button;

    display: block;
    margin: 0 auto;
  }


  // Create channel.
  &--content--channel-one {
    display: block;
    margin: 0 auto;
    text-align: center;


    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-whole;
    @extend %desk--one-half;
  }


  &--text[type="text"] {
    background-color: #fbfbfb;
    height: 4.5em;
    margin-bottom: 2em;
    padding: 1.5em;

    &.is-valid {
      background: url('../images/icons/check-circle-icon.png') #fbfbfb;
      background-size:2em 2em;
      background-repeat:no-repeat;
      background-position: right 1.25em top 1.25em;
      border: 0;
    }
  }


  // Create channel screen selection.
  &--content--channel-two {
    @extend %grid;

    margin: 0 auto;
    text-align: center;
    width: 100%;
  }


  &--screens {
    max-width: 65em;
    margin: 0 auto 3em;
  }


  &--screen-landscape {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-half;
    @extend %desk--one-half;

    margin-bottom: 2em;
  }


  &--screen-portrait {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-half;
    @extend %desk--one-half;
  }


  &--screen-link {
    @extend %create-channel--image-overlay-selector;

    position: relative;
    display: block;
  }


  &--screen-link-check {
    @extend %create-channel--image-check-icon--selector;
  }


  // Create channel slide selection.
  &--content--channel-three {
    @extend %grid;

    margin: 0 auto;
    text-align: center;
    width: 100%;
  }


  &--slide {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-third;
    @extend %desk--one-quarter;
    @extend %bigscreen--one-sixth;

    margin-bottom: 2em;
    position: relative;
  }


  &--slides {
    margin-bottom: 3em;
  }


  &--slide-link {
    @extend %create-channel--image-overlay-selector;

    display: block;
    position: relative;
  }


  // Create channel slide order.
  &--content--channel-four {
    @extend %grid;

    margin: 0 auto;
    text-align: center;
    width: 100%;
  }


  &--slide-order-element {
    @extend %grid__item;
    @extend %grid-markup-fix;
    @extend %palm--one-whole;
    @extend %lap--one-third;
    @extend %desk--one-quarter;
    @extend %bigscreen--one-sixth;

    margin-bottom: 2em;
    position: relative;
  }


  &--slides {
    margin-bottom: 3em;
  }


  &--slide-order-link {
    display: inline-block;
    position: relative;
    width: 90%;
  }

  &--slide-order-number {
    font-size: 1.3em;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    border-radius: 100%;
    top: -1.1em;
    line-height: 2.1em;
    height: 2.1em;
    width: 2.1em;

    background: #fff;

    @include border-radius(100%);
  }

  &--slide-order-arrow {
    display: none;
    position: absolute;
    right: -1em;
    top: 50%;

    @include translateY(-50%);
    @include breakpoint($breakpoint-lap) {
      display: block;
    }
  }
}
