<div class="button-icon-link {{ data.jsClass }} {{ class }}" data-modal="{{ data.dataModal }}">
  {% include "elements-icon-rounded" with { data: data } %}
  {% include "elements-button-text" with { data: { label: data.label, class: "has-spacing-before" } } %}
</div>
