<div class="dokk1-info is-editor" data-ng-style="{'font-size': theStyle.fontsize, 'width': theStyle.width, 'height': theStyle.height, 'background-image': 'linear-gradient(0deg,' + ikSlide.options.bgcolor + ', ' + ikSlide.options.bgcolor + '), url(' + ikSlide.currentImage + ')'}">
  <div class="dokk1-info--meta is-editor">
    <textarea auto-grow class="dokk1-info--meta-input has-placeholder" data-ng-trim="false" placeholder="Tilføj meta text" data-ng-model="ikSlide.options.meta" spellcheck="false">
    </textarea>
  </div>
  <div class="dokk1-info--header is-editor">
    <textarea auto-grow class="dokk1-info--header-input has-placeholder" data-ng-trim="false" placeholder="Tilføj header text" data-ng-model="ikSlide.options.header" spellcheck="false">
    </textarea>
  </div>
  <div class="dokk1-info--edit-image-settings" data-ng-click="editor.toggleStaticBackgroundColorEditor()"></div>
</div>
