<div class="kk-color-messages kk-color-messages--landscape"
     data-ng-style="{'background-color': message.background_color }"
     ng-repeat="message in ikSlide.data.subslides track by $index"
     data-ng-show="ikSlide.data.currentSlide === $index">

  <div class="kk-color-messages__inner">
    <div class="kk-color-messages__content">
      <h1 class="kk-color-messages__title"> {{message.title}}</h1>
      <div class="kk-color-messages__body">
        <div ng-bind-html="message.message"></div>
      </div>
    </div>

  </div>
  <img class="kk-color-messages__logo" data-ng-show="ikSlide.currentLogo"
       data-ng-style="{'top':ikSlide.options.logopos.top, 'bottom':ikSlide.options.logopos.bottom, 'left':ikSlide.options.logopos.left, 'right':ikSlide.options.logopos.right, 'width': ikSlide.options.logosize, 'position': 'absolute'}"
       data-ng-src="{{ikSlide.currentLogo}}"/>
</div>
