<div class="kk-color-messages kk-color-messages--landscape" style="background-color: #de2360; width: 960px; height: 540px;">

  <div class="kk-color-messages__inner">
    <div class="kk-color-messages__content">
      <div class="kk-color-messages__title">
        <h1> Servicemeddelelse </h1>
      </div>
      <div class="kk-color-messages__body">
        <p>Der mangler tyggegummi i automaten</p>
      </div>
    </div>

  </div>
  <img class="kk-color-messages__logo" data-ng-show="ikSlide.currentLogo" data-ng-style="{'top':ikSlide.options.logopos.top, 'bottom':ikSlide.options.logopos.bottom, 'left':ikSlide.options.logopos.left, 'right':ikSlide.options.logopos.right, 'width': ikSlide.options.logosize, 'position': 'absolute'}" data-ng-src="{{ikSlide.currentLogo}}" />
</div>
