@import "../../../assets/scss/kff";

.kk-color-messages {
  color: $colors-white;
  height: 100%;
  width: 100%;
  @include scalableFont(12, 64);
}

.kk-color-messages__logo {
  top: 1em;
  right: 1em;
  width: 3em;
  .kk-ratio-vertical & {
    top: 2em;
    right: 2em;
    width: 6em;
  }
}

.kk-color-messages__inner {
  display: grid;
  height: 100%;
  margin: 0 6% 0 10%;
  justify-content: start;
  grid-template-rows: 2fr min-content 2fr;
}

.kk-color-messages__place {
  align-self: end;
  font-size: 0.7em;
}
.kk-color-messages__title {
  @include stretchyEms("line-height", 1, 1.3);
  align-self: center;
  font-size: 2em;
  margin: 0;

  .kk-ratio-vertical & {
    font-size: 3.8em;
    margin: 2% 0 1%;
  }
}
.kk-color-messages__body {
  align-self: start;

  .kk-ratio-vertical & {
    font-size: 1.5em;
  }
}
