@import "../../../assets/scss/kff";

.kk-color-messages {
  background-size: cover;
  background-position: center;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.kk-color-messages__inner {
  color: white;
  margin: 6% 13% 4% 10%;
  font-size: 200%;
}

.kk-color-messages__place {
  font-weight: 400;
  font-size: 90%;
  margin: 0 0 3%;
}

.kk-color-messages__title {
  font-size: 400%;
  line-height: 1;
  margin: 0;
}

.kk-color-messages__body {
  font-size: 120%;
  margin-top: 2%;
}
