<div class="kk-color-messages kk-color-messages--{{ikSlide.orientation}} kk-slide-body font-kbh"
     lang="da-DK"
     data-ng-style="{'background-color': message.background_color,'width': theStyle.width, 'height': theStyle.height}"
     ng-repeat="message in ikSlide.data.subslides track by $index"
     data-ng-show="ikSlide.data.currentSlide === $index">

  <div class="kk-color-messages__inner">
    <p class="kk-color-messages__place">{{ message.place }}</p>
    <h1 class="kk-color-messages__title font-bolder hyphen-word-break"> {{message.title}}</h1>
    <p class="kk-color-messages__body" ng-bind-html="message.body"></p>
  </div>

  <img class="kk-logo--top-right kk-logo--orientation-{{ikSlide.orientation}}" data-ng-src="{{ikSlide.logo}}" alt="Logo">

</div>
