
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/assets/js/modal.js"></script>
  <script src="/assets/js/toggle-element.js"></script>
    <script src="/assets/js/menu-toggle.js"></script>
  </body>
</html>
