/**
 *
 * Icon rounded
 *
 */

$icon-rounded-color-default: $theme-color;
$icon-rounded-color-gray: $gray-dark;
$icon-rounded-border: .12em solid;
$icon-rounded-border-radius: 100%;
$icon-rounded-padding: .25em;

.icon-rounded {
  border: $icon-rounded-border;
  border-radius: $icon-rounded-border-radius;
  color: $icon-rounded-color-default;
  padding: $icon-rounded-padding;
  width: 40px;

  &.is-color-gray {
    color: $icon-rounded-color-gray;
  }
}
