
<div ng-show="pager.max" class="pager--search">
  <div data-ng-click="prevPage()" ng-class="{ 'is-disabled': pager.page == 0 }" class="pager--search-item">
    <span class="pager--search-item-inner">&#10094;</span>
  </div>

  <div data-ng-repeat="i in pager.pages" data-ng-click="changePage(i)" ng-class="{ 'is-active': pager.page == i }"  class="pager--search-item">
    <span class="pager--search-item-inner">{{ i  }}</span>
  </div>

  <div data-ng-click="nextPage()" ng-class="{ 'is-disabled': pager.page == pager.max - 1 }" class="pager--search-item">
    <span class="pager--search-item-inner">&#10095;</span>
  </div>
</div>
