.manual-calendar {
  background-size: cover;


  &--header {
    @extend %inline-textarea;

    &.has-placeholder {
      @extend %show-placeholder-text;
    }

    font-size: 100%;
  }


  &--text-inner {
    background: rgba(0,0,0,0.7);
    box-sizing: border-box;
    color: #fff;
    margin: 3% auto;
    padding: 4%;
    text-align: left;
    position:relative;
    width: 95%;
    height: 90%;
    top: 50%;

    @include transform(translateY(-50%));
    @include border-radius(10px);
  }


  &--header {
    &.has-placeholder {
      @extend %show-placeholder-text;
    }

    font-size: 100%;
    margin-bottom: .5em;
  }


  &--events {
    overflow: hidden;
  }


  &--event {
    font-size: 70%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: .5em;
    padding-bottom: .5em;

    &:last-child {
      border-bottom: 0;
    }
  }


  &--title,
  &--place,
  &--time{
    box-sizing: border-box;
    display: inline-block;
    margin-left: -4px;
    padding: 0 2em 0 .5em;
    vertical-align: middle;
    width: 33%;

    &:first-child {
      margin-left: 0;
    }
  }



  // Edit content icon.
  &--edit-box-settings {
    @extend %slide--edit-box-settings;
  }


  &--edit-content-settings {
    @extend %slide--edit-content-settings;
  }


  &--edit-image-settings {
    @extend %slide--edit-image-settings;
  }
}