<!-- Logo editor -->
<div class="edit-menu--background" role="banner">
  <div class="edit-menu--background-inner">
    <div class="edit-menu--toggle-icon" data-ng-click="editor.toggleLogoEditor()">
      <div class="svg-clickable">
        <object data="images/svg/cancel.svg" type="image/svg+xml">
          <!-- Fallback (ie8)-->
          <img src="images/cancel.png" />
        </object>
      </div>
    </div>
    <div class="edit-menu--background-page" data-ng-show="logoStep === 'logo-picker'">
      <div class="edit-menu--background-page-inner">
        <h2 class="edit-menu--background-header">Sæt ikon</h2>
        <div class="edit-menu--background-content">
          <button class="edit-menu--background-button" data-ng-click="pickLogoFromMedia()">Vælg fil fra medier</button>
          <button class="edit-menu--background-button" data-ng-click="pickLogoFromComputer()">Vælg fil fra computer</button>
        </div>
      </div>
    </div>
    <div class="edit-menu--background-page" data-ng-show="logoStep === 'pick-logo-from-media'">
      <div class="edit-menu--background-image-back" data-ng-click="logoPicker()">
        <div class="svg-clickable">
          <object data="images/svg/back.svg" type="image/svg+xml">
            <!-- Fallback (ie8)-->
            <img src="images/back.png" />
          </object>
        </div>
      </div>
      <div class="edit-menu--background-page-inner">
        <h2 class="edit-menu--background-header">Vælg fil fra medier</h2>
        <ik-media-overview ik-media-type="logo" ik-auto-search="false" ik-hide-filters="true" ik-selected-media=""></ik-media-overview>
      </div>
    </div>
    <div class="edit-menu--background-page" data-ng-show="logoStep === 'pick-logo-from-computer'">
      <div class="edit-menu--background-image-back" data-ng-click="logoPicker()">
        <div class="svg-clickable">
          <object data="images/svg/back.svg" type="image/svg+xml">
            <!-- Fallback (ie8)-->
            <img src="images/back.png" />
          </object>
        </div>
      </div>
      <div class="edit-menu--background-page-inner">
        <div class="edit-menu--background-content-alternate">
          <ik-media-upload ik-upload-type="logo"></ik-media-upload>
        </div>
      </div>
    </div>
  </div>
</div>