<div class="create-media--content" data-nv-file-drop="" uploader="uploader">
  <section id="create-media--select-files" class="overview--section" data-ng-show="currentStep==1">
    <h1 class="create-media--header">Media - vælg filer</h1>
    <p class="create-media--header-description" data-ng-if="!ikUploadType || ikUploadType === 'image'">Ved upload af video skal videoen indkodes, denne process kan tage flere minutter og afhænger af størrelsen på filen.</p>
    <div class="create-media--hidden-input-file">
      <input id="select-files" type="file" nv-file-select uploader="uploader" data-ng-if="queueLimit > 1" multiple />
      <input id="select-files" type="file" nv-file-select uploader="uploader" data-ng-if="!queueLimit || queueLimit === 0" />
    </div>
    <input type="submit" class="create-media--button" value="{{ queueLimit > 1 ? 'Vælg filer fra din computer' : 'Vælg en fil fra din computer'}}" data-ng-click="selectFiles()">

    <p>-eller-</p>

    <div class="create-media--drop-zone" data-ng-show="uploader.isHTML5">
      <div class="create-media--drop-zone-inner over-zone zone">
        <element nv-file-over uploader="uploader">
          <span class="create-media--upload-icon"></span>
          <!-- @TODO: Handle this with translations -->
          <span class="create-media--upload-text" data-ng-if="queueLimit > 1">Træk filer her for at uploade</span>
          <span class="create-media--upload-text" data-ng-if="queueLimit === 1">Træk fil her for at uploade</span>
        </element>
      </div>
    </div>
  </section>

  <section id="create-media--upload-files" class="overview--section" data-ng-show="currentStep==2">
    <h1 class="create-media--header">Media - upload</h1>
    <div class="create-media--elements">
      <label class="create-channel--schedule-label">{{ 'create_media.help_text.selected_media' | translate }}</label>
      <div class="create-media--thumb-container" data-ng-repeat="item in uploader.queue" ng-hide="uploadInProgress || uploadComplete">
        <div class="create-media--thumb" data-ng-show="isImage(item.file)">
          <div data-ng-show="uploader.isHTML5" data-ik-thumb="{ file: item._file, height: 100 }"></div>
        </div>
        <div class="create-media--text">
          <label class="create-media--text-label">Titel</label>
          <input type="text" class="create-media--text-input" placeholder="{{item.file.name}}" data-ng-model="item.formData[0].title">
          <div class="create-media--options">
            <div class="create-media--is-logo" data-ng-show="!ikUploadType && isImage(item.file)">
              <input type="checkbox" data-ng-model="item.formData[0].logo"> Logo
            </div>
            <div class="create-media--remove" data-ng-click="removeItem(item)">Fjern medie</div>
          </div>
        </div>
      </div>
      <div class="create-media--select-groups">
        <label class="create-channel--schedule-label">{{ 'create_media.help_text.select_groups' | translate }}</label>
        <ik-checklist elements="userGroups" selected="selectedGroups" identity="'id'" ng-hide="uploadInProgress || uploadComplete"></ik-checklist>
      </div>
    </div>
    <div>
      <div class="create-media--error-text">{{ uploadErrorText }}</div>
      <div class="create-media--progress" data-ng-show="uploadInProgress && uploader.progress > 0">
        <div class="create-media--progress-bar" ng-style="{ 'width': getProgress() + '%' }">{{ getProgress() }} %</div>
      </div>
      <div class="create-media--text-wrapper" data-ng-show="!uploadInProgress && uploadComplete && !uploadErrors"><img class="create-media--text-icon" src="bundles/os2displayadmin/images/icons/check-circle-full-icon.png"></img><span class="create-media--text">Upload gennemført</span></div>

      <button class="create-media--button" data-ng-show="!uploadInProgress && !uploadComplete" data-ng-click="upload()" data-ng-disabled="!uploader.getNotUploadedItems().length">Upload</button>
      <button class="create-media--button" data-ng-show="!uploadInProgress && !uploadComplete && uploader.queue.length > 0" data-ng-click="clearQueue()" data-ng-disabled="!uploader.queue.length">Ryd</button>
      <button class="create-media--button" data-ng-show="!uploadInProgress && uploadComplete" data-ng-click="clearQueue()">Upload flere</button>
    </div>
  </section>
</div>
