article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C""\201D""\2018""\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: KBH-Bold;
  src: url(../../../../fonts/KBH-Bold.ttf);
}
@font-face {
  font-family: KBH-Regular;
  src: url(../../../../fonts/KBH-Regular.ttf);
}
.edit-menu--static-color-items div {
  margin: 0 0 0.75em 0;
}
.edit-menu--static-color-items input[type="radio"] {
  display: none;
}
.edit-menu--static-color-items input[type="radio"] + label {
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.edit-menu--static-color-items input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
}
.edit-menu--static-color-items input[type="radio"] + label span {
  background-color: #292321;
  border: 2px solid gray;
}
.edit-menu--static-color-items input[type="radio"]:checked + label span {
  text-align: center;
}
.edit-menu--static-color-items input[type="radio"]:checked + label span:before {
  content: "X";
  font-size: 26px;
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.78);
}
.image-picker-placeholder {
  height: 316.5px;
  width: 250px;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-size: cover;
  background-position: center;
  clip-path: polygon(
    0% 43%,
    17% 55%,
    35% 55%,
    49% 47%,
    69% 47%,
    90% 58%,
    100% 73%,
    100% 0,
    0 0
  ) !important;
}
.reset-margin {
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.reset-padding {
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.debug {
  border: 1px solid red;
}
.child-event {
  color: #000;
  font-family: "KBH-Regular", Arial, sans-serif;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
  background-color: transparent;
  width: 100%;
}
.child-event-container {
  padding: 0rem 1.75rem;
  background-color: #709690;
}
.child-event-container--inner {
  transform: translateY(-1rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.child-event--header {
  color: #000;
  font-family: "KBH-Bold", Arial, sans-serif;
  font-size: 325%;
  text-align: left;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  white-space: pre;
}
.child-event-description-header {
  color: #000;
  font-size: 100%;
  line-height: 1.25;
  white-space: initial;
  margin-top: 2rem;
}
.child-event--info-wrapper {
  color: #000;
  font-family: "KBH-Bold", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.chile-event-location {
  display: flex;
}
.child-event-content {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.child-event-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.child-event-logos {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.child-event--footer-wrapper {
  margin-top: 2rem;
}
.child-event--footer {
  color: #000;
  font-size: 80%;
  text-align: left;
  display: flex;
  align-items: center;
}
