<!-- Background editor -->
<div class="edit-menu--background" role="banner">
  <div class="edit-menu--background-inner">
    <div class="edit-menu--toggle-icon" data-ng-click="editor.hideEditors()">
      <div class="svg-clickable">
        <object data="images/svg/cancel.svg" type="image/svg+xml">
          <!-- Fallback (ie8)-->
          <img src="images/cancel.png" />
        </object>
      </div>
    </div>
    <div class="edit-menu--background-page" data-ng-show="step === 'background-picker'">
      <div class="edit-menu--background-page-inner">
        <h2 class="edit-menu--background-header">Vælg medie</h2>
        <div class="edit-menu--background-content">
          <button class="edit-menu--background-button" data-ng-click="pickFromMedia()">Vælg fil fra medier</button>
          <button class="edit-menu--background-button" data-ng-click="pickFromComputer()">Vælg fil fra computer</button>
          <p class="edit-menu--divider">- og angiv farve -</p>
          <label class="edit-menu-background--label">Vælg en baggrundsfarve</label>
          <div class="form-group">
            <div class="edit-menu--static-color-wrapper">
              <div class="edit-menu--static-color-items">
                  <div>
                    <input type="radio" ng-model="ikSlide.options.bgcolor" value="rgb(246, 80, 88)" class="edit-menu--static-color-item" id="radio1">
                    <label for="radio1"><span style="background-color: rgb(246, 80, 88);"></span>PantoneRed</label>
                  </div>
                  <div>
                    <input type="radio" ng-model="ikSlide.options.bgcolor" value="rgb(103, 108, 115)" class="edit-menu--static-color-item" id="radio2">
                    <label for="radio2"><span style="background-color: rgb(103, 108, 115);"></span>Pantone</label>
                  </div>
                  <div>
                    <input type="radio" ng-model="ikSlide.options.bgcolor" value="rgb(0, 0, 0)" class="edit-menu--static-color-item" id="radio3">
                    <label for="radio3"><span style="background-color: rgb(0, 0, 0);"></span>Sort</label>
                  </div>
                  <div>
                    <input type="radio" ng-model="ikSlide.options.bgcolor" value="rgb(255, 255, 255)" class="edit-menu--static-color-item" id="radio4">
                    <label for="radio4"><span style="background-color: white;"></span>Hvid</label>
                  </div>
                  <div>
                    {{ikSlide.options.bgcolor}}
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="edit-menu--background-page" data-ng-show="step === 'pick-from-media'">
      <div class="edit-menu--background-image-back" data-ng-click="backgroundPicker()">
        <div class="svg-clickable">
          <object data="images/svg/back.svg" type="image/svg+xml">
            <!-- Fallback (ie8)-->
            <img src="images/back.png" />
          </object>
        </div>
      </div>
      <div class="edit-menu--background-page-inner">
        <h2 class="edit-menu--background-header">Vælg fil fra mediearkiv</h2>
        <ik-media-overview ik-media-type="'image'" ik-auto-search="false" ik-hide-filters="true" ik-selected-media="ikSlide.media"></ik-media-overview>
      </div>
    </div>
    <div class="edit-menu--background-page" data-ng-show="step === 'pick-from-computer'">
      <div class="edit-menu--background-image-back" data-ng-click="backgroundPicker()">
        <div class="svg-clickable">
          <object data="images/svg/back.svg" type="image/svg+xml">
            <!-- Fallback (ie8)-->
            <img src="images/back.png" />
          </object>
        </div>
      </div>
      <div class="edit-menu--background-page-inner">
        <div class="edit-menu--background-content-alternate">
          <ik-media-upload ik-upload-type="{{ikSlide.media_type}}"></ik-media-upload>
        </div>
      </div>
    </div>
  </div>
</div>
