<!-- Logo editor -->
<div class="edit-menu--background" role="banner">
  <div class="edit-menu--background-inner">
    <div class="edit-menu--toggle-icon" data-ng-click="editor.hideEditors()">
      <div class="svg-clickable">
        <object data="images/svg/cancel.svg" type="image/svg+xml">
          <!-- Fallback (ie8)-->
          <img src="images/cancel.png" />
        </object>
      </div>
    </div>
    <div class="edit-menu--content-page">
      <div class="edit-menu--content-page-inner">
        <h2 class="edit-menu--iframe-header">Indstillinger</h2>
        <div class="edit-menu--iframe-content">
          <div class="edit-menu--iframe-label">Hashtag (kun 1, UDEN # foran)</div>
          <input type="text" data-ng-model="ikSlide.options.instagram_hashtag">
        </div>
        <div class="edit-menu--iframe-content">
          <div class="edit-menu--iframe-label">Vælg varighed for hvert billede (s)</div>
          <input type="number" data-ng-model="ikSlide.options.instagram_duration">
        </div>
        <div class="edit-menu--iframe-content">
          <div class="edit-menu--iframe-label">Vælg antal billeder der skal vises</div>
          <input type="number" data-ng-model="ikSlide.options.instagram_number">
        </div>
      </div>
    </div>
  </div>
</div>
