<!-- Manual calendar editor -->
<div class="edit-menu--content-calendar is-visible" role="banner">
  <div class="edit-menu--content-inner">
    <div class="edit-menu--toggle-icon" data-ng-click="editor.hideEditors()">
      <div class="svg-clickable">
        <object data="images/svg/cancel.svg" type="image/svg+xml">
          <!-- Fallback (ie8)-->
          <img src="images/cancel.png" />
        </object>
      </div>
    </div>
    <div class="edit-menu--content-page">
      <div class="edit-menu--content-page-inner">
        <h2 class="edit-menu--content-header">Opret begivenheder</h2>
        <div class="edit-menu--calendar-date-template">
          <div class="edit-menu--calendar-form-element-wrapper">
            <label class="edit-menu--calendar-label">Titel</label>
            <input class="edit-menu--calendar-form-element" type="text" placeholder="Besøg i botanisk have" data-ng-model="addevent.title">
          </div>
          <div class="edit-menu--calendar-form-element-wrapper">
            <label class="edit-menu--calendar-label">Sted</label>
            <input class="edit-menu--calendar-form-element" type="text" placeholder="Botanisk have" data-ng-model="addevent.place">
          </div>
          <div class="edit-menu--calendar-form-element-wrapper">
            <label class="edit-menu--calendar-label">Fra</label>
            <input class="edit-menu--calendar-form-element-date" datetime-picker="" type="text" placeholder="15/05/2020 - 12.00" data-ng-model="addevent.from">
          </div>
          <div class="edit-menu--calendar-form-element-wrapper">
            <label class="edit-menu--calendar-label">Til</label>
            <input class="edit-menu--calendar-form-element-date" datetime-picker="" type="text" placeholder="15/05/2020 - 12.00" data-ng-model="addevent.to">
          </div>
          <div class="edit-menu--calendar-form-element-wrapper-link">
            <div class="edit-menu--calendar-add-date" data-ng-click="addEventItem()" data-ng-disabled="addevent.from > addevent.to" data-ng-class="{'is-inactive': addevent.from > addevent.to}">
              <img src="images/icons/plus-icon.png">
            </div>
          </div>
        </div>
        <div class="edit-menu--calendar-date-events">
          <div class="edit-menu--calendar-date-event" data-ng-repeat="event in slide.options.eventitems | reverseEvents" data-ng-class="{'is-outdated': eventIsOutdated(event)}">
            <div class="edit-menu--calendar-form-element-wrapper">
              <input class="edit-menu--calendar-form-element" type="text" data-ng-model="event.title">
            </div>
            <div class="edit-menu--calendar-form-element-wrapper">
              <input class="edit-menu--calendar-form-element" type="text" data-ng-model="event.place">
            </div>
            <div class="edit-menu--calendar-form-element-wrapper">
              <input class="edit-menu--calendar-form-element-date" datetime-picker="" type="text" data-ng-model="event.from">
            </div>
            <div class="edit-menu--calendar-form-element-wrapper">
              <input class="edit-menu--calendar-form-element-date" datetime-picker="" type="text" data-ng-model="event.to">
            </div>
            <div class="edit-menu--calendar-form-element-wrapper-link">
              <div class="edit-menu--calendar-remove-date" data-ng-click="removeEventItem(event)"></div><span class="edit-menu--calendar-remove-date-notice" data-ng-class="{'is-outdated': eventIsOutdated(event)}">Forældet!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>