<!-- Sets the foreground color of the slides text -->
<div class="edit-menu" role="banner">
  <a class="edit-menu--overlay is-visible" data-ng-click="editor.hideEditors()"></a>
  <div class="edit-menu--inner is-visible">
    <div class="edit-menu--toggle-icon" data-ng-click="editor.hideEditors()">X</div>
    <h2 class="edit-menu--header">Redigér tekst</h2>
    <form class="edit-menu--form">
      <label class="edit-menu--label">Tekstfarve</label>
      <input colorpicker="rgba" class="edit-menu--form-element" type="text" placeholder="e.g. #fff" data-ng-model="ikSlide.options.textcolor" data-ng-style="{'background-color': ikSlide.options.textcolor}">
    </form>
  </div>
</div>
