/**
 *
 * Submenu link
 *
 */


.submenu-link {
  @include flexbox;
  @include strip-link-styles($theme-color);

  line-height: 54px;

  &.is-active {
    border-bottom: 5px solid #0095fd;
    font-weight: bold;
    text-shadow: none;
    text-decoration: none;
  }

  + .submenu-link {
    margin-left: 1.5em;
  }
}
