<div class="wayfinding" data-ng-style="{'background-color': ikSlide.options.bgcolor, 'width': theStyle.width, 'height': theStyle.height}">
  <div class="wayfinding--inner" data-ng-style="{'background-color': ikSlide.options.bgcolor, 'background-image': 'url(' + ikSlide.currentImage + ')', 'position': 'relative'}">
    <div class="wayfinding--edit-image-settings" data-ng-click="editor.toggleBackgroundEditor()" data-ng-class="{'is-visible': navMenuOpen !== null && navMenuOpen}"></div>
  </div>
</div>


