/**
 *
 * Global silent classes
 *
 * Holds silent classes used across multiple modules.
 *
 */


// Class for displaying checkbox on selected image.
%image-check-icon--placeholder {
  display: block;
  margin: 0 auto;
  visibility: hidden;
  z-index: 1;
  position: absolute;
  top: 50%;

  @include translateY(-50%);
  @include generate-sprite-image($dashboard-sprites, 'check-circle-icon', 80);

  @include breakpoint($breakpoint-lap) {
    @include generate-sprite-image($dashboard-sprites, 'check-circle-icon', 50);
  }
  @include breakpoint(600px) {
    @include generate-sprite-image($dashboard-sprites, 'check-circle-icon', 80);
  }
}