/* Layout
   ================================================================================================================== */
$breakpoint-lap:          481px;
$breakpoint-tablet:       720px;
$breakpoint-portable:     1023px;
$breakpoint-desk:         1024px;
$breakpoint-bigscreen:    1700px;

$layout-max-width:    75em;
$border-radius:       .4em;
$grid-markup-fix:     -4px;
$layout-padding:      1em;

// We need to handle the inline-block spacing
%grid-markup-fix {
  margin-right: $grid-markup-fix;
}


/* Colors
   ================================================================================================================== */

$beige:                #f0f0e1;
$beige-dark:           #e4e4d5;

$black:                #000;
$white:                #fff;


$gray-lightest:       lighten($black, 98%);
$gray-lighter:        lighten($black, 90%);
$gray-light:          lighten($black, 80%);
$gray:                lighten($black, 70%);
$gray-dark:           lighten($black, 45%);
$gray-darker:         lighten($black, 35%);
$gray-darkest:        lighten($black, 25%);

$gray-background:     #f2f2f2;
$gray-color:          #999;

$orange:              #FF8600;


$theme-color:             rgb(21, 123, 179);
$theme-color-dark:        rgb(42, 45, 88);
$theme-color-light:       rgb(195, 226, 244);
$theme-color-secondary:   #b13a32;

/* Link colors
   ================================================================================================================== */

$link-color:          #2c79d3;
$link-color-hover:    darken($link-color, 10%);


/* Spacing
   ================================================================================================================== */

$margin-bottom:       1.5em;
$padding-bottom:      1.5em;


/* Misc
   ================================================================================================================== */

$border-color:        $gray-lighter;


/* Buttons
   ================================================================================================================== */

$button-default-background: #357fd1;
$button-default-alternate: #2361a9;
$button-default-inactive: #b8b8b8;
$button-default-warning: #b20000;


/* Z-index (inspired by https://www.smashingmagazine.com/2014/06/sassy-z-index-management-for-complex-layouts/)
   ================================================================================================================== */

$z-index-elements: header-overlay, header, content, nav, logo, overlay, hamburger-menu, nav-toggle;