<div>
  <div style="width: 50%; height: 50%; margin: 0; padding: 0; background-color: blue; position: relative; display: inline-block; float: left;">
    <region region="1" show-progress="true" scale="0.5"></region>
  </div>
  <div style="width: 50%; height: 50%; margin: 0; padding: 0; background-color: green; position: relative; display: inline-block; float: left;">
    <region region="2" show-progress="true" scale="0.5"></region>
  </div>
</div>
<div>
  <div style="width: 33%; height: 50%; margin: 0; padding: 0; background-color: red; position: relative; display: inline-block; float: left;">
    <region region="3" show-progress="true" scale="0.33"></region>
  </div>
  <div style="width: 34%; height: 50%; margin: 0; padding: 0; background-color: yellow; position: relative; display: inline-block; float: left;">
    <region region="4" show-progress="true" scale="0.34"></region>
  </div>
  <div style="width: 33%; height: 50%; margin: 0; padding: 0; background-color: purple; position: relative; display: inline-block; float: left;">
    <region region="5" show-progress="true" scale="0.33"></region>
  </div>
</div>
