<div class="presentation--border" style="max-width: 750px;">
  <div class="presentation breakpoint-50">
    <div class="presentation--inner" style="width: 700px;height:340px;">
      <div class="presentation--region-vertical" style="width: auto; height:50%;">
        <div class="presentation--region-horizontal" style="width: 50%; height:100%;" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 1})">
          <div class="presentation--region-content" data-ng-class="{'is-active': region === 1}">
            alpha
          </div>
        </div>
        <div class="presentation--region-horizontal" style="width: 50%; height:100%;" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 2})">
          <div class="presentation--region-content" data-ng-class="{'is-active': region === 2}">
            beta
          </div>
        </div>
      </div>
      <div class="presentation--region-vertical" style="width: auto; height:50%;">
        <div class="presentation--region-horizontal" style="width: 33%; height:100%;" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 3})">
          <div class="presentation--region-content" data-ng-class="{'is-active': region === 3}">
            gamma
          </div>
        </div>
        <div class="presentation--region-horizontal" style="width: 34%; height:100%;" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 4})">
          <div class="presentation--region-content" data-ng-class="{'is-active': region === 4}">
            delta
          </div>
        </div>
        <div class="presentation--region-horizontal" style="width: 33%; height:100%;" data-ng-click="triggerTool({name: 'channel-picker-tool', region: 5})">
          <div class="presentation--region-content" data-ng-class="{'is-active': region === 5}">
            epsilon
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
