<html>
  <head>
    <title>Indholdskanalen</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="five-sections.css">
    <link rel="stylesheet" href="../../slides/event-calendar/event-calendar.css">
    <link rel="stylesheet" href="../../slides/only-image/only-image.css">
    <link rel="stylesheet" href="../../slides/only-video/only-video.css">
    <link rel="stylesheet" href="../../slides/portrait-text-top/portrait-text-top.css">
    <link rel="stylesheet" href="../../slides/text-bottom/text-bottom.css">
    <link rel="stylesheet" href="../../slides/text-left/text-left.css">
    <link rel="stylesheet" href="../../slides/text-right/text-right.css">
    <link rel="stylesheet" href="../../slides/text-top/text-top.css">
    <link rel="stylesheet" href="../../slides/ik-iframe/ik-iframe.css">
    <link rel="stylesheet" href="../../slides/header-top/header-top.css">
    <link rel="stylesheet" href="../../slides/event-calendar/event-calendar.css">
  </head>
  <body>
    <div class="five-sections">
      <div class="five-sections--inner">
        <div class="five-sections--region-vertical" style="width: auto; height:50%;">
          <div class="five-sections--region-horizontal" style="width: 50%; height:100%;">
            <div class="five-sections--region-content">
              <div class="slide">
                <div class="header-top" style="font-size: 2vw">
                  <div class="header-top--inner" style="background: rgba(0,0,0,0);">
                    <div class="header-top--header-wrapper">
                      <h1 class="header-top--header">Velkommen til område Marselisborg</h1>
                    </div>
                    <div class="header-top--content">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="five-sections--region-horizontal" style="width: 50%; height:100%;">
            <div class="five-sections--region-content is-active">
              <div class="slide">
                <div class="event-calendar" style="font-size: 2vw">
                  <div class="event-calendar--inner">
                    <div class="event-calendar--header">
                      <div class="event-calendar--title-wrapper" style="padding: 2vw">
                        <h1 class="event-calendar--header-title">Hvad sker der idag</h1>
                      </div>
                      <div class="event-calendar--day" style="padding: 1vw">
                        <div class="event-calendar--day-inner">
                          <div class="event-calendar--week-day">Tor</div>
                          <div class="event-calendar--date">12</div>
                          <div class="event-calendar--month">Feb</div>
                        </div>
                      </div>
                    </div>
                    <div class="event-calendar--content" style="border-color:rgba(0,0,0,0.1);padding: 2vw">
                      <span class="event-calendar--event">
                        <span class="event-calendar--title-header"><span class="event-calendar--attribute-inner">Hvad</span></span>
                        <span class="event-calendar--place-header"><span class="event-calendar--attribute-inner">Hvor</span></span>
                        <span class="event-calendar--time-header"><span class="event-calendar--attribute-inner">Tidspunkt</span></span>
                      </span>
                      <span class="event-calendar--event">
                        <span class="event-calendar--title ng-binding"><span class="event-calendar--attribute-inner">“Dysfagi til smilets"</span></span>
                        <span class="event-calendar--place ng-binding"><span class="event-calendar--attribute-inner">Konferencelokalet</span></span>
                        <span class="event-calendar--time"><span class="event-calendar--attribute-inner">08:00 - 11:00</span></span>
                      </span>
                      <span class="event-calendar--event">
                        <span class="event-calendar--title ng-binding"><span class="event-calendar--attribute-inner">Administrationen</span></span>
                        <span class="event-calendar--place ng-binding"><span class="event-calendar--attribute-inner">Mødelokale 1</span></span>
                        <span class="event-calendar--time"><span class="event-calendar--attribute-inner">10:00 - 13:00</span></span>
                      </span>
                      <span class="event-calendar--event">
                        <span class="event-calendar--title ng-binding"><span class="event-calendar--attribute-inner">Kunst, kultur og historie</span></span>
                        <span class="event-calendar--place ng-binding"><span class="event-calendar--attribute-inner">Hjørnestuen</span></span>
                        <span class="event-calendar--time"><span class="event-calendar--attribute-inner">09:00 - 11:00</span></span>
                      </span>
                      <span class="event-calendar--event">
                        <span class="event-calendar--title ng-binding"><span class="event-calendar--attribute-inner">Kunst, kultur og historie</span></span>
                        <span class="event-calendar--place ng-binding"><span class="event-calendar--attribute-inner">Hjørnestuen</span></span>
                        <span class="event-calendar--time"><span class="event-calendar--attribute-inner">10:00 - 13:00</span></span>
                      </span>
                      <span class="event-calendar--event">
                        <span class="event-calendar--title ng-binding"><span class="event-calendar--attribute-inner">Jubilæum</span></span>
                        <span class="event-calendar--place ng-binding"><span class="event-calendar--attribute-inner">Mødelokale 1</span></span>
                        <span class="event-calendar--time"><span class="event-calendar--attribute-inner">12:00 - 15:00</span></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="five-sections--region-vertical" style="width: auto; height:50%;">
          <div class="five-sections--region-horizontal" style="width: 33%; height:100%;">
            <div class="five-sections--region-content">
              <div class="slide">
                <div class="header-top" style="font-size: 2vw">
                  <div class="header-top--inner">
                    <div class="header-top--header-wrapper">
                      <h1 class="header-top--header">Caféen i denne uge</h1>
                    </div>
                    <div class="header-top--content">
                      <p>Mandag: Frikadeller, rødkålssalat &amp; rugbrød.</p>
                      <p>Tirsdag: 1 skive rullesteg, 3 kartofler, skysovs og rødkål.</p>
                      <p>Onsdag: 1 skive nakkesteg som vildt, 3 kartofler, vildtsovs og grønt</p>
                      <p>Torsdag: Æggekage, bacon, tomat, purløg og rugbrød</p>
                      <p>Fredag: Sesamstegt kylling, pastasalat &amp; brød.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="five-sections--region-horizontal" style="width: 17%; height:100%;">
            <div class="five-sections--region-content">

            </div>
          </div>
          <div class="five-sections--region-horizontal" style="width: 50%; height:100%;">
            <div class="five-sections--region-content">
              <div class="slide">
                <div class="header-top" style="font-size: 2vw">
                  <div class="header-top--inner">
                    <div class="header-top--header-wrapper">
                      <h1 class="header-top--header">Gudstjeneste i Ankersgade</h1>
                    </div>
                    <div class="header-top--content">
                      <p>Torsdag den 11. september 2014.</p>
                      <p>Efter gudstjenesten er der kirkekaffe.</p>
                      <p>Beboerne i plejeboligerne kan blive fulgt hjem efter gudstjenesten.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
